Repository EduardoLopes/cut-branches: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, typecheck, test, tauri-tests

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: '*.{js,ts,jsx,tsx,cjs,mjs,svelte}'
      run: pnpm eslint {staged_files} --max-warnings 0 --fix && git add {staged_files}
    prettier:
      glob: '*.{js,ts,jsx,tsx,cjs,mjs,svelte,html,json,yml,md}'
      run: pnpm prettier --write {staged_files} && git add {staged_files}
    typecheck:
      glob: '*.{ts,tsx,svelte}'
      run: pnpm svelte-check
    test:
      glob: '*.{js,ts,jsx,tsx,svelte}'
      run: pnpm vitest related {staged_files} --run --silent --coverage=false
    tauri-tests:
      glob: '*.rs'
      run: pnpm test:cargo:coverage:fail

commit-msg:
  scripts:
    'commitlint.sh':
      runner: bash

fix(repository-management): surface why a discovered repo could not be added
  src/domains/repository-management/core/composables/__tests__/use-discover-repositories.test.ts
  src/domains/repository-management/core/composables/use-discover-repositories.svelte.ts
Due: eslint, prettier, typecheck, test

fix(branch-management): treat a loading selection as an empty one
  src/domains/branch-management/components/__tests__/delete-branch-modal.test.ts
  src/domains/branch-management/components/__tests__/restore-deleted-branch-modal.test.ts
  src/domains/branch-management/components/delete-branch-modal.svelte
  src/domains/branch-management/components/restore-deleted-branch-modal.svelte
Due: eslint, prettier, typecheck, test

fix(repository-management): report a failed repository refresh
  .changeset/surface-silent-failures.md
  src/domains/repository-management/core/composables/__tests__/use-repository-actions.test.ts
  src/domains/repository-management/core/composables/use-repository-actions.svelte.ts
Due: eslint, prettier, typecheck, test

fix(branch-management): don't show the not-merged alert before metrics load
  .changeset/no-merge-alert-flash.md
  src/domains/branch-management/utils/__tests__/branch-utils.test.ts
  src/domains/branch-management/utils/branch-utils.ts
Due: eslint, prettier, typecheck, test

fix(branch-management): make batch branch deletion all-or-nothing
  src-tauri/src/domains/branch_management/error.rs
  src-tauri/src/domains/branch_management/infrastructure/git/branch.rs
Due: tauri-tests

fix(branch-management): restore branches atomically and per item
  src-tauri/src/domains/branch_management/infrastructure/git/branch.rs
Due: tauri-tests

fix(branch-management): resolve commit SHAs strictly by object id
  src-tauri/src/domains/branch_management/commands/actions.rs
  src-tauri/src/domains/branch_management/infrastructure/git/branch.rs
  src-tauri/src/domains/branch_management/infrastructure/git/commit.rs
Due: tauri-tests

fix(branch-management): tolerate a detached HEAD when listing branches
  .changeset/tolerant-detached-head.md
  src-tauri/src/composition.rs
  src-tauri/src/domains/branch_management/infrastructure/git/branch.rs
  src-tauri/src/domains/repository_management/core/ports.rs
Due: prettier, tauri-tests

test(backend): scrub git hook environment from spawned git commands
  src-tauri/src/domains/branch_management/core/application/branch_metrics.rs
  src-tauri/src/domains/branch_management/infrastructure/git/branch.rs
  src-tauri/src/domains/branch_management/infrastructure/git/commit.rs
  src-tauri/src/domains/repository_management/infrastructure/scanner.rs
  src-tauri/src/domains/repository_management/infrastructure/state_hash.rs
  src-tauri/src/domains/worktree_management/infrastructure/git.rs
  src-tauri/src/shared/utils/test_utils.rs
Due: tauri-tests

fix(branch-management): tell the user why a branch switch was refused
  .changeset/surface-switch-and-restore-failures.md
  src-tauri/src/domains/branch_management/error.rs
  src/domains/branch-management/infrastructure/mutations/create-switch-branch-mutation.ts
Due: eslint, prettier, typecheck, test, tauri-tests

fix(branch-management): report per-item restore failures
  src/domains/branch-management/core/composables/__tests__/use-restore-flow.test.ts
  src/domains/branch-management/core/composables/use-restore-flow.svelte.ts
  src/domains/branch-management/utils/__tests__/build-restore-success-notification.test.ts
  src/domains/branch-management/utils/build-restore-success-notification.ts
Due: eslint, prettier, typecheck, test

fix(repository-management): keep scan results when the folder picker is cancelled
  src/domains/repository-management/components/scan-repositories-modal.svelte
Due: eslint, prettier, typecheck, test

fix(infrastructure): notify when the repository list fails to load
  src/infrastructure/queries/create-get-repository-list-query.ts
Due: eslint, prettier, typecheck, test

fix(repository-management): accept repositories with no commits yet
  src-tauri/src/domains/branch_management/error.rs
  src-tauri/src/domains/branch_management/infrastructure/git/branch.rs
  src-tauri/src/domains/repository_management/infrastructure/scanner.rs
  src-tauri/src/shared/infrastructure/git/validation.rs
Due: tauri-tests

fix(repository-management): report an error when deleting an unknown repository
  src-tauri/src/domains/repository_management/commands/delete.rs
Due: tauri-tests

fix(repository-management): fingerprint and watch the real git dir of linked worktrees
  .changeset/worktree-repo-state-fingerprint.md
  src-tauri/src/domains/repository_management/commands/watch.rs
  src-tauri/src/domains/repository_management/error.rs
  src-tauri/src/domains/repository_management/infrastructure/state_hash.rs
Due: prettier, tauri-tests

fix(repository-management): discard results from superseded repository scans
  .changeset/repository-flow-fixes.md
  src/domains/repository-management/components/__tests__/add-repository-menu.test.ts
  src/domains/repository-management/components/__tests__/scan-repositories-modal.test.ts
  src/domains/repository-management/components/scan-repositories-modal.svelte
  src/domains/repository-management/core/composables/__tests__/use-discover-repositories.test.ts
  src/domains/repository-management/core/composables/use-discover-repositories.svelte.ts
Due: eslint, prettier, typecheck, test

fix(repository-management): percent-encode repository ids in routes
  src/domains/onboarding/components/redirect-to-app.svelte
  src/domains/repository-management/components/__tests__/manage-repositories-modal.test.ts
  src/domains/repository-management/components/manage-repositories-modal.svelte
  src/domains/repository-management/components/remove-repository-modal.svelte
  src/domains/repository-navigation/components/repository-nav-list.svelte
  src/lib/__tests__/repository-route.test.ts
  src/lib/repository-route.ts
  src/routes/repos/+page.svelte
Due: eslint, prettier, typecheck, test

refactor(repository-management): drop the dead add-repository invalidation
  src/domains/repository-management/core/composables/__tests__/use-add-repository.test.ts
  src/domains/repository-management/core/composables/use-add-repository.svelte.ts
Due: eslint, prettier, typecheck, test

fix(repository-management): ignore a sync check started for another repository
  src/domains/repository-management/core/composables/__tests__/use-repository-watch.test.ts
  src/domains/repository-management/core/composables/use-repository-watch.svelte.ts
Due: eslint, prettier, typecheck, test

fix(infrastructure): stop leaking a duplicate repository-changed listener
  src/components/__tests__/providers.test.ts
  src/components/providers.svelte
Due: eslint, prettier, typecheck, test

fix(repository-management): report why a batch removal failed and invalidate its caches
  src/domains/repository-management/components/manage-repositories-modal.svelte
  src/domains/repository-management/core/composables/__tests__/use-remove-repository-batch.test.ts
  src/domains/repository-management/core/composables/use-remove-repository-batch.svelte.ts
Due: eslint, prettier, typecheck, test

fix(repository-management): match watcher events against the exact ref surface
  .changeset/watcher-precise-ref-matching.md
  src-tauri/src/domains/repository_management/commands/watch.rs
Due: prettier, tauri-tests

perf(repository-management): memoize resolved repository watch paths
  src-tauri/src/domains/repository_management/commands/watch.rs
Due: tauri-tests

fix(watcher): refcount watched paths so shared git dirs survive an unwatch
  src-tauri/src/domains/repository_management/commands/watch.rs
  src-tauri/src/shared/infrastructure/watcher/mod.rs
Due: tauri-tests

fix(repository-management): keep the manage modal open on a partial failure
  src/domains/repository-management/components/__tests__/manage-repositories-modal.test.ts
  src/domains/repository-management/components/manage-repositories-modal.svelte
Due: eslint, prettier, typecheck, test

fix(lib): route every repository link through the encoding helpers
  .changeset/repository-route-and-removal-fixes.md
  eslint.config.js
  src/components/__tests__/repository-context-tabs.test.ts
  src/components/app-shell.svelte
  src/components/repository-context-tabs.svelte
  src/domains/branch-management/components/__tests__/branch-context-filter.test.ts
  src/domains/branch-management/components/branch-context-filter.svelte
  src/domains/branch-management/components/branch-list.svelte
  src/domains/branch-management/components/delete-branch-modal.svelte
  src/domains/branch-management/features/commit-history/components/branch-gutter-cell.svelte
  src/domains/branch-management/features/commit-history/components/branch-recent-commits.svelte
  src/domains/branch-management/features/commit-history/components/commit-graph-preview.svelte
  src/domains/branch-management/features/commit-history/components/commit-row.svelte
  src/domains/repository-management/core/composables/__tests__/repository.test.ts
  src/domains/repository-management/core/composables/repository.svelte.ts
  src/lib/__tests__/repository-route.test.ts
  src/lib/repository-route.ts
  src/routes/repos/[id]/+layout.svelte
  src/routes/repos/[id]/diff/+page.svelte
  src/routes/repos/[id]/history/+page.svelte
  src/routes/repos/[id]/worktrees/+page.svelte
Due: eslint, prettier, typecheck, test

fix(repository-management): keep the remove dialog up until the removal settles
  src/domains/repository-management/components/__tests__/remove-repository-modal.test.ts
  src/domains/repository-management/components/remove-repository-modal.svelte
Due: eslint, prettier, typecheck, test

fix(repository-management): reset the sync verdict when the repository changes
  src/domains/repository-management/core/composables/__tests__/use-repository-watch.svelte.test.ts
  src/domains/repository-management/core/composables/use-repository-watch.svelte.ts
Due: eslint, prettier, typecheck, test

refactor(repository-management): render the scan spinner from the composable
  src/domains/repository-management/components/__tests__/scan-repositories-modal.test.ts
  src/domains/repository-management/components/scan-repositories-modal.svelte
  src/domains/repository-management/core/composables/__tests__/use-discover-repositories.test.ts
  src/domains/repository-management/core/composables/use-discover-repositories.svelte.ts
Due: eslint, prettier, typecheck, test

fix(repository-management): stop refetching repositories the batch just removed
  src/domains/repository-management/core/composables/__tests__/use-remove-repository-batch.test.ts
  src/domains/repository-management/core/composables/use-remove-repository-batch.svelte.ts
Due: eslint, prettier, typecheck, test

fix(branch-management): move the eslint directive onto the goto call
  src/domains/branch-management/features/commit-history/components/commit-graph-preview.svelte
Due: eslint, prettier, typecheck, test

fix(repository-management): drop the unused Loading import from the remove modal
  src/domains/repository-management/components/remove-repository-modal.svelte
Due: eslint, prettier, typecheck, test

feat(utils): add path truncation and highlight helpers
  src/utils/__tests__/truncate-path.test.ts
  src/utils/truncate-path.ts
Due: eslint, prettier, typecheck, test

feat(ui): add truncated-path component
  src/ui/core/__tests__/truncated-path.test.ts
  src/ui/core/truncated-path.svelte
Due: eslint, prettier, typecheck, test

feat(repository-management): expose the main repository of discovered worktrees
  src-tauri/src/domains/repository_management/commands/discover.rs
  src-tauri/src/domains/repository_management/infrastructure/scanner.rs
  src/domains/repository-management/core/composables/__tests__/use-discover-repositories.test.ts
  src/domains/repository-management/core/composables/use-discover-repositories.svelte.ts
  src/infrastructure/bindings.ts
Due: eslint, prettier, typecheck, test, tauri-tests

feat(repository-management): redesign the find repositories modal
  .changeset/find-repositories-modal-redesign.md
  src/domains/repository-management/components/__tests__/scan-repositories-modal.test.ts
  src/domains/repository-management/components/scan-repositories-modal.svelte
  src/domains/repository-management/utils/__tests__/group-discovered-repositories.test.ts
  src/domains/repository-management/utils/group-discovered-repositories.ts
Due: eslint, prettier, typecheck, test

feat(repository-management): polish the find repositories results list
  .changeset/find-repositories-modal-redesign.md
  src/domains/repository-management/components/__tests__/scan-repositories-modal.test.ts
  src/domains/repository-management/components/scan-repositories-modal.svelte
Due: eslint, prettier, typecheck, test

refactor(lib): promote the scroll-shadow action out of repository-navigation
  src/domains/repository-navigation/components/repository-nav-list.svelte
  src/lib/__tests__/scroll-shadow.test.ts
  src/lib/scroll-shadow.ts
Due: eslint, prettier, typecheck, test

feat(ui): add dialog list patterns
  src/ui/patterns/README.md
  src/ui/patterns/__tests__/dialog-footer.test.ts
  src/ui/patterns/__tests__/dialog-toolbar.test.ts
  src/ui/patterns/__tests__/list-filter.test.ts
  src/ui/patterns/__tests__/scroll-well.test.ts
  src/ui/patterns/__tests__/selection-row.test.ts
  src/ui/patterns/dialog-footer.svelte
  src/ui/patterns/dialog-toolbar.svelte
  src/ui/patterns/list-filter.svelte
  src/ui/patterns/scroll-well.svelte
  src/ui/patterns/selection-row.svelte
Due: eslint, prettier, typecheck, test
