Repository EduardoLopes/cut-branches: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, typecheck, test, tauri-tests

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: '*.{js,ts,jsx,tsx,cjs,mjs,svelte}'
      run: pnpm eslint {staged_files} --max-warnings 0 --fix && git add {staged_files}
    prettier:
      glob: '*.{js,ts,jsx,tsx,cjs,mjs,svelte,html,json,yml,md}'
      run: pnpm prettier --write {staged_files} && git add {staged_files}
    typecheck:
      glob: '*.{ts,tsx,svelte}'
      run: pnpm svelte-check
    test:
      glob: '*.{js,ts,jsx,tsx,svelte}'
      run: pnpm vitest related {staged_files} --run --silent --coverage=false
    tauri-tests:
      glob: '*.rs'
      run: pnpm test:cargo:coverage:fail

commit-msg:
  scripts:
    'commitlint.sh':
      runner: bash

refactor(repository-management): build the find repositories modal from the dialog patterns
  src/domains/repository-management/components/__tests__/scan-repositories-modal.test.ts
  src/domains/repository-management/components/scan-repositories-modal.svelte
Due: eslint, prettier, typecheck, test

feat(repository-management): align the manage repositories modal with the dialog patterns
  src/domains/repository-management/components/__tests__/manage-repositories-modal.test.ts
  src/domains/repository-management/components/manage-repositories-modal.svelte
Due: eslint, prettier, typecheck, test

feat(repository-cleanup): align the clean repository modal with the dialog patterns
  src/domains/repository-cleanup/components/__tests__/clean-repository-modal.test.ts
  src/domains/repository-cleanup/components/clean-repository-modal.svelte
  src/domains/repository-cleanup/components/cleanup-target-list.svelte
Due: eslint, prettier, typecheck, test

feat(worktree-management): align the add worktree modal with the dialog patterns
  src/domains/worktree-management/components/__tests__/add-worktree-modal.test.ts
  src/domains/worktree-management/components/add-worktree-modal.svelte
Due: eslint, prettier, typecheck, test

feat(worktree-management): align the delete worktrees modal with the dialog patterns
  src/domains/worktree-management/components/__tests__/delete-worktrees-modal.test.ts
  src/domains/worktree-management/components/delete-worktrees-modal.svelte
Due: eslint, prettier, typecheck, test

feat(branch-management): align the delete branches modal with the dialog patterns
  src/domains/branch-management/components/__tests__/delete-branch-modal.test.ts
  src/domains/branch-management/components/delete-branch-modal.svelte
Due: eslint, prettier, typecheck, test

feat(branch-management): align the restore branches modal with the dialog patterns
  src/domains/branch-management/components/__tests__/restore-deleted-branch-modal.test.ts
  src/domains/branch-management/components/restore-deleted-branch-modal.svelte
Due: eslint, prettier, typecheck, test

feat(repository-management): align the remove repository modal with the dialog patterns
  src/domains/repository-management/components/__tests__/remove-repository-modal.test.ts
  src/domains/repository-management/components/remove-repository-modal.svelte
Due: eslint, prettier, typecheck, test

chore: add changeset for the dialog pattern rollout
  .changeset/dialog-pattern-rollout.md
Due: prettier

fix(repository-management): widen the remove repository modal so its question stays on one line
  src/domains/repository-management/components/remove-repository-modal.svelte
Due: eslint, prettier, typecheck, test

fix(branch-management): drop the filled container around each restore status card
  src/domains/branch-management/components/restore-branch-status-card.svelte
Due: eslint, prettier, typecheck, test

feat(ui): add dialog-header and use it across the dialogs
  src/domains/branch-management/components/delete-branch-modal.svelte
  src/domains/branch-management/components/restore-deleted-branch-modal.svelte
  src/domains/repository-cleanup/components/clean-repository-modal.svelte
  src/domains/repository-management/components/manage-repositories-modal.svelte
  src/domains/repository-management/components/remove-repository-modal.svelte
  src/domains/repository-management/components/scan-repositories-modal.svelte
  src/domains/worktree-management/components/add-worktree-modal.svelte
  src/domains/worktree-management/components/delete-worktrees-modal.svelte
  src/ui/patterns/README.md
  src/ui/patterns/__tests__/dialog-header.test.ts
  src/ui/patterns/dialog-header.svelte
Due: eslint, prettier, typecheck, test

style(ui): give the dialog header stamp a borderless surface.base tile
  src/ui/patterns/README.md
  src/ui/patterns/dialog-header.svelte
Due: eslint, prettier, typecheck, test

perf(git): compute merge status for every branch with one revwalk
  src-tauri/src/composition.rs
  src-tauri/src/domains/branch_management/core/application/sync.rs
  src-tauri/src/domains/branch_management/infrastructure/git/branch.rs
  src-tauri/src/domains/repository_management/commands/create.rs
  src-tauri/src/domains/repository_management/core/application/discovery.rs
  src-tauri/src/domains/repository_management/core/ports.rs
  src-tauri/src/perf_bench.rs
Due: tauri-tests

fix(branch-management): read merge status from the listing so rows never grow
  .changeset/delete-modal-stable-rows.md
  src/domains/branch-management/components/__tests__/delete-branch-modal.test.ts
  src/domains/branch-management/components/delete-branch-modal.svelte
  src/domains/branch-management/utils/__tests__/branch-utils.test.ts
  src/domains/branch-management/utils/branch-utils.ts
Due: eslint, prettier, typecheck, test

fix(branch-management): keep the delete modal's bottom padding after the last row
  src/domains/branch-management/components/delete-branch-modal.svelte
Due: eslint, prettier, typecheck, test

build: migrate changesets to v3
  .changeset/config.json
  CLAUDE.md
  package.json
  patches/@changesets__changelog-github@0.7.0.patch
  pnpm-lock.yaml
Due: prettier

chore: use the published commit skill
  .claude/settings.json
  .claude/skills/commit/SKILL.md
Due: prettier

chore(deps): update rust toolchain and crates to latest
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/domains/branch_management/features/code_structure/analysis.rs
  src-tauri/src/domains/branch_management/features/commit_history/git.rs
  src-tauri/src/domains/branch_management/infrastructure/git/branch.rs
  src-tauri/src/domains/repository_cleanup/commands/clean.rs
  src-tauri/src/domains/repository_cleanup/commands/scan.rs
  src-tauri/src/domains/repository_cleanup/commands/stale.rs
  src-tauri/src/domains/repository_cleanup/core/models/cleanup_target.rs
  src-tauri/src/domains/repository_cleanup/events.rs
  src-tauri/src/domains/worktree_management/infrastructure/git.rs
  src-tauri/src/main.rs
  src-tauri/src/shared/infrastructure/db/models.rs
  src-tauri/src/shared/infrastructure/watcher/mod.rs
  src/infrastructure/bindings.ts
  src/infrastructure/tauri-commands.ts
Due: eslint, prettier, typecheck, test, tauri-tests

refactor(backend): satisfy clippy 1.98 lints
  src-tauri/src/domains/branch_management/filters.rs
  src-tauri/src/domains/repository_management/commands/create.rs
  src-tauri/src/domains/repository_management/core/application/discovery.rs
Due: tauri-tests

chore: add changeset for the dependency refresh
  .changeset/dependency-refresh.md
Due: prettier

fix(lib): notify the first reader of a lazily created store
  src/lib/__tests__/abstract-store-reactivity.svelte.test.ts
  src/lib/abstract-store.svelte.ts
Due: eslint, prettier, typecheck, test

chore: add changeset for the store reactivity fix
  .changeset/slimy-rocks-win.md
Due: prettier

feat(lib): support hidden feature flags
  src/domains/app-settings/components/__tests__/feature-flags-panel.test.ts
  src/domains/app-settings/components/feature-flags-panel.svelte
  src/lib/__tests__/feature-flags.test.ts
  src/lib/feature-flags.svelte.ts
Due: eslint, prettier, typecheck, test

fix(ui): give the selected branch card an accent border
  src/ui/core/branch-card.svelte
Due: eslint, prettier, typecheck, test

chore: add changeset for the selected branch card border
  .changeset/funky-poems-attack.md
Due: prettier

build: disable the changesets auto-commit
  .changeset/config.json
  CLAUDE.md
Due: prettier

build: drop the unused changesets commit function
  .changeset/commit.cjs
Due: eslint, prettier

feat(ui): give the scroll well an attached header
  src/ui/patterns/README.md
  src/ui/patterns/__tests__/scroll-well.test.ts
  src/ui/patterns/scroll-well.svelte
Due: eslint, prettier, typecheck, test

style: attach the select-all bar to its pick-list
  .changeset/attached-list-header.md
  src/domains/repository-cleanup/components/clean-repository-modal.svelte
  src/domains/repository-management/components/manage-repositories-modal.svelte
  src/domains/repository-management/components/scan-repositories-modal.svelte
Due: eslint, prettier, typecheck, test

fix(build): resolve @pindoba/devtools from npm
  CLAUDE.md
  package.json
  panda.config.ts
  pnpm-lock.yaml
  src/components/app-shell.svelte
Due: eslint, prettier, typecheck, test

ci: install the playwright browsers for the test job
  .github/actions/node-setup/action.yml
  .github/workflows/test-check.yml
Due: prettier

build: sync the rust package version on release
  scripts/update-tauri-version.mjs
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: eslint, prettier

ci: release automatically from the version packages PR
  .github/workflows/publish.yml
  .github/workflows/release.yml
  package.json
Due: prettier

build(backend): drop the unused git2 https feature
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
Due: none

ci: move the intel mac build off the removed macos-13 runner
  .github/actions/rust-setup/action.yml
  .github/workflows/publish.yml
Due: prettier

docs: add a roadmap with the homebrew cask plan
  docs/index.md
  docs/roadmap.md
Due: prettier

ci: clear the workflow hygiene backlog
  .github/actions/node-setup/action.yml
  .github/actions/rust-setup/action.yml
  .github/workflows/publish.yml
  .github/workflows/release.yml
  .github/workflows/rust-check.yml
  .github/workflows/test-check.yml
Due: prettier

fix(deps): declare the playwright peer the test suite needs
  .github/actions/node-setup/action.yml
  package.json
  pnpm-lock.yaml
Due: prettier
