Repository EduardoLopes/cut-branches: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, typecheck, test, tauri-tests

eslint:
  run: pnpm eslint {staged_files} --max-warnings 0 --fix && git add {staged_files}

prettier:
  run: pnpm prettier --write {staged_files} && git add {staged_files}

typecheck:
  run: pnpm svelte-check

test:
  run: pnpm vitest related {staged_files} --run --silent --coverage=false

tauri-tests:
  run: pnpm test:cargo:coverage:fail

chore(actions): specify working directory for Rust checks in GitHub Actions workflow
  .github/workflows/rust-check.yml
Due: prettier

chore(actions): add pnpm installation step to Node.js setup workflow
  .github/actions/node-setup/action.yml
Due: prettier

chore(actions): remove version specification for pnpm in Node.js setup workflow
  .github/actions/node-setup/action.yml
Due: prettier

chore(actions): add GTK dependencies installation step to Rust check workflows
  .github/workflows/rust-check.yml
Due: prettier

chore(actions): update formatting check step in GitHub Actions workflow
  .github/workflows/test-check.yml
Due: prettier

chore(actions): consolidate GTK dependencies installation into Rust setup action
  .github/actions/rust-setup/action.yml
  .github/workflows/rust-check.yml
Due: prettier

chore(actions): update GTK dependencies in Rust setup action
  .github/actions/rust-setup/action.yml
Due: prettier

chore(actions): fix typo in libsoup dependency for Rust setup action
  .github/actions/rust-setup/action.yml
Due: prettier

chore(actions): add Node.js setup and frontend build steps to Rust check workflow
  .github/workflows/rust-check.yml
Due: prettier

chore(actions): add frontend build step to Rust check workflow
  .github/workflows/rust-check.yml
Due: prettier

refactor(commands): simplify error handling and improve branch existence check
  src-tauri/src/commands.rs
  src-tauri/src/git/branch.rs
  src-tauri/src/git/commit.rs
  src-tauri/src/path.rs
Due: tauri-tests

chore(package): add Rust-related scripts for formatting, linting, and testing
  package.json
Due: prettier

chore(coverage): transition from cargo-tarpaulin to cargo llvm-cov for coverage reporting
  .gitignore
  README.md
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/scripts/coverage.sh
Due: prettier

chore(coverage): update cargo llvm-cov configuration and add new test utilities
  package.json
  src-tauri/.llvm-cov.yml
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/lcov.config
  src-tauri/src/path.rs
  src-tauri/src/test_utils.rs
Due: prettier, tauri-tests

feat(commands): restructure commands module by separating functionalities into distinct files
  src-tauri/src/commands/branch.rs
  src-tauri/src/commands/commit.rs
  src-tauri/src/commands/mod.rs
  src-tauri/src/commands/repo.rs
Due: tauri-tests

feat(cargo-tests): remove git tests.rs file and put each test on it's corresponding file
  src-tauri/src/git/branch.rs
  src-tauri/src/git/commit.rs
  src-tauri/src/git/mod.rs
  src-tauri/src/git/tests.rs
  src-tauri/src/test_utils.rs
Due: tauri-tests

refactor(path): replace command-line git calls with git2 library for repository checks
  src-tauri/src/path.rs
Due: tauri-tests

refactor(path): enhance is_git_repository function to handle corrupted repositories
  src-tauri/src/path.rs
Due: tauri-tests

test(branch): add comprehensive tests for restoring deleted branches and handling errors
  src-tauri/src/git/branch.rs
Due: tauri-tests

chore(coverage): remove Makefile.toml for cargo-tarpaulin tasks and scripts
  src-tauri/Makefile.toml
Due: none

fix(tests): replace expect with unwrap_or_else for better error handling in branch and repo tests
  src-tauri/src/commands/branch.rs
  src-tauri/src/commands/repo.rs
  src-tauri/src/git/types.rs
Due: tauri-tests

refactor(path): extract repository validation logic into a separate function
  src-tauri/src/path.rs
Due: tauri-tests

feat(branch-list): add branchesType prop to differentiate between current and deleted branches
  src/lib/components/branch-list.svelte
  src/lib/components/branch.svelte
Due: eslint, prettier, typecheck, test

fix(branch-list): correct selection logic for deleted branches based on branchesType
  src/lib/components/branch-list.svelte
  src/lib/components/repository.svelte
Due: eslint, prettier, typecheck, test

refactor(repository): remove unnecessary padding and border radius styles for improved layout
  src/lib/components/repository.svelte
Due: eslint, prettier, typecheck, test

style(notifications-popover): update color scheme to use neutral colors for better accessibility
  src/lib/components/notifications-popover.svelte
Due: eslint, prettier, typecheck, test

refactor(menu): streamline background color handling for light and dark themes
  src/lib/components/menu.svelte
Due: eslint, prettier, typecheck, test

style(footer): update footer color scheme to use neutral colors for improved consistency
  src/lib/components/footer.svelte
Due: eslint, prettier, typecheck, test

style(footer): tweak visuals
  .changeset/tame-ants-joke.md
  src/lib/components/footer.svelte
Due: eslint, prettier, typecheck, test

refactor(branches-bulk-actions): update actionsSnippet type
  src/lib/components/branches-bulk-actions.svelte
  src/lib/components/repository.svelte
Due: eslint, prettier, typecheck, test

chore: version package
  .changeset/blue-wasps-peel.md
  .changeset/crazy-toes-dance.md
  .changeset/eager-weeks-flow.md
  .changeset/fine-comics-exist.md
  .changeset/giant-pots-live.md
  .changeset/orange-dolls-attack.md
  .changeset/pink-ghosts-walk.md
  .changeset/public-yaks-see.md
  .changeset/rich-melons-float.md
  .changeset/rude-buttons-notice.md
  .changeset/sad-houses-fetch.md
  .changeset/salty-frogs-cross.md
  .changeset/shaky-rabbits-lay.md
  .changeset/shy-fans-juggle.md
  .changeset/small-laws-bow.md
  .changeset/tame-ants-joke.md
  .changeset/ten-rats-thank.md
  .changeset/two-dingos-build.md
  .changeset/vast-hoops-clap.md
  .changeset/weak-carrots-repair.md
  .changeset/weak-hands-cry.md
  CHANGELOG.md
  package.json
  src-tauri/tauri.conf.json
Due: prettier

chore: update workflow to use test-check.yml for testing
  .github/workflows/publish.yml
Due: prettier

chore: add macOS dependency installation and OpenSSL environment setup to workflow
  .github/workflows/publish.yml
Due: prettier

ci: try to fix stuff
  .github/actions/node-setup/action.yml
  .github/workflows/publish.yml
  .github/workflows/rust-check.yml
  .github/workflows/test-check.yml
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
Due: prettier

ci: refactor GitHub Actions workflows to include test and rust checks before publishing
  .github/workflows/publish.yml
  .github/workflows/rust-check.yml
  .github/workflows/test-check.yml
Due: prettier

chore: update deps
  package.json
  pnpm-lock.yaml
  src-tauri/Cargo.lock
Due: prettier

feat: add testing documentation and testing utilities
  .changeset/evil-dragons-switch.md
  docs/component-diagram.md
  docs/index.md
  docs/restore-branches-implementation.md
  docs/system-overview.md
  docs/testing.md
  src/components/test-wrapper.svelte
  src/domains/branch-management/components/__tests__/branch-list.test.ts
  src/domains/branch-management/services/__tests__/createDeleteBranchesMutation.test.ts
  src/domains/branch-management/services/__tests__/createSwitchBranchMutation.test.ts
  src/domains/repository-management/services/__tests__/createGetRepositoryByPathQuery.test.ts
  src/utils/test-utils.ts
  vitest-setup.js
Due: eslint, prettier, typecheck, test

feat: add more tests
  .cursor/rules/typescript.mdc
  src/components/__tests__/providers.test.ts
  src/domains/branch-management/services/__tests__/createCheckCommitReachableQuery.test.ts
  src/domains/branch-management/services/__tests__/createRestoreDeletedBranchMutation.test.ts
  src/domains/branch-management/services/__tests__/createSwitchBranchMutation.test.ts
  src/domains/branch-management/store/__tests__/deleted-branches.test.ts
  src/domains/branch-management/store/__tests__/selected-branches.test.ts
  src/domains/branch-management/views/__tests__/restore-branches-view.test.ts
  src/domains/notifications/store/__tests__/notifications.test.ts
  src/routes/add-first/__tests__/add-first-page-route.test.ts
  src/routes/add-first/__tests__/add-first-page.test.ts
  src/routes/repos/[id]/restore/__tests__/page-loader.test.ts
  src/routes/repos/[id]/restore/__tests__/page.test.ts
  src/utils/__tests__/get-local-storage.test.ts
  src/utils/__tests__/store.test.ts
  src/utils/__tests__/svelte-runes-utils.test.ts
  tsconfig.json
Due: eslint, prettier, typecheck, test

feat: add more tests
  src/components/__tests__/providers.test.ts
  src/domains/branch-management/components/__tests__/delete-branch-modal.test.ts
  src/domains/branch-management/services/__tests__/createRestoreDeletedBranchMutation.test.ts
  src/domains/repository-management/components/__tests__/repository-header.test.ts
Due: eslint, prettier, typecheck, test

Path conditions:
  eslint: any of: *.{js,ts,jsx,tsx,cjs,mjs,svelte}
  prettier: any of: *.{js,ts,jsx,tsx,cjs,mjs,svelte,html,json,yml,md}
  typecheck: any of: *.{ts,tsx,svelte}
  test: any of: *.{js,ts,jsx,tsx,svelte}
  tauri-tests: any of: *.rs
