Repository EduardoLopes/cut-branches: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, typecheck, test, tauri-tests

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: '*.{js,ts,jsx,tsx,cjs,mjs,svelte}'
      run: pnpm eslint {staged_files} --max-warnings 0 --fix && git add {staged_files}
    prettier:
      glob: '*.{js,ts,jsx,tsx,cjs,mjs,svelte,html,json,yml,md}'
      run: pnpm prettier --write {staged_files} && git add {staged_files}
    typecheck:
      glob: '*.{ts,tsx,svelte}'
      run: pnpm svelte-check
    test:
      glob: '*.{js,ts,jsx,tsx,svelte}'
      run: pnpm vitest related {staged_files} --run --silent --coverage=false
    tauri-tests:
      glob: '*.rs'
      run: pnpm test:cargo:coverage:fail

commit-msg:
  scripts:
    'commitlint.sh':
      runner: bash

feat: add architecture documentation;
  CLAUDE.md
  docs/adr/001-static-assets-strategy.md
  docs/architecture.md
  src/routes/+layout.svelte
  src/styles/app.css
  static/svelte-welcome.png
  static/svelte-welcome.webp
Due: eslint, prettier, typecheck, test

chore: update deps
  .changeset/whole-lamps-dance.md
  package.json
  pnpm-lock.yaml
  src-tauri/Cargo.lock
  src-tauri/gen/schemas/acl-manifests.json
  src-tauri/gen/schemas/desktop-schema.json
  src-tauri/gen/schemas/macOS-schema.json
Due: prettier

refactor: replace invoke calls with generated bindings for branch management and repository services
  .changeset/silent-cups-design.md
  eslint.config.js
  lefthook.yml
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/commands/branch.rs
  src-tauri/src/commands/commit.rs
  src-tauri/src/commands/repo.rs
  src-tauri/src/error.rs
  src-tauri/src/events.rs
  src-tauri/src/git/types.rs
  src-tauri/src/lib.rs
  src-tauri/src/main.rs
  src-tauri/src/path.rs
  src/domains/branch-management/components/restore-deleted-branch-modal.svelte
  src/domains/branch-management/services/__tests__/createCheckCommitReachableQuery.test.ts
  src/domains/branch-management/services/__tests__/createDeleteBranchesMutation.test.ts
  src/domains/branch-management/services/__tests__/createRestoreDeletedBranchMutation.test.ts
  src/domains/branch-management/services/createCheckCommitReachableQuery.ts
  src/domains/branch-management/services/createDeleteBranchesMutation.ts
  src/domains/branch-management/services/createRestoreDeletedBranchMutation.ts
  src/domains/branch-management/services/createSwitchBranchMutation.ts
  src/domains/repository-management/services/__tests__/createGetRepositoryByPathQuery.test.ts
  src/domains/repository-management/services/createGetRepositoryByPathQuery.ts
  src/lib/bindings.ts
  src/routes/+layout.svelte
  src/routes/repos/[id]/restore/__tests__/page-loader.test.ts
Due: eslint, prettier, typecheck, test, tauri-tests

refactor: update error handling to use AppError struct across branch and repository services
  .changeset/gold-birds-cheer.md
  src-tauri/src/commands/branch.rs
  src-tauri/src/commands/commit.rs
  src-tauri/src/commands/repo.rs
  src-tauri/src/error.rs
  src-tauri/src/git/branch.rs
  src-tauri/src/git/commit.rs
  src-tauri/src/path.rs
  src/domains/branch-management/services/createRestoreDeletedBranchMutation.ts
  src/domains/branch-management/services/createSwitchBranchMutation.ts
  src/lib/bindings.ts
Due: eslint, prettier, typecheck, test, tauri-tests

refactor: enhance error handling and streamline command definitions in bindings
  src/domains/branch-management/services/createDeleteBranchesMutation.ts
Due: eslint, prettier, typecheck, test

chore: add Tauri bindings to .prettierignore
  .prettierignore
Due: none

refactor: consolidate branch management types and services, removing deprecated structures
  .prettierignore
  src-tauri/src/domains/branch_management/commands/delete.rs
  src-tauri/src/domains/branch_management/commands/restore.rs
  src-tauri/src/domains/branch_management/events.rs
  src-tauri/src/domains/branch_management/git/branch.rs
  src-tauri/src/domains/branch_management/mod.rs
  src-tauri/src/domains/branch_management/services/deletion.rs
  src-tauri/src/domains/branch_management/services/restoration.rs
  src-tauri/src/domains/branch_management/types/branch.rs
  src-tauri/src/domains/branch_management/types/commit.rs
  src-tauri/src/domains/branch_management/types/deletion.rs
  src-tauri/src/domains/branch_management/types/mod.rs
  src-tauri/src/domains/repository_management/types.rs
  src-tauri/src/lib.rs
  src/lib/bindings.ts
Due: eslint, prettier, typecheck, test, tauri-tests

refactor: update how serde is used
  .changeset/strong-nights-count.md
  src-tauri/src/domains/branch_management/commands/commit.rs
  src-tauri/src/domains/branch_management/commands/delete.rs
  src-tauri/src/domains/branch_management/commands/restore.rs
  src-tauri/src/domains/branch_management/events.rs
  src-tauri/src/domains/branch_management/git/branch.rs
  src-tauri/src/domains/branch_management/services/deletion.rs
  src-tauri/src/domains/path_operations/commands.rs
  src-tauri/src/domains/path_operations/service.rs
  src-tauri/src/domains/path_operations/types.rs
  src-tauri/src/domains/repository_management/commands/info.rs
  src-tauri/src/domains/repository_management/events.rs
  src-tauri/src/domains/repository_management/services/discovery.rs
  src-tauri/src/lib.rs
  src/domains/branch-management/components/restore-deleted-branch-modal.svelte
  src/domains/branch-management/services/__tests__/createCheckCommitReachableQuery.test.ts
  src/domains/branch-management/services/__tests__/createDeleteBranchesMutation.test.ts
  src/domains/branch-management/services/__tests__/createRestoreDeletedBranchMutation.test.ts
  src/domains/branch-management/services/createCheckCommitReachableQuery.ts
  src/domains/branch-management/services/createDeleteBranchesMutation.ts
  src/domains/branch-management/services/createRestoreDeletedBranchMutation.ts
  src/domains/repository-management/services/__tests__/createGetRepositoryByPathQuery.test.ts
  src/domains/repository-management/services/createGetRepositoryByPathQuery.ts
  src/lib/bindings.ts
Due: eslint, prettier, typecheck, test, tauri-tests

refactor: improve query invalidation and loading state handling in branch management components
  src/domains/branch-management/components/branch-list.svelte
  src/domains/branch-management/components/delete-branch-modal.svelte
  src/domains/branch-management/components/restore-deleted-branch-modal.svelte
  src/domains/branch-management/store/deleted-branches.svelte.ts
Due: eslint, prettier, typecheck, test

refactor: improve query invalidation and loading state handling in branch management components
  .changeset/better-aliens-buy.md
  .changeset/dull-books-show.md
Due: prettier

feat: add utils for svelte query and mutation
  .changeset/weak-dogs-create.md
  docs/testing.md
  src/domains/branch-management/components/__tests__/delete-branch-modal.test.ts
  src/domains/branch-management/components/branch-list.svelte
  src/domains/branch-management/components/delete-branch-modal.svelte
  src/domains/branch-management/components/restore-deleted-branch-modal.svelte
  src/domains/branch-management/services/__tests__/createCheckCommitReachableQuery.test.ts
  src/domains/branch-management/services/__tests__/createDeleteBranchesMutation.test.ts
  src/domains/branch-management/services/__tests__/createRestoreDeletedBranchMutation.test.ts
  src/domains/branch-management/services/__tests__/createSwitchBranchMutation.test.ts
  src/domains/branch-management/services/createCheckCommitReachableQuery.ts
  src/domains/branch-management/services/createDeleteBranchesMutation.ts
  src/domains/branch-management/services/createRestoreDeletedBranchMutation.ts
  src/domains/branch-management/services/createSwitchBranchMutation.ts
  src/domains/navigation/components/__tests__/navigation-integration.spec.ts
  src/domains/repository-management/components/__tests__/add-button.test.ts
  src/domains/repository-management/components/add-button.svelte
  src/domains/repository-management/services/__tests__/createGetRepositoryByPathQuery.test.ts
  src/domains/repository-management/services/create-get-repository-query.ts
  src/domains/repository-management/services/createGetRepositoryByPathQuery.ts
  src/domains/repository-management/store/repository.svelte.ts
  src/domains/repository-management/views/__tests__/repository-integration.spec.ts
  src/domains/repository-management/views/repository-view.svelte
  src/routes/add-first/__tests__/flow.spec.ts
  src/routes/add-first/__tests__/page.spec.ts
  src/routes/repos/[id]/__tests__/fixtures/repository-page-fixture.svelte
  src/routes/repos/[id]/__tests__/full-integration.spec.ts
  src/utils/create-tauri-mutation.ts
  src/utils/create-tauri-query.ts
  src/utils/tauri-command-types.ts
Due: eslint, prettier, typecheck, test

feat: introduce CommitCard component for better commit display in branch management
  .changeset/short-bats-sip.md
  src/domains/branch-management/components/branch.svelte
  src/domains/branch-management/components/commit-card.svelte
Due: eslint, prettier, typecheck, test

feat: implement branch alerts component and utility functions for improved branch management
  src/domains/branch-management/components/branch-alerts.svelte
  src/domains/branch-management/components/branch.svelte
  src/domains/branch-management/utils/branch-constants.ts
  src/domains/branch-management/utils/branch-utils.ts
Due: eslint, prettier, typecheck, test

refactor: use derived for some mutations and query
  src/domains/branch-management/components/branch-list.svelte
  src/domains/branch-management/components/delete-branch-modal.svelte
  src/domains/repository-management/components/add-button.svelte
  src/domains/repository-management/components/remove-repository-modal.svelte
  src/domains/repository-management/services/__tests__/createGetRepositoryByPathQuery.test.ts
  src/domains/repository-management/services/create-get-repository-query.ts
Due: eslint, prettier, typecheck, test

refactor: enhancing type safety and utility functions for tauri commands and svelte query
  .changeset/social-memes-grin.md
  src/utils/create-tauri-mutation.ts
  src/utils/create-tauri-query.ts
  src/utils/tauri-command-types.ts
  src/utils/tauri-commands.ts
Due: eslint, prettier, typecheck, test

feat: implement automatic query invalidation and resource-based keys for tauri mutations and queries
  .changeset/twenty-times-cut.md
  src/components/providers.svelte
  src/global.d.ts
  src/utils/create-tauri-mutation.ts
  src/utils/create-tauri-query.ts
  src/utils/query-key-utils.ts
Due: eslint, prettier, typecheck, test

feat: overhaul onboarding experience with new components and routing
  panda.config.ts
  src/components/redirect-to-get-started.svelte
  src/domains/onboarding/components/__tests__/onboarding-cta.test.ts
  src/domains/onboarding/components/__tests__/onboarding-hero.test.ts
  src/domains/onboarding/components/onboarding-cta.svelte
  src/domains/onboarding/components/onboarding-hero.svelte
  src/domains/onboarding/views/__tests__/onboarding-view.test.ts
  src/domains/onboarding/views/onboarding-view.svelte
  src/domains/repository-management/components/__tests__/remove-repository-modal.test.ts
  src/domains/repository-management/components/remove-repository-modal.svelte
  src/domains/repository-management/views/add-first-view.svelte
  src/routes/+layout.svelte
  src/routes/add-first/+page.svelte
  src/routes/add-first/__tests__/add-first-page-route.test.ts
  src/routes/add-first/__tests__/flow.spec.ts
  src/routes/add-first/__tests__/page.spec.ts
  src/routes/get-started/+page.svelte
  src/routes/get-started/__tests__/get-started-page-route.test.ts
  src/routes/get-started/__tests__/get-started-page.test.ts
  src/styles/app.css
Due: eslint, prettier, typecheck, test

docs: update architectural guidelines in CLAUDE.md
  CLAUDE.md
Due: prettier

refactor: navigation is now repository navigation
  src/components/providers.svelte
  src/domains/navigation/components/menu.svelte
  src/domains/onboarding/components/redirect-to-get-started.svelte
  src/domains/onboarding/logic/application/queries/create-list-repositories-query.ts
  src/domains/repository-management/components/remove-repository-modal.svelte
  src/domains/repository-management/components/repository-header.svelte
  src/domains/repository-management/logic/add-repository-handler.svelte.ts
  src/domains/repository-management/logic/application/queries/create-list-repositories-query.ts
  src/domains/repository-management/views/repository-view.svelte
  src/domains/repository-navigation/README.md
  src/domains/repository-navigation/components/app-header.svelte
  src/domains/repository-navigation/components/repository-list.svelte
  src/domains/repository-navigation/logic/application/queries/create-list-repositories-query.ts
  src/domains/repository-navigation/views/__tests__/menu-view.test.ts
  src/domains/repository-navigation/views/menu-view.svelte
  src/routes/+layout.svelte
  src/routes/repos/+layout.svelte
  src/routes/repos/[id]/__tests__/fixtures/repository-page-fixture.svelte
  src/routes/repos/__tests__/layout.spec.ts
  src/services/event-bus.ts
  src/ui/core/icon-button.svelte
  tests/integration/repository-addition-flow.spec.ts
Due: eslint, prettier, typecheck, test

refactor: replace invoke calls with generated bindings for branch management and repository services
  CLAUDE.md
  src/components/domains-handlers.svelte
  src/components/providers.svelte
  src/domains/onboarding/components/onboarding-cta.svelte
  src/domains/onboarding/logic/application/queries/create-list-repositories-query.ts
  src/domains/repository-management/components/__tests__/add-button.test.ts
  src/domains/repository-management/components/__tests__/repository-header.test.ts
  src/domains/repository-management/components/add-button.svelte
  src/domains/repository-management/components/remove-repository-modal.svelte
  src/domains/repository-management/components/repository-header.svelte
  src/domains/repository-management/logic/add-repository-handler.svelte.ts
  src/domains/repository-management/logic/application/mutations/create-create-repository-mutation.ts
  src/domains/repository-management/logic/application/mutations/create-delete-repository-mutation.ts
  src/domains/repository-management/logic/application/queries/create-get-repository-query.ts
  src/domains/repository-management/logic/application/queries/create-list-repositories-query.ts
  src/domains/repository-management/services/__tests__/createGetRepositoryByPathQuery.test.ts
  src/domains/repository-management/views/repository-view.svelte
  src/domains/repository-navigation/logic/application/queries/create-list-repositories-query.ts
  src/routes/repos/[id]/__tests__/fixtures/repository-page-fixture.svelte
  src/routes/repos/[id]/__tests__/full-integration.spec.ts
  src/utils/create-tauri-query.ts
  src/utils/query-key-utils.ts
  tests/integration/repository-addition-flow.spec.ts
Due: eslint, prettier, typecheck, test

refactor: rename list repositories to get repository list and update related queries and components
  docs/tauri-commands-naming-conventions.md
  src-tauri/src/db/operations.rs
  src-tauri/src/domains/repository_management/commands/read.rs
  src-tauri/src/lib.rs
  src-tauri/src/main.rs
  src/domains/onboarding/components/__tests__/onboarding-cta.test.ts
  src/domains/onboarding/components/onboarding-cta.svelte
  src/domains/onboarding/components/redirect-to-get-started.svelte
  src/domains/onboarding/logic/application/queries/create-get-repository-list-query.ts
  src/domains/onboarding/logic/application/queries/create-list-repositories-query.ts
  src/domains/repository-management/components/__tests__/add-button.test.ts
  src/domains/repository-management/components/__tests__/repository-header.test.ts
  src/domains/repository-management/components/add-button.svelte
  src/domains/repository-management/components/remove-repository-modal.svelte
  src/domains/repository-management/components/repository-header.svelte
  src/domains/repository-management/logic/application/queries/create-get-repository-list-query.ts
  src/domains/repository-management/logic/application/queries/create-list-repositories-query.ts
  src/domains/repository-management/views/repository-view.svelte
  src/domains/repository-navigation/README.md
  src/domains/repository-navigation/components/repository-list.svelte
  src/domains/repository-navigation/logic/application/queries/create-get-repository-list-query.ts
  src/domains/repository-navigation/logic/application/queries/create-list-repositories-query.ts
  src/domains/repository-navigation/views/__tests__/menu-view.test.ts
  src/lib/bindings.ts
  src/utils/query-key-utils.ts
  tests/integration/repository-addition-flow.spec.ts
Due: eslint, prettier, typecheck, test, tauri-tests

feat: add success notification and navigation after repository creation
  src/domains/repository-management/logic/add-repository-handler.svelte.ts
Due: eslint, prettier, typecheck, test

feat: create global components cards from branch and commit
  src-tauri/src/db/models.rs
  src-tauri/src/domains/branch_management/commands/queries.rs
  src-tauri/src/domains/branch_management/git/branch.rs
  src/domains/branch-management/components/__tests__/branch.test.ts
  src/domains/branch-management/components/__tests__/delete-branch-modal.test.ts
  src/domains/branch-management/components/branch-alerts.svelte
  src/domains/branch-management/components/branch-list.svelte
  src/domains/branch-management/components/branches-bulk-actions.svelte
  src/domains/branch-management/components/delete-branch-modal.svelte
  src/domains/branch-management/components/restore-deleted-branch-modal.svelte
  src/domains/branch-management/logic/application/queries/create-get-branches-query.ts
  src/domains/branch-management/logic/application/queries/create-get-repository-list-query.ts
  src/domains/branch-management/logic/application/queries/create-get-repository-query.ts
  src/domains/branch-management/store/__tests__/deleted-branches.test.ts
  src/domains/branch-management/store/deleted-branches.svelte.ts
  src/domains/branch-management/utils/branch-utils.ts
  src/domains/repository-management/components/__tests__/repository-header.test.ts
  src/domains/repository-management/views/repository-view.svelte
  src/domains/repository-navigation/components/repository-list.svelte
  src/domains/repository-navigation/views/__tests__/menu-view.test.ts
  src/lib/bindings.ts
  src/services/common.ts
  src/ui/core/__tests__/branch-card.test.ts
  src/ui/core/__tests__/commit-card.test.ts
  src/ui/core/branch-card.svelte
  src/ui/core/commit-card.svelte
  src/utils/create-tauri-query.ts
  src/utils/test-utils.ts
Due: eslint, prettier, typecheck, test, tauri-tests

refactor: improve commit handling by using revparse_single for SHA resolution
  src-tauri/src/domains/branch_management/git/branch.rs
Due: tauri-tests

refactor: remove unused repository store import
  src/domains/branch-management/components/branch-list.svelte
  src/domains/repository-management/views/repository-view.svelte
  src/routes/repos/[id]/restore/+page.ts
  src/routes/repos/[id]/restore/__tests__/page-loader.test.ts
Due: eslint, prettier, typecheck, test

feat: enhance branch management with branch context support and improved state synchronization
  src-tauri/migrations/2025-10-13-162221-0000_add_last_sync_hash_to_repositories/down.sql
  src-tauri/migrations/2025-10-13-162221-0000_add_last_sync_hash_to_repositories/up.sql
  src-tauri/migrations/2025-10-13-164441-0000_replace_last_sync_hash_with_timestamp/down.sql
  src-tauri/migrations/2025-10-13-164441-0000_replace_last_sync_hash_with_timestamp/up.sql
  src-tauri/migrations/2025-10-13-173254-0000_add_branch_context_to_selected_branches/down.sql
  src-tauri/migrations/2025-10-13-173254-0000_add_branch_context_to_selected_branches/up.sql
  src-tauri/src/db/models.rs
  src-tauri/src/db/operations.rs
  src-tauri/src/db/schema.rs
  src-tauri/src/domains/branch_management/commands/selected.rs
  src-tauri/src/domains/branch_management/services/selected_branches.rs
  src-tauri/src/domains/branch_management/services/sync.rs
  src-tauri/src/domains/repository_management/commands/create.rs
  src-tauri/src/domains/repository_management/services/discovery.rs
  src-tauri/src/domains/repository_management/services/mod.rs
  src-tauri/src/domains/repository_management/services/state_hash.rs
  src/domains/branch-management/components/__tests__/branches-bulk-actions.test.ts
  src/domains/branch-management/components/branch-list.svelte
  src/domains/branch-management/components/branches-bulk-actions.svelte
  src/domains/branch-management/components/delete-branch-modal.svelte
  src/domains/branch-management/components/lock-branch-toggle.svelte
  src/domains/branch-management/components/restore-deleted-branch-modal.svelte
  src/domains/branch-management/services/createSelectedBranchesQuery.ts
  src/domains/repository-management/components/remove-repository-modal.svelte
  src/domains/repository-management/views/repository-view.svelte
  src/lib/bindings.ts
Due: eslint, prettier, typecheck, test, tauri-tests

feat: consolidate branch selection and locking into branches table with migration scripts
  src-tauri/migrations/2025-10-14-010804-0000_consolidate_selection_and_locking/down.sql
  src-tauri/migrations/2025-10-14-010804-0000_consolidate_selection_and_locking/up.sql
  src-tauri/src/db/models.rs
  src-tauri/src/db/operations.rs
  src-tauri/src/db/schema.rs
  src-tauri/src/domains/branch_management/git/branch.rs
  src-tauri/src/domains/branch_management/services/locked_branches.rs
  src-tauri/src/domains/branch_management/services/selected_branches.rs
  src-tauri/src/domains/branch_management/services/sync.rs
  src/domains/branch-management/components/__tests__/delete-branch-modal.test.ts
  src/domains/branch-management/store/__tests__/deleted-branches.test.ts
  src/domains/branch-management/store/deleted-branches.svelte.ts
  src/domains/repository-management/views/repository-view.svelte
  src/lib/bindings.ts
  src/ui/core/__tests__/branch-card.test.ts
  src/utils/test-utils.ts
Due: eslint, prettier, typecheck, test, tauri-tests

feat: implement support for managing deleted branches with new queries and mutations
  src-tauri/src/db/operations.rs
  src-tauri/src/domains/branch_management/commands/mod.rs
  src-tauri/src/domains/branch_management/commands/selected.rs
  src-tauri/src/domains/branch_management/services/selected_branches.rs
  src-tauri/src/lib.rs
  src-tauri/src/main.rs
  src/domains/branch-management/components/branch-list.svelte
  src/domains/branch-management/components/branches-bulk-actions.svelte
  src/domains/branch-management/components/delete-branch-modal.svelte
  src/domains/branch-management/components/lock-branch-toggle.svelte
  src/domains/branch-management/components/restore-deleted-branch-modal.svelte
  src/domains/branch-management/services/createSelectedBranchesMutations.ts
  src/domains/branch-management/services/createSelectedBranchesQuery.ts
  src/domains/repository-management/components/remove-repository-modal.svelte
  src/domains/repository-management/views/repository-view.svelte
  src/lib/bindings.ts
  src/utils/query-key-utils.ts
Due: eslint, prettier, typecheck, test, tauri-tests

feat: enhance redirect logic in onboarding component
  src/domains/onboarding/components/redirect-to-get-started.svelte
Due: eslint, prettier, typecheck, test

feat: implement repository adding event handling and improve cleanup logic
  src-tauri/src/db/operations.rs
  src-tauri/src/domains/branch_management/commands/selected.rs
  src-tauri/src/domains/branch_management/services/sync.rs
  src-tauri/src/domains/repository_management/commands/create.rs
  src-tauri/src/lib.rs
  src-tauri/src/main.rs
  src/components/domains-handlers.svelte
  src/domains/repository-management/logic/add-repository-handler.svelte.ts
  src/domains/repository-navigation/components/repository-list.svelte
  src/services/event-bus.ts
Due: eslint, prettier, typecheck, test, tauri-tests

feat: add branch merge status query and integrate into branch alerts
  src-tauri/src/db/operations.rs
  src-tauri/src/domains/branch_management/commands/mod.rs
  src-tauri/src/domains/branch_management/commands/queries.rs
  src-tauri/src/domains/branch_management/git/branch.rs
  src-tauri/src/domains/branch_management/services/sync.rs
  src-tauri/src/domains/repository_management/commands/create.rs
  src-tauri/src/domains/repository_management/services/discovery.rs
  src-tauri/src/lib.rs
  src-tauri/src/main.rs
  src/domains/branch-management/components/branch-list.svelte
  src/domains/branch-management/services/createBranchMergeStatusQuery.ts
  src/domains/branch-management/utils/branch-utils.ts
  src/lib/bindings.ts
Due: eslint, prettier, typecheck, test, tauri-tests

feat: implement branch selection component and integrate selection logic into branch management
  src/domains/branch-management/components/__tests__/branch-selection.test.ts
  src/domains/branch-management/components/__tests__/branches-bulk-actions.test.ts
  src/domains/branch-management/components/branch-list.svelte
  src/domains/branch-management/components/branch-selection.svelte
  src/domains/branch-management/components/branches-bulk-actions.svelte
  src/domains/branch-management/components/delete-branch-modal.svelte
  src/domains/branch-management/components/restore-deleted-branch-modal.svelte
  src/domains/branch-management/logic/application/__tests__/use-branch-selection.test.ts
  src/domains/branch-management/logic/application/queries/create-get-branches-query.ts
  src/domains/branch-management/logic/application/use-branch-selection.svelte.ts
  src/domains/branch-management/services/createSelectedBranchesQuery.ts
  src/domains/branch-management/utils/__tests__/calculate-selection-state.test.ts
  src/domains/branch-management/utils/__tests__/filter-selectable-branches.test.ts
  src/domains/branch-management/utils/__tests__/format-branch-selection-text.test.ts
  src/domains/branch-management/utils/calculate-selection-state.ts
  src/domains/branch-management/utils/filter-selectable-branches.ts
  src/domains/branch-management/utils/format-branch-selection-text.ts
  src/domains/repository-management/views/repository-view.svelte
Due: eslint, prettier, typecheck, test

feat: introduce comprehensive branch filtering system with enhanced query capabilities
  src-tauri/src/db/operations.rs
  src-tauri/src/domains/branch_management/commands/queries.rs
  src-tauri/src/domains/branch_management/filters.rs
  src-tauri/src/domains/branch_management/mod.rs
  src-tauri/src/domains/branch_management/services/sync.rs
  src/domains/branch-management/components/__tests__/branch-selection.test.ts
  src/domains/branch-management/components/branch-selection.svelte
  src/domains/branch-management/components/delete-branch-modal.svelte
  src/domains/branch-management/logic/application/__tests__/use-branch-selection.test.ts
  src/domains/branch-management/logic/application/queries/create-get-branches-query.ts
  src/domains/branch-management/logic/application/use-branch-selection.svelte.ts
  src/domains/branch-management/services/createListBranchesQuery.ts
  src/lib/bindings.ts
  src/utils/query-key-utils.ts
Due: eslint, prettier, typecheck, test, tauri-tests

feat: enhance branch selection logic to support deletion status filtering
  src/domains/branch-management/components/branch-selection.svelte
  src/domains/branch-management/logic/application/__tests__/use-branch-selection.test.ts
  src/domains/branch-management/logic/application/use-branch-selection.svelte.ts
Due: eslint, prettier, typecheck, test

feat: refactor branch management to unify selection and query logic
  src-tauri/src/db/operations.rs
  src-tauri/src/domains/branch_management/commands/mod.rs
  src-tauri/src/domains/branch_management/commands/queries.rs
  src-tauri/src/domains/branch_management/commands/selected.rs
  src-tauri/src/domains/branch_management/services/selected_branches.rs
  src-tauri/src/lib.rs
  src-tauri/src/main.rs
  src/domains/branch-management/components/__tests__/branch-list.test.ts
  src/domains/branch-management/components/__tests__/branch-selection.test.ts
  src/domains/branch-management/components/__tests__/branches-bulk-actions.test.ts
  src/domains/branch-management/components/__tests__/delete-branch-modal.test.ts
  src/domains/branch-management/components/branch-list.svelte
  src/domains/branch-management/components/branches-bulk-actions.svelte
  src/domains/branch-management/components/delete-branch-modal.svelte
  src/domains/branch-management/components/lock-branch-toggle.svelte
  src/domains/branch-management/components/restore-deleted-branch-modal.svelte
  src/domains/branch-management/logic/application/__tests__/use-branch-selection.test.ts
  src/domains/branch-management/logic/application/queries/create-get-branches-query.ts
  src/domains/branch-management/logic/application/use-branch-selection.svelte.ts
  src/domains/branch-management/services/createListBranchesQuery.ts
  src/domains/branch-management/services/createLockedBranchesQuery.ts
  src/domains/branch-management/services/createSelectedBranchesMutations.ts
  src/domains/repository-management/components/remove-repository-modal.svelte
  src/domains/repository-management/components/repository-header.svelte
  src/domains/repository-management/logic/application/queries/get-branch-list-query.ts
  src/domains/repository-management/views/repository-view.svelte
  src/domains/repository-navigation/components/repository-list.svelte
  src/lib/bindings.ts
  src/routes/repos/[id]/__tests__/full-integration.spec.ts
  src/utils/create-tauri-mutation.ts
  src/utils/query-key-utils.ts
Due: eslint, prettier, typecheck, test, tauri-tests

feat: refact branch management with separated active and deleted branch views
  src/domains/branch-management/components/__tests__/branch-selection.test.ts
  src/domains/branch-management/components/__tests__/branches-bulk-actions.test.ts
  src/domains/branch-management/components/__tests__/bulk-actions-container.test.ts
  src/domains/branch-management/components/branch-list.svelte
  src/domains/branch-management/components/branch-selection.svelte
  src/domains/branch-management/components/branches-bulk-actions.svelte
  src/domains/branch-management/components/bulk-actions-container.svelte
  src/domains/branch-management/components/delete-branch-modal.svelte
  src/domains/branch-management/components/restore-deleted-branch-modal.svelte
  src/domains/branch-management/components/search-input.svelte
  src/domains/branch-management/logic/application/__tests__/use-branch-selection.test.ts
  src/domains/branch-management/logic/application/use-branch-selection.svelte.ts
  src/domains/branch-management/views/__tests__/restore-branches-view.test.ts
  src/domains/branch-management/views/active-branches-view.svelte
  src/domains/branch-management/views/deleted-branches-view.svelte
  src/domains/branch-management/views/restore-branches-view.svelte
  src/domains/repository-management/components/__tests__/repository-header-back-button.test.ts
  src/domains/repository-management/components/__tests__/repository-header-restore-button.test.ts
  src/domains/repository-management/components/__tests__/repository-header-update-button.test.ts
  src/domains/repository-management/components/__tests__/repository-header.test.ts
  src/domains/repository-management/components/repository-header-back-button.svelte
  src/domains/repository-management/components/repository-header-restore-button.svelte
  src/domains/repository-management/components/repository-header-update-button.svelte
  src/domains/repository-management/components/repository-header.svelte
  src/domains/repository-management/views/repository-view.svelte
  src/routes/repos/[id]/+page.svelte
  src/routes/repos/[id]/__tests__/fixtures/repository-page-fixture.svelte
  src/routes/repos/[id]/__tests__/full-integration.spec.ts
  src/routes/repos/[id]/restore/+page.svelte
  src/utils/__tests__/query-type-guards.test.ts
  src/utils/query-type-guards.ts
Due: eslint, prettier, typecheck, test

feat: refactor repository management components and queries to use repository ID instead of path
  src-tauri/src/domains/repository_management/commands/read.rs
  src-tauri/src/domains/repository_management/services/discovery.rs
  src/domains/branch-management/logic/application/queries/create-get-repository-query.ts
  src/domains/onboarding/logic/application/queries/create-get-repository-query.ts
  src/domains/repository-management/components/__tests__/branch-restoration-header.test.ts
  src/domains/repository-management/components/__tests__/remove-repository-modal.test.ts
  src/domains/repository-management/components/__tests__/repository-header-back-button.test.ts
  src/domains/repository-management/components/__tests__/repository-header-restore-button.test.ts
  src/domains/repository-management/components/__tests__/repository-header-update-button.test.ts
  src/domains/repository-management/components/__tests__/repository-header.test.ts
  src/domains/repository-management/components/__tests__/repository-management-header.test.ts
  src/domains/repository-management/components/back-button.svelte
  src/domains/repository-management/components/branch-restoration-header.svelte
  src/domains/repository-management/components/remove-repository-modal.svelte
  src/domains/repository-management/components/repository-header-restore-button.svelte
  src/domains/repository-management/components/repository-header.svelte
  src/domains/repository-management/components/repository-management-header.svelte
  src/domains/repository-management/components/restore-repository-button.svelte
  src/domains/repository-management/components/update-repository-button.svelte
  src/domains/repository-management/logic/application/queries/create-get-branches-query.ts
  src/domains/repository-management/views/repository-view.svelte
  src/lib/bindings.ts
  src/routes/repos/[id]/+page.svelte
  src/routes/repos/[id]/__tests__/fixtures/repository-page-fixture.svelte
  src/routes/repos/[id]/restore/+page.svelte
Due: eslint, prettier, typecheck, test, tauri-tests
