Repository EduardoLopes/cut-branches: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, typecheck, test, tauri-tests

eslint:
  run: pnpm eslint {staged_files} --max-warnings 0 --fix && git add {staged_files}

prettier:
  run: pnpm prettier --write {staged_files} && git add {staged_files}

typecheck:
  run: pnpm svelte-check

test:
  run: pnpm vitest related {staged_files} --run --silent --coverage=false

tauri-tests:
  run: pnpm test:cargo:coverage:fail

feat(ui): add loading, no-diff and no-upstream branch card badges
  .changeset/branch-card-footer-badge-states.md
  src/domains/branch-management/components/branch-list.svelte
  src/ui/core/__tests__/branch-card.test.ts
  src/ui/core/branch-card.svelte
Due: eslint, prettier, typecheck, test

feat(ui): add branch card footer badges slot and identity truncation
  .changeset/branch-card-footer-badges.md
  src/ui/core/__tests__/branch-card.test.ts
  src/ui/core/branch-card.svelte
Due: eslint, prettier, typecheck, test

feat(branch-management): reuse compact branch card in history gutter
  .changeset/history-gutter-branch-card.md
  src/domains/branch-management/features/commit-history/application/__tests__/use-commit-history-view.test.ts
  src/domains/branch-management/features/commit-history/application/use-commit-history-view.svelte.ts
  src/domains/branch-management/features/commit-history/components/__tests__/branch-gutter-cell.test.ts
  src/domains/branch-management/features/commit-history/components/__tests__/commit-row.test.ts
  src/domains/branch-management/features/commit-history/components/branch-gutter-cell.svelte
  src/domains/branch-management/features/commit-history/components/commit-history-list.svelte
  src/domains/branch-management/features/commit-history/components/commit-row.svelte
Due: eslint, prettier, typecheck, test

feat(branch-management): add branch diff backend commands
  src-tauri/src/domains/branch_management/error.rs
  src-tauri/src/domains/branch_management/features/branch_diff/application.rs
  src-tauri/src/domains/branch_management/features/branch_diff/commands.rs
  src-tauri/src/domains/branch_management/features/branch_diff/git.rs
  src-tauri/src/domains/branch_management/features/branch_diff/mod.rs
  src-tauri/src/domains/branch_management/features/branch_diff/models.rs
  src-tauri/src/domains/branch_management/features/mod.rs
  src-tauri/src/main.rs
Due: tauri-tests

feat(ui): add shared diff-viewer pattern
  package.json
  pnpm-lock.yaml
  src/ui/patterns/diff-viewer/__tests__/diff-gaps.test.ts
  src/ui/patterns/diff-viewer/__tests__/diff-viewer.test.ts
  src/ui/patterns/diff-viewer/__tests__/highlighter.test.ts
  src/ui/patterns/diff-viewer/__tests__/line-marks.test.ts
  src/ui/patterns/diff-viewer/__tests__/split-lines.test.ts
  src/ui/patterns/diff-viewer/__tests__/token-style.test.ts
  src/ui/patterns/diff-viewer/diff-gaps.ts
  src/ui/patterns/diff-viewer/diff-viewer.svelte
  src/ui/patterns/diff-viewer/highlighter.ts
  src/ui/patterns/diff-viewer/line-marks.ts
  src/ui/patterns/diff-viewer/split-lines.ts
  src/ui/patterns/diff-viewer/token-style.ts
  src/ui/patterns/diff-viewer/types.ts
Due: eslint, prettier, typecheck, test

feat(branch-management): add branch-diff frontend feature
  src/domains/branch-management/features/branch-diff/README.md
  src/domains/branch-management/features/branch-diff/application/__tests__/reactive-holder.svelte.ts
  src/domains/branch-management/features/branch-diff/application/__tests__/use-diff-search.test.ts
  src/domains/branch-management/features/branch-diff/application/use-diff-search.svelte.ts
  src/domains/branch-management/features/branch-diff/components/__tests__/changed-file-row.test.ts
  src/domains/branch-management/features/branch-diff/components/__tests__/file-diff-panel.test.ts
  src/domains/branch-management/features/branch-diff/components/changed-file-row.svelte
  src/domains/branch-management/features/branch-diff/components/file-diff-panel.svelte
  src/domains/branch-management/features/branch-diff/infrastructure/queries/__tests__/create-get-file-diff-query.test.ts
  src/domains/branch-management/features/branch-diff/infrastructure/queries/__tests__/create-list-changed-files-query.test.ts
  src/domains/branch-management/features/branch-diff/infrastructure/queries/create-get-file-diff-query.ts
  src/domains/branch-management/features/branch-diff/infrastructure/queries/create-list-changed-files-query.ts
  src/domains/branch-management/features/branch-diff/models/__tests__/diff-language.test.ts
  src/domains/branch-management/features/branch-diff/models/diff-language.ts
  src/domains/branch-management/features/branch-diff/views/__tests__/branch-diff-view.test.ts
  src/domains/branch-management/features/branch-diff/views/branch-diff-view.svelte
  src/infrastructure/bindings.ts
  src/infrastructure/query-key-utils.ts
Due: eslint, prettier, typecheck, test

feat(branch-management): wire up branch diff entry points and route
  .changeset/branch-diff.md
  src/components/app-shell.svelte
  src/domains/branch-management/components/branch-list.svelte
  src/domains/branch-management/components/delete-branch-modal.svelte
  src/domains/branch-management/features/commit-history/components/branch-gutter-cell.svelte
  src/domains/branch-management/features/commit-history/components/commit-row.svelte
  src/lib/feature-flags.svelte.ts
  src/routes/repos/[id]/diff/+page.svelte
  src/ui/core/__tests__/branch-card.test.ts
  src/ui/core/__tests__/commit-card.test.ts
  src/ui/core/branch-card.svelte
  src/ui/core/commit-card.svelte
Due: eslint, prettier, typecheck, test

chore(devtools): wire in @pindoba/devtools token editor (dev-only)
  package.json
  panda.config.ts
  src/components/app-shell.svelte
  src/domains/repository-navigation/views/sidebar-view.svelte
  tsconfig.json
  vite.config.js
Due: eslint, prettier, typecheck, test

feat(ui): render large diffs progressively in diff-viewer
  .changeset/diff-viewer-progressive.md
  src/ui/patterns/diff-viewer/__tests__/diff-viewer-progressive.test.ts
  src/ui/patterns/diff-viewer/__tests__/diff-viewer.test.ts
  src/ui/patterns/diff-viewer/__tests__/render-budget.test.ts
  src/ui/patterns/diff-viewer/__tests__/render-plan.test.ts
  src/ui/patterns/diff-viewer/__tests__/route-vertical-wheel.test.ts
  src/ui/patterns/diff-viewer/diff-viewer.svelte
  src/ui/patterns/diff-viewer/render-budget.ts
  src/ui/patterns/diff-viewer/render-plan.ts
  src/ui/patterns/diff-viewer/route-vertical-wheel.ts
Due: eslint, prettier, typecheck, test

feat(branch-management): gate very large file diffs behind explicit render
  .changeset/large-diff-gate.md
  src/domains/branch-management/features/branch-diff/components/__tests__/file-diff-panel.test.ts
  src/domains/branch-management/features/branch-diff/components/file-diff-panel.svelte
Due: eslint, prettier, typecheck, test

feat(branch-management): add diff view options menu
  .changeset/diff-view-options.md
  src/domains/branch-management/features/branch-diff/application/__tests__/use-diff-view-options.test.ts
  src/domains/branch-management/features/branch-diff/application/use-diff-view-options.svelte.ts
  src/domains/branch-management/features/branch-diff/components/__tests__/changed-file-row.test.ts
  src/domains/branch-management/features/branch-diff/components/__tests__/diff-options-menu.test.ts
  src/domains/branch-management/features/branch-diff/components/changed-file-row.svelte
  src/domains/branch-management/features/branch-diff/components/diff-options-menu.svelte
  src/domains/branch-management/features/branch-diff/views/__tests__/branch-diff-view.test.ts
  src/domains/branch-management/features/branch-diff/views/branch-diff-view.svelte
Due: eslint, prettier, typecheck, test

feat(ui): always wrap lines in the split diff layout
  .changeset/split-layout-always-wraps.md
  src/domains/branch-management/features/branch-diff/components/__tests__/diff-options-menu.test.ts
  src/domains/branch-management/features/branch-diff/components/diff-options-menu.svelte
  src/ui/patterns/diff-viewer/__tests__/diff-viewer.test.ts
  src/ui/patterns/diff-viewer/diff-viewer.svelte
Due: eslint, prettier, typecheck, test

feat(branch-management): pin each file header while its diff scrolls
  .changeset/sticky-file-headers.md
  src/domains/branch-management/features/branch-diff/components/__tests__/changed-file-row.test.ts
  src/domains/branch-management/features/branch-diff/components/changed-file-row.svelte
Due: eslint, prettier, typecheck, test

fix(footer): merge the split footer into one continuous bar
  .changeset/footer-single-bar.md
  src/ui/core/footer.svelte
Due: eslint, prettier, typecheck, test

refactor(repository-navigation): drop the surface.deep card around the nav list
  .changeset/sidebar-nav-no-card.md
  src/domains/repository-navigation/components/repository-nav-list.svelte
Due: eslint, prettier, typecheck, test

fix(repository-navigation): center the collapsed rail on one line
  .changeset/rail-center-alignment.md
  src/domains/repository-navigation/components/repository-nav-list.svelte
Due: eslint, prettier, typecheck, test

feat(branch-management): navigate the diff view through a file tree
  .changeset/diff-file-tree.md
  src/domains/branch-management/features/branch-diff/components/__tests__/changed-file-row.test.ts
  src/domains/branch-management/features/branch-diff/components/__tests__/diff-file-tree.test.ts
  src/domains/branch-management/features/branch-diff/components/changed-file-row.svelte
  src/domains/branch-management/features/branch-diff/components/diff-file-tree.svelte
  src/domains/branch-management/features/branch-diff/models/__tests__/build-diff-file-tree.test.ts
  src/domains/branch-management/features/branch-diff/models/build-diff-file-tree.ts
  src/domains/branch-management/features/branch-diff/views/__tests__/branch-diff-view.test.ts
  src/domains/branch-management/features/branch-diff/views/branch-diff-view.svelte
  tsconfig.json
  vite.config.js
Due: eslint, prettier, typecheck, test

docs(branch-management): note upstream fix for tree-view expansion workaround
  src/domains/branch-management/features/branch-diff/components/diff-file-tree.svelte
Due: eslint, prettier, typecheck, test

fix(branch-management): fold border color into diff pane shorthand
  .changeset/diff-tree-border-color.md
  src/domains/branch-management/features/branch-diff/views/branch-diff-view.svelte
Due: eslint, prettier, typecheck, test

refactor(branch-management): extract shared git diff plumbing
  src-tauri/src/domains/branch_management/core/models/file_change_status.rs
  src-tauri/src/domains/branch_management/core/models/mod.rs
  src-tauri/src/domains/branch_management/features/branch_diff/git.rs
  src-tauri/src/domains/branch_management/features/branch_diff/models.rs
  src-tauri/src/domains/branch_management/infrastructure/git/diff.rs
  src-tauri/src/domains/branch_management/infrastructure/git/mod.rs
Due: tauri-tests

feat(branch-management): add code_structure diff analysis backend
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/domains/branch_management/features/code_structure/analysis.rs
  src-tauri/src/domains/branch_management/features/code_structure/application.rs
  src-tauri/src/domains/branch_management/features/code_structure/commands.rs
  src-tauri/src/domains/branch_management/features/code_structure/mod.rs
  src-tauri/src/domains/branch_management/features/code_structure/models.rs
  src-tauri/src/domains/branch_management/features/code_structure/resolve.rs
  src-tauri/src/domains/branch_management/features/mod.rs
  src-tauri/src/main.rs
  src-tauri/src/shared/utils/test_utils.rs
  src/infrastructure/bindings.ts
Due: eslint, prettier, typecheck, test, tauri-tests

feat(branch-management): add diff-structure query and canvas models
  src/domains/branch-management/features/branch-diff/infrastructure/queries/__tests__/create-get-diff-structure-query.test.ts
  src/domains/branch-management/features/branch-diff/infrastructure/queries/create-get-diff-structure-query.ts
  src/domains/branch-management/features/branch-diff/models/__tests__/canvas-layout.test.ts
  src/domains/branch-management/features/branch-diff/models/__tests__/edge-routing.test.ts
  src/domains/branch-management/features/branch-diff/models/__tests__/structure-index.test.ts
  src/domains/branch-management/features/branch-diff/models/canvas-layout.ts
  src/domains/branch-management/features/branch-diff/models/edge-routing.ts
  src/domains/branch-management/features/branch-diff/models/structure-index.ts
  src/infrastructure/__tests__/query-key-utils.test.ts
  src/infrastructure/query-key-utils.ts
Due: eslint, prettier, typecheck, test

feat(branch-management): add diff canvas view (work in progress)
  .changeset/diff-canvas-view.md
  src/domains/branch-management/features/branch-diff/application/__tests__/use-diff-view-options.test.ts
  src/domains/branch-management/features/branch-diff/application/use-diff-view-options.svelte.ts
  src/domains/branch-management/features/branch-diff/components/__tests__/changed-file-row.test.ts
  src/domains/branch-management/features/branch-diff/components/__tests__/diff-canvas.test.ts
  src/domains/branch-management/features/branch-diff/components/__tests__/edge-layer.test.ts
  src/domains/branch-management/features/branch-diff/components/__tests__/file-node.test.ts
  src/domains/branch-management/features/branch-diff/components/changed-file-row.svelte
  src/domains/branch-management/features/branch-diff/components/diff-canvas.svelte
  src/domains/branch-management/features/branch-diff/components/edge-layer.svelte
  src/domains/branch-management/features/branch-diff/components/file-node.svelte
  src/domains/branch-management/features/branch-diff/views/__tests__/branch-diff-view.test.ts
  src/domains/branch-management/features/branch-diff/views/branch-diff-view.svelte
Due: eslint, prettier, typecheck, test

feat(branch-management): add per-file reviewed checklist to branch diff
  .changeset/reviewed-files-checklist.md
  src/domains/branch-management/features/branch-diff/application/__tests__/use-reviewed-files.test.ts
  src/domains/branch-management/features/branch-diff/application/use-reviewed-files.svelte.ts
  src/domains/branch-management/features/branch-diff/components/__tests__/changed-file-row.test.ts
  src/domains/branch-management/features/branch-diff/components/__tests__/diff-canvas.test.ts
  src/domains/branch-management/features/branch-diff/components/__tests__/file-node.test.ts
  src/domains/branch-management/features/branch-diff/components/changed-file-row.svelte
  src/domains/branch-management/features/branch-diff/components/diff-canvas.svelte
  src/domains/branch-management/features/branch-diff/components/file-node.svelte
  src/domains/branch-management/features/branch-diff/views/__tests__/branch-diff-view.test.ts
  src/domains/branch-management/features/branch-diff/views/branch-diff-view.svelte
Due: eslint, prettier, typecheck, test

feat(branch-management): analyze symbol-level call edges in code structure
  src-tauri/src/domains/branch_management/features/code_structure/analysis.rs
  src-tauri/src/domains/branch_management/features/code_structure/application.rs
  src-tauri/src/domains/branch_management/features/code_structure/models.rs
Due: tauri-tests

feat(branch-management): render symbol-level call edges on the diff canvas
  .changeset/canvas-call-edges.md
  src/domains/branch-management/features/branch-diff/components/__tests__/diff-canvas.test.ts
  src/domains/branch-management/features/branch-diff/components/__tests__/edge-labels.test.ts
  src/domains/branch-management/features/branch-diff/components/__tests__/edge-layer.test.ts
  src/domains/branch-management/features/branch-diff/components/diff-canvas.svelte
  src/domains/branch-management/features/branch-diff/components/edge-labels.svelte
  src/domains/branch-management/features/branch-diff/components/edge-layer.svelte
  src/domains/branch-management/features/branch-diff/models/__tests__/canvas-layout.test.ts
  src/domains/branch-management/features/branch-diff/models/__tests__/edge-colors.test.ts
  src/domains/branch-management/features/branch-diff/models/__tests__/edge-label.test.ts
  src/domains/branch-management/features/branch-diff/models/__tests__/edge-routing.test.ts
  src/domains/branch-management/features/branch-diff/models/__tests__/structure-index.test.ts
  src/domains/branch-management/features/branch-diff/models/canvas-layout.ts
  src/domains/branch-management/features/branch-diff/models/edge-colors.ts
  src/domains/branch-management/features/branch-diff/models/edge-label.ts
  src/domains/branch-management/features/branch-diff/models/edge-routing.ts
  src/infrastructure/bindings.ts
Due: eslint, prettier, typecheck, test

feat(branch-management): add AI diff explanation backend
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/domains/branch_management/features/diff_explanation/agent.rs
  src-tauri/src/domains/branch_management/features/diff_explanation/application.rs
  src-tauri/src/domains/branch_management/features/diff_explanation/commands.rs
  src-tauri/src/domains/branch_management/features/diff_explanation/events.rs
  src-tauri/src/domains/branch_management/features/diff_explanation/mod.rs
  src-tauri/src/domains/branch_management/features/diff_explanation/models.rs
  src-tauri/src/domains/branch_management/features/mod.rs
  src-tauri/src/main.rs
Due: tauri-tests

feat(branch-management): explain diffs with AI in the branch diff view
  .changeset/diff-explanation.md
  src/domains/branch-management/features/branch-diff/application/__tests__/use-diff-view-options.test.ts
  src/domains/branch-management/features/branch-diff/application/use-diff-view-options.svelte.ts
  src/domains/branch-management/features/branch-diff/components/__tests__/changed-file-row.test.ts
  src/domains/branch-management/features/branch-diff/components/__tests__/file-diff-panel.test.ts
  src/domains/branch-management/features/branch-diff/components/__tests__/file-node.test.ts
  src/domains/branch-management/features/branch-diff/components/changed-file-row.svelte
  src/domains/branch-management/features/branch-diff/components/diff-canvas.svelte
  src/domains/branch-management/features/branch-diff/components/file-diff-panel.svelte
  src/domains/branch-management/features/branch-diff/components/file-node.svelte
  src/domains/branch-management/features/branch-diff/views/__tests__/branch-diff-view.test.ts
  src/domains/branch-management/features/branch-diff/views/branch-diff-view.svelte
  src/domains/branch-management/features/diff-explanation/README.md
  src/domains/branch-management/features/diff-explanation/application/__tests__/use-diff-explanation-batch.test.ts
  src/domains/branch-management/features/diff-explanation/application/__tests__/use-file-explanation.test.ts
  src/domains/branch-management/features/diff-explanation/application/__tests__/use-hunk-explanation.test.ts
  src/domains/branch-management/features/diff-explanation/application/use-diff-explanation-batch.svelte.ts
  src/domains/branch-management/features/diff-explanation/application/use-file-explanation.svelte.ts
  src/domains/branch-management/features/diff-explanation/application/use-hunk-explanation.svelte.ts
  src/domains/branch-management/features/diff-explanation/components/__tests__/explanation-detail-dropdown.test.ts
  src/domains/branch-management/features/diff-explanation/components/__tests__/explanation-menu.test.ts
  src/domains/branch-management/features/diff-explanation/components/__tests__/explanation-panel.test.ts
  src/domains/branch-management/features/diff-explanation/components/explanation-detail-dropdown.svelte
  src/domains/branch-management/features/diff-explanation/components/explanation-menu.svelte
  src/domains/branch-management/features/diff-explanation/components/explanation-panel.svelte
  src/domains/branch-management/features/diff-explanation/infrastructure/mutations/__tests__/create-cancel-explanation-mutation.test.ts
  src/domains/branch-management/features/diff-explanation/infrastructure/mutations/__tests__/create-diff-explanation-batch-mutation.test.ts
  src/domains/branch-management/features/diff-explanation/infrastructure/mutations/__tests__/create-file-explanation-mutation.test.ts
  src/domains/branch-management/features/diff-explanation/infrastructure/mutations/__tests__/create-hunk-explanation-mutation.test.ts
  src/domains/branch-management/features/diff-explanation/infrastructure/mutations/create-cancel-explanation-mutation.ts
  src/domains/branch-management/features/diff-explanation/infrastructure/mutations/create-diff-explanation-batch-mutation.ts
  src/domains/branch-management/features/diff-explanation/infrastructure/mutations/create-file-explanation-mutation.ts
  src/domains/branch-management/features/diff-explanation/infrastructure/mutations/create-hunk-explanation-mutation.ts
  src/domains/branch-management/features/diff-explanation/models/__tests__/parse-hunk-explanations.test.ts
  src/domains/branch-management/features/diff-explanation/models/parse-hunk-explanations.ts
  src/infrastructure/bindings.ts
  src/ui/patterns/diff-viewer/diff-viewer.svelte
Due: eslint, prettier, typecheck, test

feat(branch-management): add per-change detail mode to diff explanation batch
  src-tauri/src/domains/branch_management/features/diff_explanation/commands.rs
  src-tauri/src/domains/branch_management/features/diff_explanation/models.rs
  src/infrastructure/bindings.ts
Due: eslint, prettier, typecheck, test, tauri-tests

feat(branch-management): render per-change batch explanations inline
  .changeset/diff-explanation-batch-detail.md
  src/domains/branch-management/features/branch-diff/components/__tests__/changed-file-row.test.ts
  src/domains/branch-management/features/branch-diff/components/changed-file-row.svelte
  src/domains/branch-management/features/branch-diff/views/branch-diff-view.svelte
  src/domains/branch-management/features/diff-explanation/application/__tests__/use-diff-explanation-batch.test.ts
  src/domains/branch-management/features/diff-explanation/application/use-diff-explanation-batch.svelte.ts
Due: eslint, prettier, typecheck, test

feat(utils): add formatCount badge helper
  src/utils/__tests__/format-count.test.ts
  src/utils/format-count.ts
Due: eslint, prettier, typecheck, test

feat(ui): cross-fade an optional swapped icon in icon-button
  src/ui/core/icon-button.svelte
Due: eslint, prettier, typecheck, test

feat(repository-navigation): add fold-text transition and scroll-shadow action
  src/domains/repository-navigation/utils/__tests__/fold-text.test.ts
  src/domains/repository-navigation/utils/__tests__/scroll-shadow.test.ts
  src/domains/repository-navigation/utils/fold-text.ts
  src/domains/repository-navigation/utils/scroll-shadow.ts
Due: eslint, prettier, typecheck, test

feat(repository-navigation): recess the repository list and keep rail badges
  .changeset/recessed-repository-list-panel.md
  src/domains/repository-navigation/components/repository-nav-list.svelte
Due: eslint, prettier, typecheck, test

feat(repository-navigation): animate the sidebar collapse
  .changeset/animated-sidebar-collapse.md
  src/domains/repository-navigation/components/sidebar-brand.svelte
  src/domains/repository-navigation/views/__tests__/sidebar-view.test.ts
  src/domains/repository-navigation/views/sidebar-view.svelte
Due: eslint, prettier, typecheck, test

fix(app-settings): use a valid navigation emphasis in the settings menu
  src/domains/app-settings/views/settings-shell.svelte
Due: eslint, prettier, typecheck, test

fix(build): pin svelte types to this project's copy
  tsconfig.json
Due: prettier

fix(build): resolve @pindoba/devtools from the local checkout
  package.json
  pnpm-lock.yaml
Due: prettier

fix(ui): let icon-button scale its glyph with the control size
  src/ui/core/icon-button.svelte
Due: eslint, prettier, typecheck, test

feat(ui): draw an overlay titlebar on macos
  .changeset/macos-overlay-titlebar.md
  src-tauri/capabilities/migrated.json
  src-tauri/tauri.conf.json
  src/ui/core/__tests__/window-titlebar.test.ts
  src/ui/core/window-titlebar.svelte
  src/utils/__tests__/is-macos.test.ts
  src/utils/__tests__/watch-window-fullscreen.test.ts
  src/utils/is-macos.ts
  src/utils/watch-window-fullscreen.ts
Due: eslint, prettier, typecheck, test

Path conditions:
  eslint: any of: *.{js,ts,jsx,tsx,cjs,mjs,svelte}
  prettier: any of: *.{js,ts,jsx,tsx,cjs,mjs,svelte,html,json,yml,md}
  typecheck: any of: *.{ts,tsx,svelte}
  test: any of: *.{js,ts,jsx,tsx,svelte}
  tauri-tests: any of: *.rs
