Repository EduardoLopes/cut-branches: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, typecheck, test, tauri-tests

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: '*.{js,ts,jsx,tsx,cjs,mjs,svelte}'
      run: pnpm eslint {staged_files} --max-warnings 0 --fix && git add {staged_files}
    prettier:
      glob: '*.{js,ts,jsx,tsx,cjs,mjs,svelte,html,json,yml,md}'
      run: pnpm prettier --write {staged_files} && git add {staged_files}
    typecheck:
      glob: '*.{ts,tsx,svelte}'
      run: pnpm svelte-check
    test:
      glob: '*.{js,ts,jsx,tsx,svelte}'
      run: pnpm vitest related {staged_files} --run --silent --coverage=false
    tauri-tests:
      glob: '*.rs'
      run: pnpm test:cargo:coverage:fail

commit-msg:
  scripts:
    'commitlint.sh':
      runner: bash

test(branch-management): add opt-in mount-cost benchmarks
  src/domains/branch-management/components/__tests__/branch-list.bench.spec.ts
  src/domains/branch-management/views/__tests__/active-branches-view.bench.spec.ts
Due: eslint, prettier, typecheck, test

perf(repository-navigation): warm the whole repository page from the sidebar
  src/domains/branch-management/core/composables/use-branch-metrics.svelte.ts
  src/domains/repository-navigation/components/__tests__/repository-nav-list.test.ts
  src/domains/repository-navigation/components/repository-nav-list.svelte
  src/domains/repository-navigation/core/composables/__tests__/create-prefetch-repository-data.test.ts
  src/domains/repository-navigation/core/composables/create-prefetch-repository-data.ts
  src/infrastructure/queries/__tests__/create-bulk-branch-metrics-query.test.ts
  src/infrastructure/queries/create-bulk-branch-metrics-query.ts
  src/utils/__tests__/branch-metrics-buckets.test.ts
  src/utils/branch-metrics-buckets.ts
Due: eslint, prettier, typecheck, test

perf(branch-management): prefetch the lazily-mounted diff and commit panels
  src/domains/branch-management/components/branch-list.svelte
  src/domains/branch-management/features/branch-diff/components/__tests__/changed-file-row.test.ts
  src/domains/branch-management/features/branch-diff/components/changed-file-row.svelte
  src/domains/branch-management/features/branch-diff/infrastructure/queries/__tests__/create-get-file-diff-query.test.ts
  src/domains/branch-management/features/branch-diff/infrastructure/queries/create-get-file-diff-query.ts
  src/domains/branch-management/features/branch-diff/views/__tests__/branch-diff-view.test.ts
  src/domains/branch-management/features/commit-history/infrastructure/queries/__tests__/create-list-branch-commits-query.test.ts
  src/domains/branch-management/features/commit-history/infrastructure/queries/create-list-branch-commits-query.ts
  src/domains/onboarding/components/__tests__/redirect-to-app.test.ts
  src/domains/onboarding/components/redirect-to-app.svelte
  src/domains/repository-navigation/components/__tests__/repository-nav-list.test.ts
  src/domains/repository-navigation/components/repository-nav-list.svelte
  src/lib/__tests__/create-prefetch-repository-data.test.ts
  src/lib/create-prefetch-repository-data.ts
  src/ui/core/__tests__/branch-card.test.ts
  src/ui/core/branch-card.svelte
Due: eslint, prettier, typecheck, test

perf(branch-management): parallelize bulk branch metrics across cores
  src-tauri/src/domains/branch_management/infrastructure/git/branch.rs
Due: tauri-tests

test(branch-management): add a real-repo bulk-metrics benchmark
  src-tauri/src/perf_bench.rs
Due: tauri-tests

perf(utils): halve the branch-metrics bucket to one parallel wave
  src/utils/branch-metrics-buckets.ts
Due: eslint, prettier, typecheck, test

perf(branch-management): skip the debounce for the first visible range
  src/domains/branch-management/core/composables/__tests__/use-branch-metrics.svelte.test.ts
  src/domains/branch-management/core/composables/use-branch-metrics.svelte.ts
Due: eslint, prettier, typecheck, test

perf(branch-management): cache branch metrics keyed by commit shas
  src-tauri/migrations/2026-08-01-000000_create_branch_metrics_cache/down.sql
  src-tauri/migrations/2026-08-01-000000_create_branch_metrics_cache/up.sql
  src-tauri/src/domains/branch_management/commands/queries.rs
  src-tauri/src/domains/branch_management/core/application/branch_metrics.rs
  src-tauri/src/domains/branch_management/core/application/mod.rs
  src-tauri/src/domains/branch_management/core/application/sync.rs
  src-tauri/src/domains/branch_management/infrastructure/git/branch.rs
  src-tauri/src/domains/branch_management/infrastructure/repositories.rs
  src-tauri/src/shared/infrastructure/db/models.rs
  src-tauri/src/shared/infrastructure/db/schema.rs
  src/infrastructure/bindings.ts
Due: eslint, prettier, typecheck, test, tauri-tests

perf(branch-management): prefer the git cli for branch metrics
  src-tauri/src/domains/branch_management/infrastructure/git/branch.rs
Due: tauri-tests

perf(branch-management): parallelize the branch listing
  src-tauri/src/domains/branch_management/infrastructure/git/branch.rs
Due: tauri-tests

test(branch-management): compare bucket sizes in the real-repo bench
  src-tauri/src/perf_bench.rs
Due: tauri-tests

fix(repository-management): honour onSuccess prop changes after mount
  src/domains/repository-management/components/add-repository-button.svelte
  src/domains/repository-management/components/add-repository-menu.svelte
Due: eslint, prettier, typecheck, test

build: drop the uninstalled jest-dom types entry from tsconfig
  tsconfig.json
Due: prettier

fix(branch-management): count selection against the searched branches
  .changeset/coherent-branch-selection-counts.md
  src/domains/branch-management/core/composables/__tests__/use-branch-selection.test.ts
  src/domains/branch-management/core/composables/use-branch-selection.svelte.ts
Due: eslint, prettier, typecheck, test

fix(utils): return the ZodError branch of createError instead of throwing
  src/utils/__tests__/error-utils.test.ts
  src/utils/error-utils.ts
Due: eslint, prettier, typecheck, test

chore(utils): remove the dead array grouping utilities
  src/utils/array-grouping-utils.ts
Due: eslint, prettier, typecheck, test

chore(branch-management): remove the superseded per-branch metric queries
  src/domains/branch-management/infrastructure/queries/create-branch-diff-stats-query.ts
  src/domains/branch-management/infrastructure/queries/create-branch-merge-status-query.ts
  src/routes/repos/[id]/__tests__/full-integration.spec.ts
Due: eslint, prettier, typecheck, test

chore(branch-management): remove the unused selected-branches queries
  src/domains/branch-management/components/__tests__/branch-selection.test.ts
  src/domains/branch-management/core/composables/__tests__/use-branch-selection.test.ts
  src/domains/branch-management/infrastructure/queries/create-deleted-selected-branches-query.ts
  src/domains/branch-management/infrastructure/queries/create-selected-branches-query.ts
Due: eslint, prettier, typecheck, test

chore(repository-management): remove the unused branch list query
  src/domains/repository-management/infrastructure/queries/get-branch-list-query.ts
  src/routes/repos/[id]/__tests__/full-integration.spec.ts
Due: eslint, prettier, typecheck, test

chore(services): remove the superseded Notification value object
  src/services/notifications/notification.ts
  src/services/notifications/notifications.svelte.ts
Due: eslint, prettier, typecheck, test

chore(repository-management): remove the duplicate get-branches query
  src/domains/repository-management/infrastructure/queries/create-get-branches-query.ts
Due: eslint, prettier, typecheck, test

chore(utils): drop two unreachable branches in createError
  src/utils/error-utils.ts
Due: eslint, prettier, typecheck, test

chore(infrastructure): drop unobserved invalidation targets
  src/infrastructure/query-key-utils.ts
Due: eslint, prettier, typecheck, test

chore(repository-management): remove the dead back-button component
  src/domains/branch-management/README.md
  src/domains/repository-management/README.md
  src/domains/repository-management/components/__tests__/repository-header-back-button.test.ts
  src/domains/repository-management/components/back-button.svelte
Due: eslint, prettier, typecheck, test

fix(repository-cleanup): stop counting repositories that cleaned nothing
  .changeset/honest-bulk-cleanup-summary.md
  src/domains/repository-cleanup/core/composables/__tests__/use-stale-repositories.test.ts
  src/domains/repository-cleanup/core/composables/use-stale-repositories.svelte.ts
Due: eslint, prettier, typecheck, test

fix(utils): normalise a null AppError description from the backend
  .changeset/error-toast-null-description.md
  src/utils/__tests__/error-utils.test.ts
  src/utils/error-utils.ts
Due: eslint, prettier, typecheck, test

chore(components): drop the unreachable e.kind title fallback
  src/components/providers.svelte
Due: eslint, prettier, typecheck, test

refactor(ui): migrate surface tokens to the terrain ladder
  .changeset/surface-terrain-tokens.md
  src/components/repository-context-tabs.svelte
  src/domains/app-settings/components/feature-flag-toggle.svelte
  src/domains/app-settings/views/settings-shell.svelte
  src/domains/branch-management/components/restore-branch-status-card.svelte
  src/domains/branch-management/components/restore-conflict-prompt.svelte
  src/domains/branch-management/features/branch-diff/components/changed-file-row.svelte
  src/domains/branch-management/features/branch-diff/components/diff-canvas.svelte
  src/domains/branch-management/features/branch-diff/components/edge-labels.svelte
  src/domains/branch-management/features/branch-diff/components/file-diff-panel.svelte
  src/domains/branch-management/features/branch-diff/components/file-node.svelte
  src/domains/branch-management/features/commit-history/components/commit-graph-preview.svelte
  src/domains/branch-management/features/commit-history/components/commit-history-list.svelte
  src/domains/branch-management/features/commit-history/components/commit-run-row.svelte
  src/domains/branch-management/features/commit-history/components/graph-rail-cell.svelte
  src/domains/branch-management/features/diff-explanation/components/explanation-panel.svelte
  src/domains/onboarding/components/welcome-modal.svelte
  src/domains/repository-cleanup/components/clean-repository-modal.svelte
  src/domains/repository-cleanup/components/cleanup-target-list.svelte
  src/domains/repository-cleanup/views/bulk-cleanup-view.svelte
  src/domains/repository-management/components/manage-repositories-modal.svelte
  src/domains/repository-management/components/scan-repositories-modal.svelte
  src/domains/repository-navigation/components/repository-nav-list.svelte
  src/domains/repository-navigation/views/sidebar-view.svelte
  src/routes/+layout.svelte
  src/ui/core/branch-card.svelte
  src/ui/core/commit-card.svelte
  src/ui/core/footer.svelte
  src/ui/patterns/README.md
  src/ui/patterns/diff-viewer/diff-viewer.svelte
  src/ui/patterns/page-shell.svelte
  src/ui/patterns/page-well.svelte
  src/ui/patterns/settings-field.svelte
Due: eslint, prettier, typecheck, test

refactor(ui): make the page toolbar opaque
  .changeset/opaque-page-toolbar.md
  src/ui/patterns/README.md
  src/ui/patterns/page-toolbar.svelte
Due: eslint, prettier, typecheck, test

refactor(commit-card): let muted text follow the card's colorPalette
  src/ui/core/commit-card.svelte
Due: eslint, prettier, typecheck, test

refactor(branch-card): mark the recent-commits well as a secondary panel
  src/ui/core/branch-card.svelte
Due: eslint, prettier, typecheck, test

refactor(footer): drop the redundant top border
  src/ui/core/footer.svelte
Due: eslint, prettier, typecheck, test

fix(repository-management): hide options tooltip while the menu is open
  .changeset/hide-repository-options-tooltip.md
  src/domains/repository-management/components/repository-header.svelte
Due: eslint, prettier, typecheck, test

fix(ui): give the page toolbar a fixed row height
  src/ui/patterns/page-toolbar.svelte
Due: eslint, prettier, typecheck, test

fix(branch-management): centre the toolbar controls on one row
  .changeset/steady-toolbar-row.md
  src/domains/branch-management/components/branch-context-filter.svelte
  src/domains/branch-management/components/branch-search.svelte
Due: eslint, prettier, typecheck, test

docs(plans): add planning notes for branch metrics cache, diff canvas and history view
  plans/branch-metrics-cache-plan.md
  plans/diff-canvas-next-steps.md
  plans/diff-explanation-spec.md
  plans/history-view-findings.md
  plans/history-view-handoff.md
Due: prettier

fix(branch-management): make branch switch safe and un-delete re-created branches on sync
  .changeset/safe-switch-and-sync-fixes.md
  src-tauri/src/domains/branch_management/infrastructure/git/branch.rs
  src-tauri/src/domains/branch_management/infrastructure/repositories.rs
Due: prettier, tauri-tests

fix(branch-management): align list search, restore SHA and delete-modal invalidation
  src/domains/branch-management/components/branch-list.svelte
  src/domains/branch-management/components/delete-branch-modal.svelte
  src/domains/branch-management/core/composables/use-restore-flow.svelte.ts
  src/domains/onboarding/components/redirect-to-app.svelte
  src/domains/onboarding/components/welcome-modal.svelte
  src/domains/repository-management/components/remove-repository-modal.svelte
Due: eslint, prettier, typecheck, test

fix(branch-management): count restore progress once per terminal branch
  .changeset/restore-progress-and-scan-cancel.md
  src/domains/branch-management/core/composables/__tests__/use-restoration-progress.test.ts
  src/domains/branch-management/core/composables/use-restoration-progress.svelte.ts
  src/domains/branch-management/core/composables/use-restore-flow.svelte.ts
  src/domains/repository-management/components/scan-repositories-modal.svelte
Due: eslint, prettier, typecheck, test

chore(deps): resolve pindoba menu and tree-view packages from the alpha tag
  pnpm-lock.yaml
Due: none
