Repository EduardoLopes/cut-branches: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, typecheck, test, tauri-tests

eslint:
  run: pnpm eslint {staged_files} --max-warnings 0 --fix && git add {staged_files}

prettier:
  run: pnpm prettier --write {staged_files} && git add {staged_files}

typecheck:
  run: pnpm svelte-check

test:
  run: pnpm vitest related {staged_files} --run --silent --coverage=false

tauri-tests:
  run: pnpm test:cargo:coverage:fail

feat(ui): add validation-hint popover pattern
  .changeset/validation-hints.md
  src/ui/patterns/validation-hint.svelte
Due: eslint, prettier, typecheck, test

feat(branch-management): replace disabled delete/restore actions with validation hints
  src/domains/branch-management/components/__tests__/delete-branch-modal.test.ts
  src/domains/branch-management/components/__tests__/restore-deleted-branch-modal.test.ts
  src/domains/branch-management/components/delete-branch-modal.svelte
  src/domains/branch-management/components/restore-deleted-branch-modal.svelte
Due: eslint, prettier, typecheck, test

feat(repository-management): replace disabled add/remove actions with validation hints
  src/domains/repository-management/components/__tests__/manage-repositories-modal.test.ts
  src/domains/repository-management/components/__tests__/scan-repositories-modal.test.ts
  src/domains/repository-management/components/manage-repositories-modal.svelte
  src/domains/repository-management/components/scan-repositories-modal.svelte
Due: eslint, prettier, typecheck, test

feat(repository-cleanup): replace disabled cleanup actions with validation hints
  src/domains/repository-cleanup/components/__tests__/clean-repository-modal.test.ts
  src/domains/repository-cleanup/components/clean-repository-modal.svelte
  src/domains/repository-cleanup/views/__tests__/bulk-cleanup-view.test.ts
  src/domains/repository-cleanup/views/bulk-cleanup-view.svelte
Due: eslint, prettier, typecheck, test

test(branch-management): drop redundant set_current_dir from switch-branch test
  src-tauri/src/domains/branch_management/infrastructure/git/branch.rs
Due: tauri-tests

feat(worktree-management): add git worktree backend commands
  src-tauri/src/domains/mod.rs
  src-tauri/src/domains/worktree_management/commands/add.rs
  src-tauri/src/domains/worktree_management/commands/lock.rs
  src-tauri/src/domains/worktree_management/commands/mod.rs
  src-tauri/src/domains/worktree_management/commands/queries.rs
  src-tauri/src/domains/worktree_management/commands/remove.rs
  src-tauri/src/domains/worktree_management/core/application/add.rs
  src-tauri/src/domains/worktree_management/core/application/list.rs
  src-tauri/src/domains/worktree_management/core/application/lock.rs
  src-tauri/src/domains/worktree_management/core/application/mod.rs
  src-tauri/src/domains/worktree_management/core/application/remove.rs
  src-tauri/src/domains/worktree_management/core/mod.rs
  src-tauri/src/domains/worktree_management/core/models/mod.rs
  src-tauri/src/domains/worktree_management/core/models/worktree.rs
  src-tauri/src/domains/worktree_management/error.rs
  src-tauri/src/domains/worktree_management/infrastructure/git.rs
  src-tauri/src/domains/worktree_management/infrastructure/mod.rs
  src-tauri/src/domains/worktree_management/mod.rs
  src-tauri/src/main.rs
Due: tauri-tests

feat(repository-management): detect linked worktrees and allow scanning them
  src-tauri/src/domains/repository_management/commands/discover.rs
  src-tauri/src/domains/repository_management/commands/read.rs
  src-tauri/src/domains/repository_management/core/application/discovery.rs
  src-tauri/src/domains/repository_management/core/models/git_dir_response.rs
  src-tauri/src/domains/repository_management/infrastructure/scanner.rs
  src/domains/repository-management/components/__tests__/add-repository-menu.test.ts
  src/domains/repository-management/components/__tests__/scan-repositories-modal.test.ts
  src/domains/repository-management/components/scan-repositories-modal.svelte
  src/domains/repository-management/core/composables/__tests__/use-discover-repositories.test.ts
  src/domains/repository-management/core/composables/use-discover-repositories.svelte.ts
Due: eslint, prettier, typecheck, test, tauri-tests

refactor(branch-management): fill width for the current branch and mark it with a badge
  .changeset/current-branch-card.md
  src/domains/branch-management/components/branch-list.svelte
  src/ui/core/branch-card.svelte
Due: eslint, prettier, typecheck, test

style(settings): use a softer resting surface for settings fields
  src/domains/app-settings/components/feature-flag-toggle.svelte
  src/ui/patterns/settings-field.svelte
Due: eslint, prettier, typecheck, test

refactor(app-settings): hide feature flags settings when empty
  src/domains/app-settings/components/feature-flags-panel.svelte
  src/domains/app-settings/views/__tests__/settings-shell.test.ts
  src/domains/app-settings/views/settings-shell.svelte
  src/lib/__tests__/feature-flags.test.ts
  src/lib/feature-flags.svelte.ts
  src/routes/settings/+page.ts
  src/routes/settings/__tests__/page.test.ts
Due: eslint, prettier, typecheck, test

refactor(repository-cleanup): lift "what gets cleaned" note to the top
  src/domains/repository-cleanup/components/cleanup-settings-panel.svelte
Due: eslint, prettier, typecheck, test

style(repository-cleanup): top-align checkboxes beside multi-line labels
  src/domains/repository-cleanup/components/cleanup-target-list.svelte
  src/domains/repository-cleanup/views/bulk-cleanup-view.svelte
Due: eslint, prettier, typecheck, test

style(ui): tint the commit card to follow its branch card palette
  src/ui/core/branch-card.svelte
  src/ui/core/commit-card.svelte
Due: eslint, prettier, typecheck, test

style(repository-cleanup): wrap long lines to satisfy rustfmt
  src-tauri/src/domains/repository_cleanup/commands/clean.rs
  src-tauri/src/domains/repository_cleanup/infrastructure/scanner.rs
Due: tauri-tests

chore(deps): add svelte-popover and svelte-virtual
  package.json
  pnpm-lock.yaml
Due: prettier

feat(theme): add commit-graph lane color tokens
  panda.config.ts
Due: eslint, prettier, typecheck, test

feat(ui): surface commit-history link and hover preview on cards
  src/ui/core/branch-card.svelte
  src/ui/core/commit-card.svelte
Due: eslint, prettier, typecheck, test

feat(infrastructure): add tauri infinite-query helper and history cache invalidation
  src/infrastructure/__tests__/create-tauri-infinite-query.test.ts
  src/infrastructure/__tests__/query-key-utils.test.ts
  src/infrastructure/create-tauri-infinite-query.ts
  src/infrastructure/create-tauri-query.ts
  src/infrastructure/query-key-utils.ts
Due: eslint, prettier, typecheck, test

feat(branch-management): add commit-history git backend and commands
  src-tauri/src/domains/branch_management/error.rs
  src-tauri/src/domains/branch_management/features/commit_history/application.rs
  src-tauri/src/domains/branch_management/features/commit_history/commands.rs
  src-tauri/src/domains/branch_management/features/commit_history/git.rs
  src-tauri/src/domains/branch_management/features/commit_history/mod.rs
  src-tauri/src/domains/branch_management/features/commit_history/models.rs
  src-tauri/src/domains/branch_management/features/mod.rs
  src-tauri/src/domains/branch_management/infrastructure/git/branch.rs
  src-tauri/src/domains/branch_management/infrastructure/git/commit.rs
  src-tauri/src/domains/branch_management/mod.rs
  src-tauri/src/main.rs
  src-tauri/src/shared/utils/test_utils.rs
  src/infrastructure/bindings.ts
Due: eslint, prettier, typecheck, test, tauri-tests

feat(branch-management): add commit-history view and branch graph
  .changeset/commit-history-view.md
  src/domains/branch-management/components/branch-list.svelte
  src/domains/branch-management/features/commit-history/README.md
  src/domains/branch-management/features/commit-history/application/__tests__/reactive-holder.svelte.ts
  src/domains/branch-management/features/commit-history/application/__tests__/use-branch-comparisons.test.ts
  src/domains/branch-management/features/commit-history/application/__tests__/use-commit-history-view.test.ts
  src/domains/branch-management/features/commit-history/application/use-branch-comparisons.svelte.ts
  src/domains/branch-management/features/commit-history/application/use-commit-history-view.svelte.ts
  src/domains/branch-management/features/commit-history/components/__tests__/branch-gutter-cell.test.ts
  src/domains/branch-management/features/commit-history/components/__tests__/commit-row.test.ts
  src/domains/branch-management/features/commit-history/components/__tests__/commit-run-row.test.ts
  src/domains/branch-management/features/commit-history/components/__tests__/graph-rail-cell.test.ts
  src/domains/branch-management/features/commit-history/components/__tests__/lane-colors.test.ts
  src/domains/branch-management/features/commit-history/components/branch-gutter-cell.svelte
  src/domains/branch-management/features/commit-history/components/commit-graph-preview.svelte
  src/domains/branch-management/features/commit-history/components/commit-history-list.svelte
  src/domains/branch-management/features/commit-history/components/commit-row.svelte
  src/domains/branch-management/features/commit-history/components/commit-run-row.svelte
  src/domains/branch-management/features/commit-history/components/graph-rail-cell.svelte
  src/domains/branch-management/features/commit-history/components/lane-colors.ts
  src/domains/branch-management/features/commit-history/infrastructure/queries/__tests__/create-get-commit-history-window-query.test.ts
  src/domains/branch-management/features/commit-history/infrastructure/queries/__tests__/create-list-branch-comparison-query.test.ts
  src/domains/branch-management/features/commit-history/infrastructure/queries/__tests__/create-list-commit-history-infinite-query.test.ts
  src/domains/branch-management/features/commit-history/infrastructure/queries/create-get-commit-history-window-query.ts
  src/domains/branch-management/features/commit-history/infrastructure/queries/create-list-branch-comparison-query.ts
  src/domains/branch-management/features/commit-history/infrastructure/queries/create-list-commit-history-infinite-query.ts
  src/domains/branch-management/features/commit-history/models/__tests__/commit-graph.test.ts
  src/domains/branch-management/features/commit-history/models/commit-graph.ts
  src/domains/branch-management/features/commit-history/views/commit-history-view.svelte
  src/routes/repos/[id]/+page.svelte
  src/routes/repos/[id]/history/+page.svelte
Due: eslint, prettier, typecheck, test

refactor(branch-management): wrap commit-history icons in pindoba Stamp
  src/domains/branch-management/features/commit-history/components/commit-row.svelte
  src/domains/branch-management/features/commit-history/components/commit-run-row.svelte
  src/domains/branch-management/features/commit-history/views/commit-history-view.svelte
Due: eslint, prettier, typecheck, test

feat(branch-management): gate commit history behind a feature flag
  .changeset/commit-history-view.md
  src/domains/branch-management/components/branch-list.svelte
  src/lib/feature-flags.svelte.ts
  src/routes/repos/[id]/+page.svelte
  src/routes/repos/[id]/history/+page.svelte
Due: eslint, prettier, typecheck, test

refactor(commit-card): rework layout using card header banner
  .changeset/tidy-commit-card.md
  src/ui/core/commit-card.svelte
Due: eslint, prettier, typecheck, test

feat(branch-management): highlight deep-linked branch in its own color
  .changeset/lively-branches-glow.md
  src/domains/branch-management/features/commit-history/components/commit-history-list.svelte
Due: eslint, prettier, typecheck, test

fix(repository-management): render add-repository icon on the leading side
  .changeset/add-repo-icon-leading.md
  src/domains/repository-management/components/add-repository-button.svelte
  src/domains/repository-management/components/add-repository-menu.svelte
Due: eslint, prettier, typecheck, test

fix(onboarding): right-align and enlarge the welcome add-repository CTA
  .changeset/onboarding-cta-alignment.md
  src/domains/onboarding/components/welcome-modal.svelte
  src/routes/+layout.svelte
Due: eslint, prettier, typecheck, test

fix(branch-management): show a single empty or error state in active branches view
  .changeset/single-empty-state.md
  src/domains/branch-management/views/active-branches-view.svelte
Due: eslint, prettier, typecheck, test

feat(branch-management): expose commit summary, body, and branch upstream
  .changeset/commit-metadata.md
  src-tauri/migrations/2025-10-02-041331_create_initial_schema/up.sql
  src-tauri/src/domains/branch_management/core/application/sync.rs
  src-tauri/src/domains/branch_management/infrastructure/git/branch.rs
  src-tauri/src/domains/branch_management/infrastructure/repositories.rs
  src-tauri/src/shared/infrastructure/db/models.rs
  src-tauri/src/shared/infrastructure/db/schema.rs
  src-tauri/src/shared/kernel/branch.rs
  src/domains/branch-management/components/__tests__/branch-selection.test.ts
  src/domains/branch-management/components/__tests__/delete-branch-modal.test.ts
  src/domains/branch-management/components/__tests__/restore-branch-status-card.test.ts
  src/domains/branch-management/components/__tests__/restore-deleted-branch-modal.test.ts
  src/domains/branch-management/core/composables/__tests__/deleted-branches.test.ts
  src/domains/branch-management/core/composables/__tests__/use-restore-flow.test.ts
  src/domains/branch-management/core/composables/deleted-branches.svelte.ts
  src/domains/branch-management/core/models/__tests__/branch.test.ts
  src/domains/branch-management/core/models/__tests__/commit.test.ts
  src/domains/branch-management/core/models/__tests__/converters.test.ts
  src/domains/branch-management/core/models/branch.ts
  src/domains/branch-management/core/models/commit.ts
  src/domains/branch-management/utils/__tests__/build-restore-success-notification.test.ts
  src/domains/branch-management/utils/__tests__/filter-selectable-branches.test.ts
  src/infrastructure/bindings.ts
  src/routes/repos/[id]/__tests__/full-integration.spec.ts
  src/ui/core/__tests__/branch-card.test.ts
  src/ui/core/__tests__/commit-card.test.ts
  src/ui/core/branch-card.svelte
  src/ui/core/commit-card.svelte
  src/utils/test-utils.ts
Due: eslint, prettier, typecheck, test, tauri-tests

feat(utils): add terse relative date formatter
  src/utils/date-utils.ts
Due: eslint, prettier, typecheck, test

feat(ui): add compact variant to commit card
  src/ui/core/commit-card.svelte
Due: eslint, prettier, typecheck, test

feat(branch-management): render commit history rows with the commit card
  .changeset/commit-history-commit-card.md
  src/domains/branch-management/features/commit-history/components/commit-history-list.svelte
  src/domains/branch-management/features/commit-history/components/commit-row.svelte
Due: eslint, prettier, typecheck, test

style(branch-management): soften commit history row divider
  src/domains/branch-management/features/commit-history/components/commit-history-list.svelte
Due: eslint, prettier, typecheck, test

style(branch-management): restore graph rail right divider
  src/domains/branch-management/features/commit-history/components/commit-row.svelte
Due: eslint, prettier, typecheck, test

refactor(db): normalize tip-commit storage into commits table
  src-tauri/migrations/2026-07-18-000000_normalize_commit_storage/down.sql
  src-tauri/migrations/2026-07-18-000000_normalize_commit_storage/up.sql
  src-tauri/src/domains/branch_management/core/application/sync.rs
  src-tauri/src/domains/branch_management/infrastructure/git/branch.rs
  src-tauri/src/domains/branch_management/infrastructure/repositories.rs
  src-tauri/src/shared/infrastructure/db/models.rs
  src-tauri/src/shared/infrastructure/db/schema.rs
Due: tauri-tests

fix(branch-management): fit commit run toggle inside gutter column
  .changeset/commit-run-toggle-fit.md
  src/domains/branch-management/features/commit-history/components/commit-row.svelte
  src/domains/branch-management/features/commit-history/components/commit-run-row.svelte
Due: eslint, prettier, typecheck, test

refactor(ui): make commit card upstream badge opt-in
  .changeset/commit-card-upstream-opt-in.md
  src/domains/branch-management/features/commit-history/components/__tests__/commit-row.test.ts
  src/domains/branch-management/features/commit-history/components/commit-row.svelte
  src/ui/core/__tests__/commit-card.test.ts
  src/ui/core/commit-card.svelte
Due: eslint, prettier, typecheck, test

feat(ui): add branch card compact mode and header upstream badge
  .changeset/branch-card-compact-upstream.md
  src/ui/core/__tests__/branch-card.test.ts
  src/ui/core/branch-card.svelte
Due: eslint, prettier, typecheck, test

feat(ui): refine branch card layout and adopt badge leading slots
  .changeset/branch-card-compact-upstream.md
  src/domains/branch-management/components/branch-list.svelte
  src/domains/branch-management/features/commit-history/components/commit-row.svelte
  src/domains/repository-management/components/repository-header.svelte
  src/ui/core/__tests__/branch-card.test.ts
  src/ui/core/branch-card.svelte
  src/ui/core/commit-card.svelte
Due: eslint, prettier, typecheck, test

feat(branch-management): show branch line diff stats on branch cards
  .changeset/branch-card-diff-stats.md
  src-tauri/src/domains/branch_management/commands/mod.rs
  src-tauri/src/domains/branch_management/commands/queries.rs
  src-tauri/src/domains/branch_management/error.rs
  src-tauri/src/domains/branch_management/infrastructure/git/branch.rs
  src-tauri/src/main.rs
  src/domains/branch-management/components/__tests__/branch-list.test.ts
  src/domains/branch-management/components/branch-list.svelte
  src/domains/branch-management/infrastructure/queries/create-branch-diff-stats-query.ts
  src/infrastructure/bindings.ts
  src/infrastructure/query-key-utils.ts
  src/ui/core/__tests__/branch-card.test.ts
  src/ui/core/branch-card.svelte
Due: eslint, prettier, typecheck, test, tauri-tests

Path conditions:
  eslint: any of: *.{js,ts,jsx,tsx,cjs,mjs,svelte}
  prettier: any of: *.{js,ts,jsx,tsx,cjs,mjs,svelte,html,json,yml,md}
  typecheck: any of: *.{ts,tsx,svelte}
  test: any of: *.{js,ts,jsx,tsx,svelte}
  tauri-tests: any of: *.rs
