Repository EduardoLopes/cut-branches: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: '*.{js,ts,jsx,tsx,cjs,mjs,svelte}'
      run: pnpm eslint {staged_files} --max-warnings 0 --fix && git add {staged_files}
    prettier:
      glob: '*.{js,ts,jsx,tsx,cjs,mjs,svelte,html,json,yml,md}'
      run: pnpm prettier --write {staged_files} && git add {staged_files}
    # TODO: handle typecheck
commit-msg:
  scripts:
    'commitlint.sh':
      runner: bash

chore: version package
  .changeset/moody-toys-float.md
  CHANGELOG.md
  package.json
  src-tauri/tauri.conf.json
Due: prettier

chore(rust-setup): add platform input for conditional target installation
  .github/actions/rust-setup/action.yml
  .github/workflows/publish.yml
Due: prettier

chore(rust-setup): refine platform input description and update publish workflow comments
  .github/actions/rust-setup/action.yml
  .github/workflows/publish.yml
Due: prettier

chore(publish): update Node.js version in workflow matrix from 20 to 22
  .github/workflows/publish.yml
Due: prettier

chore(publish): remove Node.js version from workflow matrix
  .github/workflows/publish.yml
Due: prettier

chore(dependencies): add fix-path-env dependency and update Cargo.lock
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/main.rs
Due: none

chore(rust-setup): add cache key discriminator input for unique caching in workflows
  .github/actions/rust-setup/action.yml
  .github/workflows/publish.yml
Due: prettier

chore: update deps
  .changeset/rude-buttons-notice.md
  package.json
  pnpm-lock.yaml
Due: prettier

chore: configure apple certificate
  .changeset/sad-houses-fetch.md
  .github/workflows/publish.yml
  src-tauri/tauri.conf.json
Due: prettier

chore: update GitHub Actions workflow to run on all branches and ignore tags
  .github/workflows/test.yml
Due: prettier

chore(publish): update signing certificate identification in workflow for improved debugging
  .github/workflows/publish.yml
Due: prettier

chore(publish): enhance debugging output for signing certificate identification in workflow
  .github/workflows/publish.yml
Due: prettier

chore(publish): correct typographical error in signing certificate identification message
  .github/workflows/publish.yml
Due: prettier

chore(publish): update signing identity in workflow and configuration for consistency
  .github/workflows/publish.yml
  src-tauri/tauri.conf.json
Due: prettier

chore(publish): reset signing identity to default value in configuration
  src-tauri/tauri.conf.json
Due: prettier

chore(publish): remove Apple signing configuration from workflow
  .github/workflows/publish.yml
Due: prettier

docs: update README
  .changeset/orange-dolls-attack.md
  README.md
Due: prettier

chore: update zod dependency to version 3.25.3 and adjust imports to use zod/v4
  .changeset/blue-wasps-peel.md
  package.json
  pnpm-lock.yaml
  src/lib/stores/locked-branches.svelte.ts
  src/lib/stores/notifications.svelte.ts
  src/lib/stores/repository.svelte.ts
  src/lib/stores/search-branches.svelte.ts
  src/lib/stores/selected-branches.svelte.ts
  src/lib/utils/__tests__/abstract-store.test.ts
  src/lib/utils/__tests__/get-validated-local-storage.test.ts
  src/lib/utils/__tests__/map-store.test.ts
  src/lib/utils/__tests__/set-store.test.ts
  src/lib/utils/__tests__/set-validated-local-storage.test.ts
  src/lib/utils/__tests__/store.test.ts
  src/lib/utils/abstract-store.svelte.ts
  src/lib/utils/get-validated-local-storage.ts
  src/lib/utils/map-store.svelte.ts
  src/lib/utils/set-store.svelte.ts
  src/lib/utils/set-validated-local-storage.ts
  src/lib/utils/store.svelte.ts
Due: eslint, prettier

refactor: better organize rust code and write tests for it. (also update the front end code)
  .changeset/public-yaks-see.md
  lefthook.yml
  package.json
  pnpm-lock.yaml
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/commands.rs
  src-tauri/src/error.rs
  src-tauri/src/git.rs
  src-tauri/src/main.rs
  src-tauri/src/path.rs
  src-tauri/src/test_utils.rs
  src/lib/components/__tests__/branch-list.test.ts
  src/lib/components/__tests__/branch.test.ts
  src/lib/components/__tests__/branches-bulk-actions.test.ts
  src/lib/components/__tests__/delete-branch-modal.test.ts
  src/lib/components/__tests__/repository.test.ts
  src/lib/components/branch-list.svelte
  src/lib/components/branch.svelte
  src/lib/components/delete-branch-modal.svelte
  src/lib/components/menu.svelte
  src/lib/components/repository.svelte
  src/lib/services/__tests__/createDeleteBranchesMutation.test.ts
  src/lib/services/__tests__/createGetRepositoryByPathQuery.test.ts
  src/lib/services/__tests__/createSwitchBranchMutation.test.ts
  src/lib/services/createDeleteBranchesMutation.ts
  src/lib/services/createGetRepositoryByPathQuery.ts
  src/lib/services/createSwitchBranchMutation.ts
  src/lib/stores/repository.svelte.ts
  src/routes/+layout.svelte
Due: eslint, prettier

fix: implement safe date formatting in services
  .changeset/weak-carrots-repair.md
  src/lib/components/__tests__/branch-list.test.ts
  src/lib/components/__tests__/repository.test.ts
  src/lib/components/branch-list.svelte
  src/lib/components/branch.svelte
  src/lib/components/delete-branch-modal.svelte
  src/lib/services/__tests__/createSwitchBranchMutation.test.ts
  src/lib/services/common.ts
  src/lib/services/createDeleteBranchesMutation.ts
  src/lib/services/createGetRepositoryByPathQuery.ts
  src/lib/services/createSwitchBranchMutation.ts
Due: eslint, prettier

refactor: add lots of utilities and write tests
  .changeset/ten-rats-thank.md
  src/lib/components/__tests__/empty-state.test.ts
  src/lib/components/__tests__/error-message.test.ts
  src/lib/components/__tests__/lock-branch-toggle.test.ts
  src/lib/components/__tests__/menu.test.ts
  src/lib/components/__tests__/notification.test.ts
  src/lib/components/branch.svelte
  src/lib/components/branches-bulk-actions.svelte
  src/lib/components/delete-branch-modal.svelte
  src/lib/components/empty-state.svelte
  src/lib/components/lock-branch-toggle.svelte
  src/lib/components/menu.svelte
  src/lib/components/notification.svelte
  src/lib/components/notifications-popover.svelte
  src/lib/components/remove-repository-modal.svelte
  src/lib/components/repository.svelte
  src/lib/services/__tests__/createDeleteBranchesMutation.test.ts
  src/lib/services/__tests__/createGetRepositoryByPathQuery.test.ts
  src/lib/services/createGetRepositoryByPathQuery.ts
  src/lib/utils/__tests__/date-utils.test.ts
  src/lib/utils/__tests__/format-date.test.ts
  src/lib/utils/__tests__/get-validated-local-storage.test.ts
  src/lib/utils/__tests__/string-utils.test.ts
  src/lib/utils/__tests__/validation-utils.test.ts
  src/lib/utils/date-utils.ts
  src/lib/utils/store.svelte.ts
  src/lib/utils/string-utils.ts
  src/lib/utils/svelte-runes-utils.ts
  src/lib/utils/validation-utils.ts
  vite.config.js
Due: eslint, prettier

feat(menu): sort menu items by label (again)
  .changeset/small-laws-bow.md
  src/lib/components/menu.svelte
Due: eslint, prettier

fix(menu): improve item retrieval and sorting logic
  .changeset/vast-hoops-clap.md
  src/lib/components/menu.svelte
Due: eslint, prettier

test: write more tests including integration tests
  .changeset/shy-fans-juggle.md
  src/lib/components/__tests__/add-button.test.ts
  src/lib/components/__tests__/navigation-integration.spec.ts
  src/lib/components/__tests__/repository-integration.spec.ts
  src/lib/components/add-button.svelte
  src/routes/add-first/__tests__/flow.spec.ts
  src/routes/add-first/__tests__/page.spec.ts
  src/routes/repos/[id]/__tests__/fixtures/repository-page-fixture.svelte
  src/routes/repos/[id]/__tests__/full-integration.spec.ts
  src/routes/repos/__tests__/layout.spec.ts
  vite.config.js
Due: eslint, prettier

fix(repository): change how store for repository is is handled
  .changeset/salty-frogs-cross.md
  src/lib/components/__tests__/menu.test.ts
  src/lib/components/menu.svelte
  src/lib/stores/repository.svelte.ts
  src/routes/+layout.svelte
Due: eslint, prettier

feat: improve type safety
  .changeset/eager-weeks-flow.md
  package.json
  pnpm-lock.yaml
  src/lib/actions/resizeContainer.ts
  src/lib/components/branches-bulk-actions.svelte
  src/lib/components/menu.svelte
  src/lib/components/providers.svelte
  src/lib/components/repository.svelte
  src/lib/services/__tests__/createDeleteBranchesMutation.test.ts
  src/lib/services/__tests__/createGetRepositoryByPathQuery.test.ts
  src/lib/services/__tests__/createSwitchBranchMutation.test.ts
  src/lib/services/common.ts
  src/lib/services/createDeleteBranchesMutation.ts
  src/lib/services/createGetRepositoryByPathQuery.ts
  src/lib/services/createSwitchBranchMutation.ts
  src/lib/stores/notifications.svelte.ts
  src/lib/utils/__tests__/abstract-store.test.ts
  src/lib/utils/__tests__/error-utils.test.ts
  src/lib/utils/abstract-store.svelte.ts
  src/lib/utils/error-utils.ts
  src/lib/utils/get-local-storage.ts
  src/lib/utils/get-validated-local-storage.ts
  src/lib/utils/map-store.svelte.ts
  src/lib/utils/set-store.svelte.ts
  src/lib/utils/store.svelte.ts
Due: eslint, prettier

feat(add-button): enhance error handling and notifications in repository addition process
  .changeset/fine-comics-exist.md
  src/lib/components/__tests__/add-button.test.ts
  src/lib/components/add-button.svelte
Due: eslint, prettier

refactor(tests): update store mocks from '$app/stores' to '$app/state'
  src/lib/components/__tests__/branches-bulk-actions.test.ts
  src/lib/components/__tests__/delete-branch-modal.test.ts
  src/routes/+layout.svelte
Due: eslint, prettier

refactor(repository): remove static initializer and reorganize repository store cache
  src/lib/stores/repository.svelte.ts
Due: eslint, prettier

feat(errors): add error messages descriptions
  .changeset/pink-ghosts-walk.md
  src-tauri/src/commands.rs
  src-tauri/src/git.rs
  src-tauri/src/path.rs
  src/lib/components/add-button.svelte
Due: eslint, prettier

feat(footer): add SvelteQueryDevtools in a better place and only shows in development mode
  .changeset/two-dingos-build.md
  src/lib/components/__tests__/footer.test.ts
  src/lib/components/footer.svelte
  src/routes/+layout.svelte
Due: eslint, prettier

docs(persona): add fullstack senior developer persona
  .cursor/rules/dev-persona.mdc
Due: none

feat(branches): implement restore functionality for deleted branches
  .changeset/shaky-rabbits-lay.md
  src-tauri/src/commands.rs
  src-tauri/src/git.rs
  src-tauri/src/main.rs
  src/global.d.ts
  src/lib/components/__tests__/add-button.test.ts
  src/lib/components/__tests__/branch-list.test.ts
  src/lib/components/__tests__/branch.test.ts
  src/lib/components/__tests__/branches-bulk-actions.test.ts
  src/lib/components/__tests__/delete-branch-modal.test.ts
  src/lib/components/__tests__/remove-repository-modal.test.ts
  src/lib/components/__tests__/repository-header.test.ts
  src/lib/components/__tests__/repository-integration.spec.ts
  src/lib/components/__tests__/repository.test.ts
  src/lib/components/branch-list.svelte
  src/lib/components/branch.svelte
  src/lib/components/branches-bulk-actions.svelte
  src/lib/components/delete-branch-modal.svelte
  src/lib/components/providers.svelte
  src/lib/components/remove-repository-modal.svelte
  src/lib/components/repository-header.svelte
  src/lib/components/repository.svelte
  src/lib/components/restore-deleted-branch-modal.svelte
  src/lib/services/__tests__/createDeleteBranchesMutation.test.ts
  src/lib/services/__tests__/createGetRepositoryByPathQuery.test.ts
  src/lib/services/common.ts
  src/lib/services/createCheckCommitReachableQuery.ts
  src/lib/services/createDeleteBranchesMutation.ts
  src/lib/services/createGetRepositoryByPathQuery.ts
  src/lib/services/createRestoreDeletedBranchMutation.ts
  src/lib/services/createSwitchBranchMutation.ts
  src/lib/stores/__tests__/repository.test.ts
  src/lib/stores/deleted-branches.svelte.ts
  src/lib/stores/notifications.svelte.ts
  src/lib/stores/repository.svelte.ts
  src/lib/stores/selected-branches.svelte.ts
  src/lib/utils/error-utils.ts
  src/routes/repos/[id]/__tests__/full-integration.spec.ts
  src/routes/repos/[id]/restore/+page.svelte
  src/routes/repos/[id]/restore/+page.ts
Due: eslint, prettier

feat(coverage): integrate cargo-tarpaulin for Rust test coverage and update documentation
  .changeset/rich-melons-float.md
  .gitignore
  README.md
  doc/restore-branches-implementation.md
  lefthook.yml
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/Makefile.toml
  src-tauri/scripts/coverage.sh
Due: prettier

feat(tests): enhance error handling and coverage for git operations and repository management
  lefthook.yml
  src-tauri/src/commands.rs
  src-tauri/src/error.rs
  src-tauri/src/git.rs
  src-tauri/src/main.rs
  src-tauri/src/path.rs
Due: prettier

refactor(git): restructure git module by separating functionalities into distinct files
  .changeset/crazy-toes-dance.md
  src-tauri/src/git.rs
  src-tauri/src/git/branch.rs
  src-tauri/src/git/commit.rs
  src-tauri/src/git/mod.rs
  src-tauri/src/git/tests.rs
  src-tauri/src/git/types.rs
Due: prettier

refactor(git): restructure git module by separating functionalities into distinct files (uses git2)
  .changeset/weak-hands-cry.md
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/commands.rs
  src-tauri/src/error.rs
  src-tauri/src/git/branch.rs
  src-tauri/src/git/commit.rs
  src-tauri/src/git/mod.rs
  src-tauri/src/git/tests.rs
  src-tauri/src/git/types.rs
  src-tauri/src/main.rs
Due: prettier

feat(restore): can restore branches in a single call
  .changeset/giant-pots-live.md
  src/lib/components/branch.svelte
  src/lib/components/restore-deleted-branch-modal.svelte
  src/lib/services/createRestoreDeletedBranchMutation.ts
Due: eslint, prettier

feat(workflows): add Rust and Svelte check workflows, enhance node setup with caching
  .github/actions/node-setup/action.yml
  .github/workflows/rust-check.yml
  .github/workflows/test-check.yml
  .github/workflows/test.yml
Due: prettier

chore(actions): rename step to enable corepack in node setup workflow
  .github/actions/node-setup/action.yml
Due: prettier
