Repository EduardoLopes/cut-branches: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: '*.{js,ts,jsx,tsx,cjs,mjs,svelte}'
      run: pnpm eslint {staged_files} --max-warnings 0 --fix && git add {staged_files}
    prettier:
      glob: '*.{js,ts,jsx,tsx,cjs,mjs,svelte,html,json,yml,md}'
      run: pnpm prettier --write {staged_files} && git add {staged_files}
    # TODO: handle typecheck
commit-msg:
  scripts:
    'commitlint.sh':
      runner: bash

test(local-storage): add unit tests for setLocalStorage function with various scenarios
  src/lib/utils/__tests__/set-local-storage.test.ts
Due: eslint, prettier

test(local-storage): add unit tests for getLocalStorage to cover various more cases
  src/lib/utils/__tests__/get-local-storage.test.ts
Due: eslint, prettier

test(createSwitchBranchMutation): add unit tests for createSwitchbranchMutation
  src/lib/services/__tests__/createSwitchBranchMutation.test.ts
Due: eslint, prettier

test(createGetRepositoryByPathQuery): add unit tests
  src/lib/services/__tests__/createGetRepositoryByPathQuery.test.ts
Due: eslint, prettier

test(createDeleteBranchesMutation): add unit tests for createDeleteBranchesMutation functionality
  src/lib/services/__tests__/createDeleteBranchesMutation.test.ts
Due: eslint, prettier

test(local-storage): remove redundant tests and streamline getLocalStorage test cases
  src/lib/utils/__tests__/get-local-storage.test.ts
Due: eslint, prettier

test(resizeContainer): add unit tests for resizeContainer action functionality
  src/lib/actions/__tests__/resizeContainer.test.ts
Due: eslint, prettier

chore(package): update test script to run vitest in silent mode
  .changeset/bumpy-spiders-stop.md
  package.json
Due: prettier

chore(vite.config): update exclude patterns to include providers.svelte in Vite configuration
  vite.config.js
Due: eslint, prettier

feat(tests.mdc): add Svelte 5 testing guidelines for Vitest and @testing-library/svelte
  .cursor/rules/tests.mdc
Due: none

test(add-button): enhance unit tests for AddButton component to cover all uncovered branches
  src/lib/components/__tests__/add-button.test.ts
Due: eslint, prettier

test(repository-store): enhance unit tests for RepositoryStore to cover all uncovered lines
  src/lib/stores/__tests__/repository.test.ts
Due: eslint, prettier

chore(vite.config): disable optimization for all @pindoba packages in Vite configuration
  vite.config.js
Due: eslint, prettier

feat: change visual so the light and dark theme looks better
  .changeset/odd-lights-work.md
  src/lib/components/add-button.svelte
  src/lib/components/branch.svelte
  src/lib/components/branches-bulk-actions.svelte
  src/lib/components/branches.svelte
  src/lib/components/menu.svelte
  src/routes/+layout.svelte
Due: eslint, prettier

feat: change visual so the light and dark theme looks better
  .changeset/odd-lights-work.md
Due: prettier

feat(branch): enhance branch component layout and style
  .changeset/sweet-animals-lead.md
  src/lib/components/branch.svelte
Due: eslint, prettier

feat(branch): replace Branches component with new Repository component (divide into parts)
  .changeset/many-colts-like.md
  lefthook.yml
  src/global.d.ts
  src/lib/components/__tests__/repository.test.ts
  src/lib/components/branch-list.svelte
  src/lib/components/branches.svelte
  src/lib/components/empty-state.svelte
  src/lib/components/error-message.svelte
  src/lib/components/repository-header.svelte
  src/lib/components/repository.svelte
  src/lib/services/__tests__/createGetRepositoryByPathQuery.test.ts
  src/lib/stores/__tests__/repository.test.ts
  src/routes/add-first/+page.svelte
  src/routes/repos/[id]/+page.svelte
Due: eslint, prettier

chore(package): update dependencies and update Vite configuration
  .changeset/thirty-friends-allow.md
  package.json
  pnpm-lock.yaml
  vite.config.js
Due: eslint, prettier

test(branches-bulk-actions): update checkbox selection test to use role and aria-checked attribute
  .changeset/hip-socks-work.md
  src/lib/components/__tests__/branches-bulk-actions.test.ts
  src/lib/components/branches-bulk-actions.svelte
Due: eslint, prettier

chore: update the script for linking Pindoba packages
  package.json
  pnpm-lock.yaml
  scripts/link-pindoba.sh
Due: prettier

chore(dependencies): update multiple packages and versions in Cargo.lock
  src-tauri/Cargo.lock
Due: none

fix(repository): ensure safe access to repository state and improve search functionality
  .changeset/sad-moons-know.md
  src/lib/components/repository.svelte
Due: eslint, prettier

fix(get-validated-local-storage): improve error handling and validation fallback for undefined
  .changeset/public-onions-hammer.md
  src/lib/utils/__tests__/get-validated-local-storage.test.ts
  src/lib/utils/get-validated-local-storage.ts
Due: eslint, prettier

refactor(store): add default value parameter to store constructors for improved initialization
  .changeset/petite-laws-fail.md
  src/lib/stores/locked-branches.svelte.ts
  src/lib/stores/notifications.svelte.ts
  src/lib/stores/repository.svelte.ts
  src/lib/stores/search-branches.svelte.ts
  src/lib/stores/selected-branches.svelte.ts
  src/lib/utils/abstract-store.svelte.ts
  src/lib/utils/map-store.svelte.ts
  src/lib/utils/set-store.svelte.ts
  src/lib/utils/store.svelte.ts
Due: eslint, prettier

chore: update to Vite 6 and Svelte plugin versions and refine Vite configuration conditions
  .changeset/cuddly-rivers-jam.md
  package.json
  pnpm-lock.yaml
  vite.config.js
Due: eslint, prettier

feat(menu): tweak visual
  .changeset/afraid-items-stick.md
  src/lib/components/menu.svelte
Due: eslint, prettier

test: add more tests
  doc/component-diagram.md
  doc/index.md
  doc/system-overview.md
  src/lib/actions/__tests__/resizeContainer.test.ts
  src/lib/components/__tests__/branch-list.test.ts
  src/lib/components/__tests__/branch.test.ts
  src/lib/components/__tests__/repository-header.test.ts
Due: eslint, prettier

fix(repository-header): ensure safe access to repository state in RemoveRepositoryModal
  .changeset/light-seas-dig.md
  src/lib/components/repository-header.svelte
Due: eslint, prettier

style(branch-list): add dark and light mode border styles for improved UI consistency
  .changeset/polite-actors-lose.md
  src/lib/components/branch-list.svelte
Due: eslint, prettier

feat(notifications-popover): improved styling
  .changeset/flat-adults-refuse.md
  src/lib/components/notifications-popover.svelte
Due: eslint, prettier

refactor(remove-repository-modal): update selected branches store usage and clear order
  .changeset/five-rivers-stop.md
  src/lib/components/remove-repository-modal.svelte
Due: eslint, prettier

feat(panda-css): add best practices and guidelines for dynamic styling
  .cursor/rules/panda-css.mdc
Due: none

fix(add-button): don't try to add a repository twice
  .changeset/stupid-moose-clean.md
  src/lib/components/add-button.svelte
  src/lib/services/__tests__/createGetRepositoryByPathQuery.test.ts
  src/lib/services/createGetRepositoryByPathQuery.ts
Due: eslint, prettier

docs(panda-css): update description to clarify
  .cursor/rules/panda-css.mdc
Due: none

chore(package): update Pindoba package links and manage linking/unlinking with a new script
  package.json
  pnpm-lock.yaml
  scripts/link-pindoba.sh
  scripts/manage-pindoba-links.sh
Due: prettier

chore: version package
  .changeset/afraid-items-stick.md
  .changeset/bitter-bugs-clap.md
  .changeset/bumpy-spiders-stop.md
  .changeset/cuddly-rivers-jam.md
  .changeset/eager-chairs-eat.md
  .changeset/every-spiders-beg.md
  .changeset/five-rivers-stop.md
  .changeset/flat-adults-refuse.md
  .changeset/great-ends-wear.md
  .changeset/hip-socks-work.md
  .changeset/large-bears-count.md
  .changeset/lemon-flies-rule.md
  .changeset/light-seas-dig.md
  .changeset/many-colts-like.md
  .changeset/new-maps-arrive.md
  .changeset/odd-lights-work.md
  .changeset/petite-laws-fail.md
  .changeset/polite-actors-lose.md
  .changeset/public-onions-hammer.md
  .changeset/rotten-trams-push.md
  .changeset/rude-deer-heal.md
  .changeset/sad-moons-know.md
  .changeset/shy-ads-worry.md
  .changeset/shy-bottles-post.md
  .changeset/soft-mammals-create.md
  .changeset/sour-pugs-lick.md
  .changeset/strong-bats-return.md
  .changeset/stupid-moose-clean.md
  .changeset/sweet-animals-lead.md
  .changeset/ten-trains-return.md
  .changeset/thick-maps-grab.md
  .changeset/thirty-friends-allow.md
  .changeset/wide-zoos-burn.md
  CHANGELOG.md
  package.json
  src-tauri/gen/schemas/acl-manifests.json
  src-tauri/gen/schemas/desktop-schema.json
  src-tauri/gen/schemas/macOS-schema.json
  src-tauri/tauri.conf.json
Due: prettier

chore(package): remove local Pindoba package links and update dependencies to alpha versions
  package.json
  pnpm-lock.yaml
Due: prettier

chore(svelte-config): update static adapter configuration
  .changeset/calm-hoops-smile.md
  svelte.config.js
Due: eslint, prettier

chore: version package
  .changeset/calm-hoops-smile.md
  CHANGELOG.md
  package.json
Due: prettier

chore: update publish workflow
  .changeset/moody-toys-float.md
  .github/workflows/publish.yml
  package.json
  src-tauri/tauri.conf.json
Due: prettier
