Repository EduardoLopes/cut-branches: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

eslint:
  run: pnpm eslint {staged_files} --max-warnings 0 --fix && git add {staged_files}

prettier:
  run: pnpm prettier --write {staged_files} && git add {staged_files}

chore: changeset output changelog in github format
  .changeset/config.json
  .changeset/odd-toys-travel.md
  package.json
  pnpm-lock.yaml
Due: prettier

chore: add custom changeset commit message
  .changeset/commit.cjs
  .changeset/config.json
  .changeset/gentle-eagles-deny.md
Due: eslint, prettier

chore: patch changeset git changelog module
  .changeset/changelog.cjs
  .changeset/gentle-eagles-deny.md
  .changeset/khaki-kiwis-sort.md
  .changeset/odd-toys-travel.md
  CHANGELOG.md
  package.json
  patches/@changesets__changelog-github@0.5.0.patch
  pnpm-lock.yaml
Due: eslint, prettier

chore(release): v0.2.2
  .changeset/khaki-kiwis-sort.md
  CHANGELOG.md
  package.json
  src-tauri/tauri.conf.json
Due: prettier

chore: update Cargo.lock
  src-tauri/Cargo.lock
Due: none

chore: remove unused file
  .changeset/changelog.cjs
Due: eslint, prettier

chore: update deps
  .changeset/breezy-tomatoes-deliver.md
  package.json
  pnpm-lock.yaml
  src-tauri/Cargo.lock
Due: prettier

chore: update deps
  .changeset/kind-ways-count.md
  package.json
  pnpm-lock.yaml
  src-tauri/Cargo.lock
Due: prettier

feat(notifications-popover): tweak visuals
  .changeset/young-ways-think.md
  src/lib/components/notifications-popover.svelte
Due: eslint, prettier

chore: update deps
  .changeset/tidy-beans-flow.md
  package.json
  pnpm-lock.yaml
  src-tauri/Cargo.lock
Due: prettier

chore: update svelte
  .changeset/rare-points-judge.md
  package.json
  pnpm-lock.yaml
Due: prettier

chore: update deps
  .changeset/small-buttons-try.md
  package.json
  pnpm-lock.yaml
  src-tauri/Cargo.lock
Due: prettier

fix(notifications-popover): correct open state behavior
  .changeset/lucky-birds-glow.md
  src/lib/components/notifications-popover.svelte
Due: eslint, prettier

feat(branch): add last commit details and format date utility
  .changeset/metal-students-unite.md
  src-tauri/src/main.rs
  src/lib/components/branch.svelte
  src/lib/stores/repos.ts
  src/lib/utils/format-date.ts
Due: eslint, prettier

fix: update get_current_branch command to retrieve current branch name
  .changeset/pretty-pillows-love.md
  src-tauri/src/main.rs
Due: prettier

chore: update deps
  .changeset/lucky-balloons-judge.md
  src-tauri/Cargo.lock
Due: prettier

fix(branch): change last commit date format from months to days
  .changeset/heavy-bananas-boil.md
  src/lib/components/branch.svelte
Due: eslint, prettier

fix(branch): remove angle brackets from last commit email
  .changeset/calm-zebras-jog.md
  src/lib/components/branch.svelte
Due: eslint, prettier

feat(branch): implement switch branch functionality with UI integration
  .changeset/tricky-coins-compete.md
  src-tauri/src/main.rs
  src/lib/components/branches.svelte
  src/lib/services/createSwitchBranchMutation.ts
Due: eslint, prettier

feat: add Markdown support for notifications and error messages
  .changeset/hungry-actors-glow.md
  package.json
  pnpm-lock.yaml
  src-tauri/src/main.rs
  src/lib/components/branches.svelte
  src/lib/components/delete-branch-modal.svelte
  src/lib/components/notification.svelte
Due: eslint, prettier

fix(branch): remove box shadow from switch branch button
  src/lib/components/branches.svelte
Due: eslint, prettier

feat(branch): can lock branches
  .changeset/angry-frogs-sparkle.md
  src/lib/components/branch.svelte
  src/lib/components/branches.svelte
  src/lib/components/lock-branch-toggle.svelte
  src/lib/stores/locked-branches.svelte.ts
Due: eslint, prettier

feat(branch): update selected branches when locking branches
  .changeset/unlucky-laws-sell.md
  src/lib/stores/locked-branches.svelte.ts
Due: eslint, prettier

feat(branch): update selected branches on branch switch
  .changeset/sour-peaches-grow.md
  src/lib/components/branches.svelte
Due: eslint, prettier

refactor(selected): remove deprecated selected store and integrate new selected branches store
  .changeset/young-onions-relate.md
  src/lib/components/branches.svelte
  src/lib/components/delete-branch-modal.svelte
  src/lib/stores/locked-branches.svelte.ts
  src/lib/stores/selected-branches.svelte.ts
  src/lib/stores/selected.ts
Due: eslint, prettier

refactor(notifications): notification store is a class that uses svelte 5 features
  .changeset/twenty-planes-heal.md
  src/lib/components/add-button.svelte
  src/lib/components/branches.svelte
  src/lib/components/delete-branch-modal.svelte
  src/lib/components/menu.svelte
  src/lib/components/notification.svelte
  src/lib/components/notifications-popover.svelte
  src/lib/stores/notifications.svelte.ts
  src/lib/stores/notifications.ts
  src/lib/stores/selected-branches.svelte.ts
  src/routes/+layout.svelte
Due: eslint, prettier

feat(notifications): implement infinite scroll for notifications popover
  .changeset/big-jars-brake.md
  src/lib/components/notifications-popover.svelte
Due: eslint, prettier

fix(path): update error messages to use markdown formatting
  .changeset/dull-squids-dream.md
  src-tauri/src/path.rs
Due: prettier

feat(notification): enhance delete branch notifications with markdown formatting
  .changeset/fresh-lions-sniff.md
  src/lib/components/delete-branch-modal.svelte
  src/lib/components/notification.svelte
Due: eslint, prettier

fix(notifications-popover): reset page number on opening notification popover
  .changeset/cuddly-ants-appear.md
  src/lib/components/notifications-popover.svelte
Due: eslint, prettier

fix(branches): disable button while switching branche
  .changeset/nine-garlics-dress.md
  src/lib/components/branches.svelte
Due: eslint, prettier

feat(format-date): update date format to include time
  .changeset/smooth-papayas-dress.md
  src/lib/utils/format-date.ts
Due: eslint, prettier

fix(branches): update locked and selected branches retrieval to use repository name
  .changeset/dry-seahorses-relax.md
  src/lib/components/branches.svelte
  src/lib/components/lock-branch-toggle.svelte
Due: eslint, prettier

feat(shell): add tauri-plugin-shell and integrate into main application
  .changeset/eight-spoons-rush.md
  package.json
  pnpm-lock.yaml
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/capabilities/migrated.json
  src-tauri/gen/schemas/acl-manifests.json
  src-tauri/gen/schemas/capabilities.json
  src-tauri/gen/schemas/desktop-schema.json
  src-tauri/gen/schemas/macOS-schema.json
  src-tauri/src/main.rs
Due: prettier

fix(branches): update locked and selected branches retrieval to use repository name
  src/lib/components/delete-branch-modal.svelte
Due: eslint, prettier

chore: update deps
  package.json
  pnpm-lock.yaml
  src-tauri/Cargo.lock
Due: prettier

refactor(branch): update styling and improve text color consistency in the branch component
  src/lib/components/branch.svelte
  src/lib/components/branches.svelte
  src/lib/components/menu.svelte
Due: eslint, prettier

refactor(repositories): rename repos store and update throughout the codebase
  .changeset/old-bears-sit.md
  src/lib/components/branch.svelte
  src/lib/components/branches.svelte
  src/lib/components/delete-branch-modal.svelte
  src/lib/components/lock-branch-toggle.svelte
  src/lib/components/menu.svelte
  src/lib/components/remove-repository-modal.svelte
  src/lib/services/getRepoByPath.ts
  src/lib/services/useCreateRepositoryID.ts
  src/lib/services/useDeleteBranchesMutation.ts
  src/lib/stores/repos.svelte.ts
  src/lib/stores/repos.ts
  src/lib/utils.ts
  src/routes/+page.svelte
Due: eslint, prettier

refactor: integrate repository creation logic directly in one call
  .changeset/gold-comics-rush.md
  .changeset/sour-pugs-smile.md
  src-tauri/src/main.rs
  src/lib/components/add-button.svelte
  src/lib/components/branches.svelte
  src/lib/components/menu.svelte
  src/lib/services/getRepoByPath.ts
  src/lib/services/useCreateRepositoryID.ts
  src/lib/stores/notifications.svelte.ts
  src/lib/stores/repos.svelte.ts
Due: eslint, prettier

refactor: enhance add-button component
  .changeset/gold-comics-rush.md
  .changeset/sixty-monkeys-prove.md
  src/lib/components/add-button.svelte
  src/lib/components/branches.svelte
  src/lib/components/delete-branch-modal.svelte
  src/lib/components/menu.svelte
  src/routes/add-first/+page.svelte
Due: eslint, prettier

Path conditions:
  eslint: any of: *.{js,ts,jsx,tsx,cjs,mjs,svelte}
  prettier: any of: *.{js,ts,jsx,tsx,cjs,mjs,svelte,html,json,yml,md}
