Repository EduardoLopes/cut-branches: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, typecheck, test, tauri-tests

eslint:
  run: pnpm eslint {staged_files} --max-warnings 0 --fix && git add {staged_files}

prettier:
  run: pnpm prettier --write {staged_files} && git add {staged_files}

typecheck:
  run: pnpm svelte-check

test:
  run: pnpm vitest related {staged_files} --run --silent --coverage=false

tauri-tests:
  run: pnpm test:cargo:coverage:fail

feat: better organize the code at branch-management domain
  src/domains/branch-management/components/branches-empty-states.svelte
  src/domains/branch-management/components/branches-layout.svelte
  src/domains/branch-management/components/search-input.svelte
  src/domains/branch-management/logic/application/use-active-branches-view.svelte.ts
  src/domains/branch-management/logic/application/use-deleted-branches-view.svelte.ts
  src/domains/branch-management/utils/build-repository-data.ts
  src/domains/branch-management/utils/filter-branches-by-search.ts
  src/domains/branch-management/views/active-branches-view.svelte
  src/domains/branch-management/views/deleted-branches-view.svelte
  src/domains/repository-management/components/__tests__/repository-header-update-button.test.ts
  src/routes/repos/[id]/__tests__/full-integration.spec.ts
  src/utils/query-key-utils.ts
Due: eslint, prettier, typecheck, test

chore: remove outdated architecture document and add new code design guide
  CLAUDE.md
  docs/architecture.md
  docs/code-design-guide.md
Due: prettier

feat: again, update branch management domain structure
  src/domains/branch-management/README.md
  src/domains/branch-management/components/__tests__/branch-selection.test.ts
  src/domains/branch-management/components/__tests__/delete-branch-modal.test.ts
  src/domains/branch-management/components/branch-list.svelte
  src/domains/branch-management/components/branch-selection.svelte
  src/domains/branch-management/components/delete-branch-modal.svelte
  src/domains/branch-management/components/lock-branch-toggle.svelte
  src/domains/branch-management/components/restore-deleted-branch-modal.svelte
  src/domains/branch-management/core/composables/__tests__/use-branch-selection.test.ts
  src/domains/branch-management/core/composables/create-get-branches-query.ts
  src/domains/branch-management/core/composables/create-get-repository-list-query.ts
  src/domains/branch-management/core/composables/create-get-repository-query.ts
  src/domains/branch-management/core/composables/createBranchMergeStatusQuery.ts
  src/domains/branch-management/core/composables/createCheckCommitReachableQuery.ts
  src/domains/branch-management/core/composables/createDeleteBranchesMutation.ts
  src/domains/branch-management/core/composables/createListBranchesQuery.ts
  src/domains/branch-management/core/composables/createLockedBranchesMutations.ts
  src/domains/branch-management/core/composables/createLockedBranchesQuery.ts
  src/domains/branch-management/core/composables/createRestoreDeletedBranchMutation.ts
  src/domains/branch-management/core/composables/createSelectedBranchesMutations.ts
  src/domains/branch-management/core/composables/createSelectedBranchesQuery.ts
  src/domains/branch-management/core/composables/createSwitchBranchMutation.ts
  src/domains/branch-management/core/composables/use-active-branches-view.svelte.ts
  src/domains/branch-management/core/composables/use-branch-selection.svelte.ts
  src/domains/branch-management/core/composables/use-deleted-branches-view.svelte.ts
  src/domains/branch-management/views/active-branches-view.svelte
  src/domains/branch-management/views/deleted-branches-view.svelte
  src/domains/repository-management/components/remove-repository-modal.svelte
  src/domains/repository-management/views/__tests__/repository-integration.spec.ts
  src/routes/repos/[id]/__tests__/full-integration.spec.ts
Due: eslint, prettier, typecheck, test

docs: add critical code design rules and compliance guidelines to CLAUDE.md
  CLAUDE.md
Due: prettier

feat: restructure repository navigation domain and introduce composable for fetching repository list
  src/domains/repository-navigation/README.md
  src/domains/repository-navigation/components/repository-list.svelte
  src/domains/repository-navigation/core/composables/create-get-repository-list-query.ts
Due: eslint, prettier, typecheck, test

feat: re-structure onboarding domain
  src/domains/onboarding/README.md
  src/domains/onboarding/components/redirect-to-get-started.svelte
  src/domains/onboarding/core/composables/create-get-repository-list-query.ts
  src/domains/onboarding/core/composables/create-get-repository-query.ts
  src/domains/repository-management/components/__tests__/repository-header-update-button.test.ts
  src/domains/repository-management/components/remove-repository-modal.svelte
  src/domains/repository-management/components/update-repository-button.svelte
Due: eslint, prettier, typecheck, test

feat: add code design validator hook and configuration for Claude
  .claude/hooks/code-design-validator.sh
  .claude/settings.json
Due: prettier

feat: re-structure notification domain with value object and composables for grouping and pagination
  src/domains/notifications/components/__tests__/notification.test.ts
  src/domains/notifications/components/notification.svelte
  src/domains/notifications/components/notifications-popover.svelte
  src/domains/notifications/core/composables/use-notification-grouping.svelte.ts
  src/domains/notifications/core/composables/use-notification-pagination.svelte.ts
  src/domains/notifications/core/models/notification.ts
  src/domains/notifications/store/__tests__/notifications.test.ts
  src/domains/notifications/store/notifications.svelte.ts
  src/domains/notifications/utils/notification-grouping-utils.ts
  src/utils/array-grouping-utils.ts
Due: eslint, prettier, typecheck, test

refactor: standardize import paths and enhance branch management composables
  src/domains/branch-management/components/__tests__/delete-branch-modal.test.ts
  src/domains/branch-management/components/branch-list.svelte
  src/domains/branch-management/components/delete-branch-modal.svelte
  src/domains/branch-management/components/lock-branch-toggle.svelte
  src/domains/branch-management/components/restore-deleted-branch-modal.svelte
  src/domains/branch-management/core/composables/__tests__/use-branch-selection.test.ts
  src/domains/branch-management/core/composables/create-branch-merge-status-query.ts
  src/domains/branch-management/core/composables/create-check-commit-reachable-query.ts
  src/domains/branch-management/core/composables/create-delete-branches-mutation.ts
  src/domains/branch-management/core/composables/create-list-branches-query.ts
  src/domains/branch-management/core/composables/create-locked-branches-mutations.ts
  src/domains/branch-management/core/composables/create-locked-branches-query.ts
  src/domains/branch-management/core/composables/create-restore-deleted-branch-mutation.ts
  src/domains/branch-management/core/composables/create-selected-branches-mutations.ts
  src/domains/branch-management/core/composables/create-selected-branches-query.ts
  src/domains/branch-management/core/composables/create-switch-branch-mutation.ts
  src/domains/branch-management/core/composables/use-branch-selection.svelte.ts
  src/domains/repository-management/components/remove-repository-modal.svelte
  src/domains/repository-management/views/__tests__/repository-integration.spec.ts
Due: eslint, prettier, typecheck, test

feat: implement quality assurance hook and logging for post-tool use events
  .claude/hooks/code-design-validator.sh
  .claude/hooks/test-runner.sh
  .claude/hooks/type-checker.sh
  .claude/settings.json
Due: prettier

refactor: update branch management composables and improve import paths
  .claude/hooks/type-checker.sh
  src/domains/branch-management/components/__tests__/branch-selection.test.ts
  src/domains/branch-management/components/__tests__/delete-branch-modal.test.ts
  src/domains/branch-management/components/branch-list.svelte
  src/domains/branch-management/components/lock-branch-toggle.svelte
  src/domains/branch-management/core/composables/__tests__/use-branch-selection.test.ts
  src/domains/branch-management/core/composables/create-add-locked-branches-mutation.ts
  src/domains/branch-management/core/composables/create-clear-locked-branches-mutation.ts
  src/domains/branch-management/core/composables/create-deleted-selected-branches-query.ts
  src/domains/branch-management/core/composables/create-list-branches-query.ts
  src/domains/branch-management/core/composables/create-locked-branches-mutations.ts
  src/domains/branch-management/core/composables/create-remove-locked-branches-mutation.ts
  src/domains/branch-management/core/composables/create-selected-branches-query.ts
  src/domains/branch-management/core/composables/create-set-branch-selection-all-mutation.ts
  src/domains/branch-management/core/composables/create-update-branch-selection-batch-mutation.ts
  src/domains/branch-management/core/composables/use-branch-selection.svelte.ts
  src/domains/repository-management/components/remove-repository-modal.svelte
Due: eslint, prettier, typecheck, test

feat: add local development support for Pindoba packages with environment configuration
  .env.example
  CLAUDE.md
  lefthook.yml
  package.json
  panda.config.ts
  pnpm-lock.yaml
  scripts/manage-pindoba-links.sh
  scripts/pindoba-link-wrapper.sh
Due: eslint, prettier, typecheck, test

refactor: update import paths to use styled-system for consistent styling across components
  package.json
  pnpm-lock.yaml
  scripts/manage-pindoba-links.sh
  src/domains/branch-management/components/branch-alerts.svelte
  src/domains/branch-management/components/branch-list.svelte
  src/domains/branch-management/components/branch-selection.svelte
  src/domains/branch-management/components/branches-empty-states.svelte
  src/domains/branch-management/components/branches-layout.svelte
  src/domains/branch-management/components/bulk-actions-container.svelte
  src/domains/branch-management/components/delete-branch-modal.svelte
  src/domains/branch-management/components/lock-branch-toggle.svelte
  src/domains/branch-management/components/restore-deleted-branch-modal.svelte
  src/domains/branch-management/components/search-input.svelte
  src/domains/branch-management/utils/branch-utils.ts
  src/domains/notifications/components/notification.svelte
  src/domains/notifications/components/notifications-popover.svelte
  src/domains/onboarding/components/onboarding-cta.svelte
  src/domains/onboarding/components/onboarding-hero.svelte
  src/domains/onboarding/views/onboarding-view.svelte
  src/domains/repository-management/components/add-button.svelte
  src/domains/repository-management/components/back-button.svelte
  src/domains/repository-management/components/branch-restoration-header.svelte
  src/domains/repository-management/components/remove-repository-modal.svelte
  src/domains/repository-management/components/repository-management-header.svelte
  src/domains/repository-management/components/restore-repository-button.svelte
  src/domains/repository-management/views/repository-view.svelte
  src/domains/repository-navigation/components/app-header.svelte
  src/domains/repository-navigation/components/repository-list.svelte
  src/domains/repository-navigation/views/menu-view.svelte
  src/routes/+layout.svelte
  src/routes/repos/+layout.svelte
  src/routes/repos/[id]/+page.svelte
  src/routes/repos/[id]/__tests__/fixtures/repository-page-fixture.svelte
  src/routes/repos/[id]/restore/+page.svelte
  src/ui/core/branch-card.svelte
  src/ui/core/commit-card.svelte
  src/ui/core/empty-state.svelte
  src/ui/core/error-message.svelte
  src/ui/core/footer.svelte
  src/ui/core/icon-button.svelte
Due: eslint, prettier, typecheck, test

feat: add post-commit hook to restore Pindoba links based on environment configuration
  lefthook.yml
  package.json
  pnpm-lock.yaml
  scripts/manage-pindoba-links.sh
  vite.config.js
Due: eslint, prettier, test

chore: update deps
  .gitignore
  package.json
  pnpm-lock.yaml
  scripts/manage-pindoba-links.sh
  src-tauri/.gitignore
  src-tauri/Cargo.lock
  src-tauri/gen/schemas/acl-manifests.json
  src-tauri/gen/schemas/capabilities.json
  src-tauri/gen/schemas/desktop-schema.json
  src-tauri/gen/schemas/macOS-schema.json
Due: prettier

chore: downgrade Vitest and coverage packages, update package overrides for Pindoba components
  package.json
  pnpm-lock.yaml
  svelte.config.js
  vite.config.js
Due: eslint, prettier, test

feat: introduce domain models for branches, commits and related utilities
  pnpm-lock.yaml
  src/core/__tests__/commit-sha.test.ts
  src/core/__tests__/email.test.ts
  src/core/__tests__/repository-id.test.ts
  src/core/__tests__/repository-path.test.ts
  src/core/commit-sha.ts
  src/core/email.ts
  src/core/repository-id.ts
  src/core/repository-path.ts
  src/domains/branch-management/components/__tests__/branch-selection.test.ts
  src/domains/branch-management/components/__tests__/delete-branch-modal.test.ts
  src/domains/branch-management/components/branch-alerts.svelte
  src/domains/branch-management/components/branch-list.svelte
  src/domains/branch-management/components/delete-branch-modal.svelte
  src/domains/branch-management/components/restore-deleted-branch-modal.svelte
  src/domains/branch-management/core/composables/__tests__/use-branch-selection.test.ts
  src/domains/branch-management/core/composables/create-get-branches-query.ts
  src/domains/branch-management/core/composables/create-get-repository-query.ts
  src/domains/branch-management/core/composables/create-list-branches-query.ts
  src/domains/branch-management/core/composables/use-active-branches-view.svelte.ts
  src/domains/branch-management/core/models/__tests__/branch-name.test.ts
  src/domains/branch-management/core/models/__tests__/branch.test.ts
  src/domains/branch-management/core/models/__tests__/commit.test.ts
  src/domains/branch-management/core/models/__tests__/converters.test.ts
  src/domains/branch-management/core/models/branch-name.ts
  src/domains/branch-management/core/models/branch.ts
  src/domains/branch-management/core/models/commit.ts
  src/domains/branch-management/core/models/converters.ts
  src/domains/branch-management/utils/__tests__/filter-selectable-branches.test.ts
  src/domains/branch-management/utils/branch-utils.ts
  src/domains/branch-management/utils/build-repository-data.ts
  src/domains/branch-management/utils/filter-branches-by-search.ts
  src/domains/branch-management/utils/filter-selectable-branches.ts
  src/routes/repos/[id]/__tests__/full-integration.spec.ts
  src/ui/core/__tests__/branch-card.test.ts
  src/ui/core/__tests__/commit-card.test.ts
  src/ui/core/branch-card.svelte
  src/ui/core/commit-card.svelte
  src/utils/create-tauri-query.ts
  svelte.config.js
Due: eslint, prettier, typecheck, test

refactor: update test runner to execute project-wide tests and adjust feedback format
  .claude/hooks/test-runner.sh
  .claude/settings.json
Due: prettier

chore: upgrade deps
  package.json
  pnpm-lock.yaml
  src-tauri/Cargo.lock
Due: prettier

refactor: update BranchList tests to use domain models and improve mock data handling
  src/domains/branch-management/components/__tests__/branch-list.test.ts
  src/utils/test-utils.ts
Due: eslint, prettier, typecheck, test

refactor: simplify integration tests by removing unnecessary mocks and improving test structure
  src/routes/repos/[id]/__tests__/full-integration.spec.ts
Due: eslint, prettier, typecheck, test

refactor: enhance LockBranchToggle tests with improved command handling
  src/domains/branch-management/components/__tests__/lock-branch-toggle.test.ts
  src/utils/query-key-utils.ts
  vite.config.js
Due: eslint, prettier, typecheck, test

style: update background property in branch list and bulk actions components
  src/domains/branch-management/components/branch-list.svelte
  src/domains/branch-management/components/bulk-actions-container.svelte
Due: eslint, prettier, typecheck, test

fix: hide selection checkbox when a branch is locked
  src/domains/branch-management/components/__tests__/branch-list.test.ts
  src/domains/branch-management/components/branch-list.svelte
  vite.config.js
Due: eslint, prettier, typecheck, test

style: update spacing tokens in some components
  src/domains/notifications/components/notification.svelte
  src/domains/onboarding/components/onboarding-cta.svelte
  src/ui/core/branch-card.svelte
  src/ui/core/commit-card.svelte
  src/ui/core/footer.svelte
Due: eslint, prettier, typecheck, test

chore: update pnpm version
  package.json
  pnpm-lock.yaml
Due: prettier

refactor: enhance search input component
  src/domains/branch-management/components/search-input.svelte
Due: eslint, prettier, typecheck, test

feat: add showAlerts prop to BranchList component and update usage in DeletedBranchesView
  .changeset/shaggy-years-warn.md
  src/domains/branch-management/components/branch-list.svelte
  src/domains/branch-management/views/deleted-branches-view.svelte
Due: eslint, prettier, typecheck, test

refactor: update RepositoryManagementHeader with new tab functionality
  .changeset/swift-nails-spend.md
  src/domains/branch-management/components/branch-list.svelte
  src/domains/branch-management/components/branches-layout.svelte
  src/domains/repository-management/components/__tests__/branch-restoration-header.test.ts
  src/domains/repository-management/components/branch-restoration-header.svelte
  src/domains/repository-management/components/repository-management-header.svelte
  src/domains/repository-management/views/__tests__/repository-integration.spec.ts
  src/domains/repository-management/views/repository-view.svelte
  src/routes/repos/[id]/+page.svelte
  src/routes/repos/[id]/__tests__/fixtures/repository-page-fixture.svelte
  src/routes/repos/[id]/restore/+page.svelte
  src/routes/repos/[id]/restore/__tests__/page.test.ts
Due: eslint, prettier, typecheck, test

feat: add loading indicator and popover functionality to RepositoryManagementHeader
  .changeset/metal-shoes-follow.md
  src/domains/repository-management/components/remove-repository-modal.svelte
  src/domains/repository-management/components/repository-management-header.svelte
  src/domains/repository-management/components/update-repository-button.svelte
Due: eslint, prettier, typecheck, test

feat: implement portal action for dynamic DOM manipulation and add comprehensive tests
  src/domains/repository-management/components/__tests__/remove-repository-modal.test.ts
  src/domains/repository-management/components/__tests__/repository-header-restore-button.test.ts
  src/utils/__tests__/portal-action.test.ts
  src/utils/portal-action.ts
Due: eslint, prettier, typecheck, test

feat: integrate portal action into remove repository modal and remove unused restore repository button component
  src/domains/repository-management/components/remove-repository-modal.svelte
  src/domains/repository-management/components/restore-repository-button.svelte
Due: eslint, prettier, typecheck, test

chore: update test scripts
  package.json
  pnpm-lock.yaml
Due: prettier

feat(repository-navigation): add repository data prefetching on hover
  src/domains/repository-navigation/components/__tests__/repository-list.test.ts
  src/domains/repository-navigation/components/repository-list.svelte
  src/domains/repository-navigation/core/composables/__tests__/create-prefetch-repository-data.test.ts
  src/domains/repository-navigation/core/composables/create-prefetch-repository-data.ts
  src/routes/repos/[id]/restore/__tests__/page.test.ts
  src/utils/__tests__/create-tauri-query.test.ts
  src/utils/create-tauri-query.ts
Due: eslint, prettier, typecheck, test

chore: update lefthook configuration to run tests in headless mode
  lefthook.yml
Due: prettier

fix(footer): add marginTop style to ensure proper layout
  src/ui/core/footer.svelte
Due: eslint, prettier, typecheck, test

feat(redirect-to-get-started): add loading indicator for repository query
  src/domains/onboarding/components/redirect-to-get-started.svelte
  src/routes/+layout.svelte
Due: eslint, prettier, typecheck, test

feat(repository-management-header): enhance Group component with custom styles and properties
  pnpm-lock.yaml
  src/domains/branch-management/components/branches-layout.svelte
  src/domains/branch-management/views/active-branches-view.svelte
  src/domains/branch-management/views/deleted-branches-view.svelte
  src/domains/repository-management/components/repository-management-header.svelte
Due: eslint, prettier, typecheck, test

Path conditions:
  eslint: any of: *.{js,ts,jsx,tsx,cjs,mjs,svelte}
  prettier: any of: *.{js,ts,jsx,tsx,cjs,mjs,svelte,html,json,yml,md}
  typecheck: any of: *.{ts,tsx,svelte}
  test: any of: *.{js,ts,jsx,tsx,svelte}
  tauri-tests: any of: *.rs
