Repository EduardoLopes/cut-branches: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, typecheck, test, tauri-tests

eslint:
  run: pnpm eslint {staged_files} --max-warnings 0 --fix && git add {staged_files}

prettier:
  run: pnpm prettier --write {staged_files} && git add {staged_files}

typecheck:
  run: pnpm svelte-check

test:
  run: pnpm vitest related {staged_files} --run --silent --coverage=false

tauri-tests:
  run: pnpm test:cargo:coverage:fail

refactor(backend): validate inputs via value objects at boundaries (step-10)
  src-tauri/src/domains/branch_management/commands/queries.rs
  src-tauri/src/domains/branch_management/error.rs
  src-tauri/src/domains/repository_management/commands/create.rs
  src-tauri/src/domains/repository_management/error.rs
Due: tauri-tests

docs(adr): record step-10 value-object adoption scope
  docs/adr/002-backend-domain-boundaries.md
Due: prettier

feat(onboarding): add welcome modal and empty app shell
  src/domains/onboarding/README.md
  src/domains/onboarding/components/__tests__/onboarding-cta.test.ts
  src/domains/onboarding/components/__tests__/onboarding-hero.test.ts
  src/domains/onboarding/components/__tests__/redirect-to-app.test.ts
  src/domains/onboarding/components/__tests__/welcome-modal.test.ts
  src/domains/onboarding/components/onboarding-cta.svelte
  src/domains/onboarding/components/onboarding-hero.svelte
  src/domains/onboarding/components/redirect-to-app.svelte
  src/domains/onboarding/components/welcome-modal.svelte
  src/domains/onboarding/views/__tests__/onboarding-view.test.ts
  src/domains/onboarding/views/onboarding-view.svelte
  src/domains/repository-management/README.md
  src/domains/repository-management/components/__tests__/remove-repository-modal.test.ts
  src/domains/repository-management/components/remove-repository-modal.svelte
  src/routes/+layout.svelte
  src/routes/get-started/+page.svelte
  src/routes/get-started/__tests__/get-started-page-route.test.ts
  src/routes/get-started/__tests__/get-started-page.test.ts
  src/routes/repos/+layout.svelte
  src/routes/repos/+page.svelte
  src/routes/repos/__tests__/add-button-stub.svelte
  src/routes/repos/__tests__/repos-index-page.test.ts
Due: eslint, prettier, typecheck, test

feat(repository-management): live git↔db sync via filesystem watcher
  .prettierignore
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/domains/repository_management/commands/create.rs
  src-tauri/src/domains/repository_management/commands/delete.rs
  src-tauri/src/domains/repository_management/commands/mod.rs
  src-tauri/src/domains/repository_management/commands/watch.rs
  src-tauri/src/domains/repository_management/core/application/discovery.rs
  src-tauri/src/domains/repository_management/events.rs
  src-tauri/src/domains/repository_management/infrastructure/state_hash.rs
  src-tauri/src/main.rs
  src-tauri/src/shared/infrastructure/mod.rs
  src-tauri/src/shared/infrastructure/watcher/mod.rs
  src/components/providers.svelte
  src/domains/repository-management/components/__tests__/update-repository-button.test.ts
  src/domains/repository-management/components/repository-header.svelte
  src/domains/repository-management/components/update-repository-button.svelte
  src/domains/repository-management/core/composables/__tests__/use-repository-watch.test.ts
  src/domains/repository-management/core/composables/use-repository-watch.svelte.ts
  src/infrastructure/__tests__/query-key-utils.test.ts
  src/infrastructure/bindings.ts
  src/infrastructure/query-key-utils.ts
Due: eslint, prettier, typecheck, test, tauri-tests

build(pindoba): load local panda preset in USE_LOCAL_PINDOBA mode
  CLAUDE.md
  panda.config.ts
Due: eslint, prettier, typecheck, test

chore(deps): sync pnpm lockfile
  pnpm-lock.yaml
Due: none

fix(repository-management): focus first action when options menu opens
  src/domains/repository-management/components/repository-header.svelte
Due: eslint, prettier, typecheck, test

feat(tauri): add single-instance, opener and log plugins
  package.json
  pnpm-lock.yaml
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/capabilities/migrated.json
  src-tauri/src/main.rs
Due: prettier, tauri-tests

feat(repository-management): add reveal in file manager action
  src/domains/repository-management/components/__tests__/open-repository-button.test.ts
  src/domains/repository-management/components/open-repository-button.svelte
  src/domains/repository-management/components/repository-header.svelte
Due: eslint, prettier, typecheck, test

refactor: route rust logging through the log plugin
  src-tauri/src/domains/repository_management/commands/create.rs
  src-tauri/src/domains/repository_management/commands/delete.rs
  src-tauri/src/domains/repository_management/commands/read.rs
  src-tauri/src/domains/repository_management/commands/watch.rs
  src-tauri/src/domains/repository_management/core/application/discovery.rs
  src-tauri/src/shared/infrastructure/watcher/mod.rs
Due: tauri-tests

refactor(repository-management): use pindoba menu for repository options
  src/domains/repository-management/README.md
  src/domains/repository-management/components/__tests__/open-repository-button.test.ts
  src/domains/repository-management/components/__tests__/remove-repository-modal.test.ts
  src/domains/repository-management/components/__tests__/repository-header.test.ts
  src/domains/repository-management/components/__tests__/update-repository-button.test.ts
  src/domains/repository-management/components/open-repository-button.svelte
  src/domains/repository-management/components/remove-repository-modal.svelte
  src/domains/repository-management/components/repository-header.svelte
  src/domains/repository-management/components/update-repository-button.svelte
  src/domains/repository-management/core/composables/__tests__/use-repository-actions.test.ts
  src/domains/repository-management/core/composables/use-repository-actions.svelte.ts
  tsconfig.json
  vite.config.js
Due: eslint, prettier, typecheck, test

feat(repository-management): scan the filesystem to add repositories in bulk
  src-tauri/src/domains/repository_management/commands/discover.rs
  src-tauri/src/domains/repository_management/commands/mod.rs
  src-tauri/src/domains/repository_management/infrastructure/mod.rs
  src-tauri/src/domains/repository_management/infrastructure/scanner.rs
  src-tauri/src/main.rs
  src/domains/repository-management/components/__tests__/add-repository-menu.test.ts
  src/domains/repository-management/components/__tests__/scan-repositories-modal.test.ts
  src/domains/repository-management/components/add-repository-button.svelte
  src/domains/repository-management/components/add-repository-menu.svelte
  src/domains/repository-management/components/scan-repositories-modal.svelte
  src/domains/repository-management/core/composables/__tests__/use-add-repository.test.ts
  src/domains/repository-management/core/composables/__tests__/use-discover-repositories.test.ts
  src/domains/repository-management/core/composables/use-add-repository.svelte.ts
  src/domains/repository-management/core/composables/use-discover-repositories.svelte.ts
  src/domains/repository-management/infrastructure/mutations/__tests__/create-discover-repositories-mutation.test.ts
  src/domains/repository-management/infrastructure/mutations/create-discover-repositories-mutation.ts
  src/infrastructure/bindings.ts
  src/routes/+layout.svelte
  src/routes/repos/+layout.svelte
  src/routes/repos/+page.svelte
Due: eslint, prettier, typecheck, test, tauri-tests

feat(app-settings): add settings page with feature flags
  src/domains/app-settings/README.md
  src/domains/app-settings/components/__tests__/feature-flag-toggle.test.ts
  src/domains/app-settings/components/feature-flag-toggle.svelte
  src/domains/app-settings/views/__tests__/settings-view.test.ts
  src/domains/app-settings/views/settings-view.svelte
  src/domains/repository-navigation/views/sidebar-view.svelte
  src/lib/__tests__/feature-flags.test.ts
  src/lib/feature-flags.svelte.ts
  src/routes/settings/+page.svelte
  vite.config.js
Due: eslint, prettier, typecheck, test

feat(repository-management): live scan progress and find-repositories modal refinements
  src-tauri/src/domains/repository_management/commands/discover.rs
  src-tauri/src/domains/repository_management/events.rs
  src-tauri/src/domains/repository_management/infrastructure/scanner.rs
  src-tauri/src/main.rs
  src/domains/repository-management/components/__tests__/scan-repositories-modal.test.ts
  src/domains/repository-management/components/scan-repositories-modal.svelte
  src/domains/repository-management/core/composables/__tests__/use-discover-repositories.test.ts
  src/domains/repository-management/core/composables/use-discover-repositories.svelte.ts
  src/infrastructure/bindings.ts
Due: eslint, prettier, typecheck, test, tauri-tests

fix(repository-management): use sm add buttons and right-align the sidebar control
  src/domains/repository-management/components/add-repository-menu.svelte
  src/domains/repository-navigation/components/repository-nav-list.svelte
  src/routes/+layout.svelte
  src/routes/repos/+layout.svelte
  src/routes/repos/+page.svelte
Due: eslint, prettier, typecheck, test

feat(repository-navigation): render settings as Navigation and improve the collapsed rail
  src/domains/repository-navigation/components/repository-nav-list.svelte
  src/domains/repository-navigation/components/sidebar-brand.svelte
  src/domains/repository-navigation/views/sidebar-view.svelte
Due: eslint, prettier, typecheck, test

fix(repository-management): refresh repository list after bulk scan
  src/domains/repository-management/core/composables/__tests__/use-discover-repositories.test.ts
  src/domains/repository-management/core/composables/use-discover-repositories.svelte.ts
Due: eslint, prettier, typecheck, test

refactor(layout): extract AppShell for a shared sidebar layout
  src/components/app-shell.svelte
  src/routes/repos/+layout.svelte
Due: eslint, prettier, typecheck, test

feat(app-settings): serve settings sections as dedicated routes
  src/domains/app-settings/components/__tests__/feature-flags-panel.test.ts
  src/domains/app-settings/components/feature-flags-panel.svelte
  src/domains/app-settings/views/__tests__/settings-shell.test.ts
  src/domains/app-settings/views/settings-shell.svelte
  src/domains/app-settings/views/settings-view.svelte
  src/domains/onboarding/components/redirect-to-app.svelte
  src/routes/settings/+layout.svelte
  src/routes/settings/+page.svelte
  src/routes/settings/+page.ts
  src/routes/settings/feature-flags/+page.svelte
Due: eslint, prettier, typecheck, test

feat(app-settings): add about page with app and diagnostics info
  package.json
  pnpm-lock.yaml
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/capabilities/migrated.json
  src-tauri/src/main.rs
  src/domains/app-settings/components/__tests__/about-panel.test.ts
  src/domains/app-settings/components/about-panel.svelte
  src/domains/app-settings/core/composables/__tests__/use-about.test.ts
  src/domains/app-settings/core/composables/use-about.svelte.ts
  src/domains/app-settings/infrastructure/__tests__/get-app-info.test.ts
  src/domains/app-settings/infrastructure/get-app-info.ts
  src/global.d.ts
  src/routes/settings/about/+page.svelte
  vite.config.js
Due: eslint, prettier, typecheck, test, tauri-tests

fix(db): stop recurring database is locked errors from pooled connections
  src-tauri/src/shared/infrastructure/db/mod.rs
Due: tauri-tests

fix(onboarding): keep settings subroutes reachable without repositories
  src/domains/onboarding/components/__tests__/redirect-to-app.test.ts
  src/domains/onboarding/components/redirect-to-app.svelte
Due: eslint, prettier, typecheck, test

refactor(repository-management): tighten repo scan discovery ux
  src/domains/repository-management/components/scan-repositories-modal.svelte
  src/domains/repository-management/core/composables/use-discover-repositories.svelte.ts
Due: eslint, prettier, typecheck, test

style(theme): add thin custom scrollbar
  panda.config.ts
Due: eslint, prettier, typecheck, test

feat(app-settings): redesign feature-flags list with clickable cards
  src/domains/app-settings/components/feature-flag-toggle.svelte
  src/domains/app-settings/components/feature-flags-panel.svelte
Due: eslint, prettier, typecheck, test

style(repository-cleanup): elevate settings cards with right-aligned controls
  src/domains/repository-cleanup/components/cleanup-settings-panel.svelte
Due: eslint, prettier, typecheck, test

refactor(settings): unify settings pages on shared section/field patterns
  src/domains/app-settings/README.md
  src/domains/app-settings/components/about-panel.svelte
  src/domains/app-settings/components/feature-flag-toggle.svelte
  src/domains/app-settings/components/feature-flags-panel.svelte
  src/domains/repository-cleanup/components/cleanup-settings-panel.svelte
  src/ui/patterns/README.md
  src/ui/patterns/__tests__/settings-field.test.ts
  src/ui/patterns/__tests__/settings-section.test.ts
  src/ui/patterns/settings-field.svelte
  src/ui/patterns/settings-section.svelte
Due: eslint, prettier, typecheck, test

feat(repository-cleanup)!: discover cleanup targets from .gitignore only
  src-tauri/src/domains/repository_cleanup/commands/clean.rs
  src-tauri/src/domains/repository_cleanup/commands/scan.rs
  src-tauri/src/domains/repository_cleanup/commands/stale.rs
  src-tauri/src/domains/repository_cleanup/core/application/clean.rs
  src-tauri/src/domains/repository_cleanup/core/application/scan.rs
  src-tauri/src/domains/repository_cleanup/core/application/stale.rs
  src-tauri/src/domains/repository_cleanup/core/models/allowlist.rs
  src-tauri/src/domains/repository_cleanup/core/models/clean_target.rs
  src-tauri/src/domains/repository_cleanup/core/models/cleanup_target.rs
  src-tauri/src/domains/repository_cleanup/core/models/mod.rs
  src-tauri/src/domains/repository_cleanup/error.rs
  src-tauri/src/domains/repository_cleanup/infrastructure/scanner.rs
  src-tauri/src/domains/repository_cleanup/infrastructure/validator.rs
  src/domains/repository-cleanup/core/composables/__tests__/use-stale-repositories.test.ts
  src/domains/repository-cleanup/core/composables/use-cleanup-targets.svelte.ts
  src/domains/repository-cleanup/core/composables/use-stale-repositories.svelte.ts
  src/infrastructure/bindings.ts
Due: eslint, prettier, typecheck, test, tauri-tests

fix(repository-cleanup): keep accordion chevron visible with long repo paths
  src/domains/repository-cleanup/views/bulk-cleanup-view.svelte
Due: eslint, prettier, typecheck, test

feat(repository-cleanup): stream cleanup-target-cleaned events for optimistic list updates
  src-tauri/src/domains/repository_cleanup/commands/clean.rs
  src-tauri/src/domains/repository_cleanup/core/application/clean.rs
  src-tauri/src/domains/repository_cleanup/events.rs
  src-tauri/src/main.rs
  src/domains/repository-cleanup/core/composables/__tests__/use-stale-repositories.test.ts
  src/domains/repository-cleanup/core/composables/use-stale-repositories.svelte.ts
  src/domains/repository-cleanup/infrastructure/queries/__tests__/create-list-stale-repositories-query.test.ts
  src/domains/repository-cleanup/infrastructure/queries/create-list-stale-repositories-query.ts
  src/domains/repository-cleanup/views/bulk-cleanup-view.svelte
  src/infrastructure/bindings.ts
Due: eslint, prettier, typecheck, test, tauri-tests

feat(repository-navigation): add sort option to the repository list
  src/components/app-shell.svelte
  src/domains/repository-management/components/__tests__/add-repository-menu.test.ts
  src/domains/repository-management/components/add-repository-menu.svelte
  src/domains/repository-navigation/components/__tests__/repository-nav-list.test.ts
  src/domains/repository-navigation/components/repository-nav-list.svelte
  src/lib/__tests__/repository-sort.test.ts
  src/lib/repository-sort.svelte.ts
Due: eslint, prettier, typecheck, test

style: reformat dependency-cruiser rule comments
  .dependency-cruiser.cjs
Due: eslint, prettier

feat(repository-management): add bulk repository removal
  src/components/app-shell.svelte
  src/domains/repository-management/components/__tests__/add-repository-menu.test.ts
  src/domains/repository-management/components/__tests__/manage-repositories-modal.test.ts
  src/domains/repository-management/components/add-repository-menu.svelte
  src/domains/repository-management/components/manage-repositories-modal.svelte
  src/domains/repository-management/core/composables/__tests__/use-remove-repository-batch.test.ts
  src/domains/repository-management/core/composables/use-remove-repository-batch.svelte.ts
Due: eslint, prettier, typecheck, test

feat(repository-management): add search filter to find-repositories modal
  src/domains/repository-management/components/__tests__/scan-repositories-modal.test.ts
  src/domains/repository-management/components/scan-repositories-modal.svelte
Due: eslint, prettier, typecheck, test

chore(deps): update rust dependencies
  src-tauri/Cargo.lock
Due: none

chore(deps): update frontend dependencies
  package.json
  patches/@changesets__changelog-github@0.5.1.patch
  patches/@changesets__changelog-github@0.7.0.patch
  pnpm-lock.yaml
Due: prettier

refactor: drop redundant unlisten reset in scan composables
  src/domains/repository-cleanup/core/composables/use-cleanup-targets.svelte.ts
  src/domains/repository-management/core/composables/use-discover-repositories.svelte.ts
Due: eslint, prettier, typecheck, test

chore(deps): remove unused packages
  package.json
  pnpm-lock.yaml
Due: prettier

chore: add conventional-commit skill for this repo
  .claude/skills/commit/SKILL.md
Due: prettier

Path conditions:
  eslint: any of: *.{js,ts,jsx,tsx,cjs,mjs,svelte}
  prettier: any of: *.{js,ts,jsx,tsx,cjs,mjs,svelte,html,json,yml,md}
  typecheck: any of: *.{ts,tsx,svelte}
  test: any of: *.{js,ts,jsx,tsx,svelte}
  tauri-tests: any of: *.rs
