Repository EduardoLopes/cut-branches: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, typecheck, test, tauri-tests

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: '*.{js,ts,jsx,tsx,cjs,mjs,svelte}'
      run: pnpm eslint {staged_files} --max-warnings 0 --fix && git add {staged_files}
    prettier:
      glob: '*.{js,ts,jsx,tsx,cjs,mjs,svelte,html,json,yml,md}'
      run: pnpm prettier --write {staged_files} && git add {staged_files}
    typecheck:
      glob: '*.{ts,tsx,svelte}'
      run: pnpm svelte-check
    test:
      glob: '*.{js,ts,jsx,tsx,svelte}'
      run: pnpm vitest related {staged_files} --run --silent --coverage=false
    tauri-tests:
      glob: '*.rs'
      run: pnpm test:cargo:coverage:fail

commit-msg:
  scripts:
    'commitlint.sh':
      runner: bash

fix(backend): keep the watcher state portable across platforms
  src-tauri/src/shared/infrastructure/watcher/mod.rs
Due: tauri-tests

fix(ci): decide the release from the committed version
  .github/workflows/release.yml
Due: prettier

fix(ci): retry a release that was tagged but never published
  .github/workflows/release.yml
Due: prettier

chore(deps): bump playwright and refresh the pindoba alpha packages
  package.json
  pnpm-lock.yaml
Due: prettier

style(repository-management): open the options tooltip to the left
  .changeset/mighty-results-move.md
  src/domains/repository-management/components/repository-header.svelte
Due: eslint, prettier, typecheck, test
