Repository EduardoLopes/cut-branches: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

eslint:
  run: pnpm eslint {staged_files} --max-warnings 0 --fix && git add {staged_files}

prettier:
  run: pnpm prettier --write {staged_files} && git add {staged_files}

ci: remove redundant bash shell specification from pnpm cache setup
  .github/actions/node-setup/action.yml
Due: prettier

ci: remove bash shell specification from rust cache action
  .github/actions/rust-setup/action.yml
Due: prettier

refactor: remove unused histoire type reference
  src/global.d.ts
  vite.config.js
Due: eslint, prettier

chore: update deps
  package.json
  pnpm-lock.yaml
  src-tauri/Cargo.lock
Due: prettier

docs: add Mermaid and Svelte documentation rules
  .cursor/rules/marmaid.mdc
  .cursor/rules/svelte.mdc
Due: none

chore: update deps
  .changeset/shy-ads-worry.md
  package.json
  pnpm-lock.yaml
  src-tauri/Cargo.lock
  src-tauri/gen/schemas/acl-manifests.json
  src-tauri/gen/schemas/desktop-schema.json
  src-tauri/gen/schemas/macOS-schema.json
Due: prettier

feat: make notification-popover better
  package.json
  pnpm-lock.yaml
  src/lib/components/notifications-popover.svelte
Due: eslint, prettier

feat: enhance NotificationsPopover with improved error handling
  src/lib/components/notifications-popover.svelte
Due: eslint, prettier

feat: add unit tests for NotificationsPopover component and improve timezone formatting
  src/lib/components/__tests__/notifications-popover.test.ts
  src/lib/components/notifications-popover.svelte
Due: eslint, prettier

feat: add comprehensive unit tests for NotificationStore functionality
  src/lib/stores/__tests__/notifications.test.ts
Due: eslint, prettier

feat(notifications-popover): make the code robust and add more unit tests
  .changeset/strong-bats-return.md
  src/lib/components/notifications-popover.svelte
Due: eslint, prettier

chore: update rust dependencies and improve scrollbar handling in CSS
  src-tauri/Cargo.lock
  src/app.css
Due: none

chore: update most front-end dependencies
  .changeset/sour-pugs-lick.md
  eslint.config.js
  package.json
  pnpm-lock.yaml
Due: eslint, prettier

chore: update eslint-import-resolver-typescript
  package.json
  pnpm-lock.yaml
Due: prettier

chore: update eslint-plugin-svelte, fix errors and warnings
  .changeset/rude-deer-heal.md
  eslint.config.js
  package.json
  pnpm-lock.yaml
  src/lib/components/delete-branch-modal.svelte
  src/lib/components/lock-branch-toggle.svelte
  src/lib/components/notifications-popover.svelte
  src/lib/utils/map-store.svelte.ts
  src/lib/utils/set-store.svelte.ts
Due: eslint, prettier

chore: remove unused histoire.setup.ts file
  histoire.setup.ts
Due: eslint, prettier

chore: update @changesets/changelog-github to version 0.5.1 and adjust related patch files
  package.json
  patches/@changesets__changelog-github@0.5.1.patch
  pnpm-lock.yaml
Due: prettier

chore: update Vite and Svelte configuration and enable prerendering
  src/routes/+layout.ts
  svelte.config.js
  vite.config.js
Due: eslint, prettier

chore: update Svelte to version 5.23.1
  package.json
  pnpm-lock.yaml
Due: prettier

test: add more tests
  .changeset/ten-trains-return.md
  pnpm-lock.yaml
  src/lib/components/__tests__/add-button.test.ts
  src/lib/components/__tests__/branch.test.ts
  src/lib/components/__tests__/branches-bulk-actions.test.ts
  src/lib/components/__tests__/branches.test.ts
  src/lib/components/__tests__/delete-branch-modal.test.ts
  src/lib/components/__tests__/footer.test.ts
  src/lib/components/__tests__/lock-branch-toggle.test.ts
  src/lib/components/__tests__/remove-repository-modal.test.ts
  src/lib/components/branch.svelte
  src/lib/components/branches.svelte
  src/lib/components/lock-branch-toggle.svelte
  src/lib/components/menu.svelte
  src/lib/components/remove-repository-modal.svelte
Due: eslint, prettier

chore: add script to link pindova UI
  scripts/link-pindoba.sh
Due: none

chore: update package manager to pnpm@10.6.4
  package.json
  pnpm-lock.yaml
  src/lib/components/menu.svelte
Due: eslint, prettier

feat(branch): update branch component styles for improved visual
  .changeset/new-maps-arrive.md
  src/lib/components/branch.svelte
  src/lib/components/branches.svelte
Due: eslint, prettier

feat(branch): replace icons in branch component and adjust sizes for better visibility
  .changeset/wide-zoos-burn.md
  src/lib/components/branches.svelte
  src/lib/components/lock-branch-toggle.svelte
Due: eslint, prettier

feat(branch): optimize select all functionality for improved performance
  .changeset/great-ends-wear.md
  src/lib/components/branches-bulk-actions.svelte
Due: eslint, prettier

chore(svelte-5): add comprehensive svelte-5 migration guide and new features overview
  .cursor/rules/svelte-5.mdc
Due: none

chore(svelte-5): add comprehensive svelte-5 migration guide and new features overview
  .cursor/rules/svelte-5.mdc
  .cursor/rules/svelte.mdc
Due: none

test(footer): use fixed date in tests for consistent time display results
  src/lib/components/__tests__/footer.test.ts
Due: eslint, prettier

feat(local-storage): enhance setLocalStorage function with validation and error handling
  .changeset/lemon-flies-rule.md
  src/lib/utils/set-local-storage.ts
Due: eslint, prettier

feat(local-storage): add setValidatedLocalStorage function for schema validation and storage
  .changeset/shy-bottles-post.md
  src/lib/utils/__tests__/set-validated-local-storage.test.ts
  src/lib/utils/set-validated-local-storage.ts
Due: eslint, prettier

feat(local-storage): integrate Zod schema validation into MapStore, SetStore, and Store classes
  .changeset/every-spiders-beg.md
  src/lib/utils/map-store.svelte.ts
  src/lib/utils/set-store.svelte.ts
  src/lib/utils/store.svelte.ts
Due: eslint, prettier

feat(local-storage): implement AbstractStore class and refactor MapStore, SetStore and Store
  .changeset/large-bears-count.md
  src/lib/utils/__tests__/abstract-store.test.ts
  src/lib/utils/__tests__/map-store.test.ts
  src/lib/utils/__tests__/set-store.test.ts
  src/lib/utils/__tests__/store.test.ts
  src/lib/utils/abstract-store.svelte.ts
  src/lib/utils/map-store.svelte.ts
  src/lib/utils/set-store.svelte.ts
  src/lib/utils/store.svelte.ts
Due: eslint, prettier

feat(dependencies): add Zod library for enhanced schema validation
  package.json
  pnpm-lock.yaml
Due: prettier

test(remove-repository-modal): verify removal and navigation flow
  src/lib/components/__tests__/remove-repository-modal.test.ts
Due: eslint, prettier

feat(lock-branch-toggle): remove branch from selected when locked
  .changeset/rotten-trams-push.md
  src/lib/components/lock-branch-toggle.svelte
Due: eslint, prettier

feat(local-storage): integrate Zod schema validation into store classes and tests
  .changeset/bitter-bugs-clap.md
  src/lib/components/__tests__/branches-bulk-actions.test.ts
  src/lib/components/__tests__/branches.test.ts
  src/lib/components/__tests__/delete-branch-modal.test.ts
  src/lib/stores/locked-branches.svelte.ts
  src/lib/stores/notifications.svelte.ts
  src/lib/stores/repository.svelte.ts
  src/lib/stores/search-branches.svelte.ts
  src/lib/stores/selected-branches.svelte.ts
  src/lib/utils/__tests__/abstract-store.test.ts
  src/lib/utils/__tests__/map-store.test.ts
  src/lib/utils/__tests__/store.test.ts
  src/lib/utils/abstract-store.svelte.ts
  src/lib/utils/map-store.svelte.ts
  src/lib/utils/set-store.svelte.ts
  src/lib/utils/store.svelte.ts
Due: eslint, prettier

feat(vite.config): exclude 'src/routes/**' from test coverage
  vite.config.js
Due: eslint, prettier

feat(local-storage): enhance getLocalStorage function with improved error handling
  .changeset/thick-maps-grab.md
  src/lib/utils/get-local-storage.ts
Due: eslint, prettier

feat(local-storage): add getValidatedLocalStorage for fetching/validating data with Zod
  .changeset/soft-mammals-create.md
  src/lib/utils/__tests__/get-validated-local-storage.test.ts
  src/lib/utils/get-validated-local-storage.ts
Due: eslint, prettier

refactor(local-storage): replace getLocalStorage with getValidatedLocalStorage in AbstractStore
  .changeset/eager-chairs-eat.md
  src/lib/utils/__tests__/abstract-store.test.ts
  src/lib/utils/__tests__/map-store.test.ts
  src/lib/utils/__tests__/set-store.test.ts
  src/lib/utils/__tests__/store.test.ts
  src/lib/utils/abstract-store.svelte.ts
Due: eslint, prettier

Path conditions:
  eslint: any of: *.{js,ts,jsx,tsx,cjs,mjs,svelte}
  prettier: any of: *.{js,ts,jsx,tsx,cjs,mjs,svelte,html,json,yml,md}
