Repository EduardoLopes/cut-branches: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, typecheck, test, tauri-tests

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: '*.{js,ts,jsx,tsx,cjs,mjs,svelte}'
      run: pnpm eslint {staged_files} --max-warnings 0 --fix && git add {staged_files}
    prettier:
      glob: '*.{js,ts,jsx,tsx,cjs,mjs,svelte,html,json,yml,md}'
      run: pnpm prettier --write {staged_files} && git add {staged_files}
    typecheck:
      glob: '*.{ts,tsx,svelte}'
      run: pnpm svelte-check
    test:
      glob: '*.{js,ts,jsx,tsx,svelte}'
      run: pnpm vitest related {staged_files} --run --silent --coverage=false
    tauri-tests:
      glob: '*.rs'
      run: pnpm test:cargo:coverage:fail

commit-msg:
  scripts:
    'commitlint.sh':
      runner: bash

refactor: remove frontend event bus, replace with cache invalidation
  src/components/domains-handlers.svelte
  src/components/providers.svelte
  src/domains/branch-management/core/composables/repository-deleted-handler.svelte.ts
  src/domains/branch-management/core/composables/use-prune-orphaned-search-keys.svelte.ts
  src/domains/branch-management/store/__tests__/search-branches.test.ts
  src/domains/branch-management/store/search-branches.svelte.ts
  src/domains/branch-management/views/active-branches-view.svelte
  src/domains/repository-management/components/__tests__/remove-repository-modal.test.ts
  src/domains/repository-management/components/remove-repository-modal.svelte
  src/domains/repository-management/core/composables/add-repository-handler.svelte.ts
  src/domains/repository-management/core/composables/use-add-repository.svelte.ts
  src/domains/repository-navigation/components/__tests__/repository-list.test.ts
  src/domains/repository-navigation/components/repository-list.svelte
  src/services/event-bus.ts
  src/utils/query-key-utils.ts
Due: eslint, prettier, typecheck, test

docs(code-design-guide): forbid cross-domain imports in §1.7
  docs/code-design-guide.md
Due: prettier

feat(arch): wire dependency-cruiser and lift cross-domain composition to routes
  .dependency-cruiser.cjs
  package.json
  pnpm-lock.yaml
  src/domains/onboarding/components/__tests__/onboarding-cta.test.ts
  src/domains/onboarding/components/onboarding-cta.svelte
  src/domains/onboarding/views/__tests__/onboarding-view.test.ts
  src/domains/onboarding/views/onboarding-view.svelte
  src/domains/repository-management/components/__tests__/repository-header-update-button.test.ts
  src/domains/repository-management/components/add-button.svelte
  src/domains/repository-management/components/update-repository-button.svelte
  src/domains/repository-management/core/composables/use-add-repository.svelte.ts
  src/domains/repository-navigation/components/__tests__/repository-list.test.ts
  src/domains/repository-navigation/components/repository-list.svelte
  src/domains/repository-navigation/views/__tests__/menu-view.test.ts
  src/domains/repository-navigation/views/menu-view.svelte
  src/routes/get-started/+page.svelte
  src/routes/repos/+layout.svelte
Due: eslint, prettier, typecheck, test

chore: remove unused resizeContainer action and $actions alias
  src/actions/__tests__/resizeContainer.test.ts
  src/actions/resizeContainer.ts
  svelte.config.js
  tsconfig.json
Due: eslint, prettier, typecheck, test

feat(backend): add typed domain error enums with AppError translation
  src-tauri/src/db/error.rs
  src-tauri/src/db/mod.rs
  src-tauri/src/domains/branch_management/error.rs
  src-tauri/src/domains/branch_management/mod.rs
  src-tauri/src/domains/path_operations/error.rs
  src-tauri/src/domains/path_operations/mod.rs
  src-tauri/src/domains/path_operations/service.rs
  src-tauri/src/domains/repository_management/error.rs
  src-tauri/src/domains/repository_management/mod.rs
  src-tauri/src/shared/git/validation.rs
Due: tauri-tests

feat: persist last-synced-at per repo and fold store/ into composables
  src-tauri/migrations/2026-05-04-064402-0000_add_last_synced_at_to_repositories/down.sql
  src-tauri/migrations/2026-05-04-064402-0000_add_last_synced_at_to_repositories/up.sql
  src-tauri/src/db/models.rs
  src-tauri/src/db/operations.rs
  src-tauri/src/db/schema.rs
  src-tauri/src/domains/branch_management/services/sync.rs
  src-tauri/src/domains/repository_management/commands/create.rs
  src-tauri/src/domains/repository_management/commands/read.rs
  src-tauri/src/domains/repository_management/services/discovery.rs
  src/domains/branch-management/components/__tests__/branch-selection.test.ts
  src/domains/branch-management/components/__tests__/delete-branch-modal.test.ts
  src/domains/branch-management/components/branch-list.svelte
  src/domains/branch-management/components/delete-branch-modal.svelte
  src/domains/branch-management/components/search-input.svelte
  src/domains/branch-management/core/composables/__tests__/deleted-branches.test.ts
  src/domains/branch-management/core/composables/__tests__/locked-branches.test.ts
  src/domains/branch-management/core/composables/__tests__/search-branches.test.ts
  src/domains/branch-management/core/composables/__tests__/selected-branches.test.ts
  src/domains/branch-management/core/composables/__tests__/use-branch-selection.test.ts
  src/domains/branch-management/core/composables/deleted-branches.svelte.ts
  src/domains/branch-management/core/composables/locked-branches.svelte.ts
  src/domains/branch-management/core/composables/search-branches.svelte.ts
  src/domains/branch-management/core/composables/selected-branches.svelte.ts
  src/domains/branch-management/core/composables/use-active-branches-view.svelte.ts
  src/domains/branch-management/core/composables/use-branch-selection.svelte.ts
  src/domains/branch-management/core/composables/use-deleted-branches-view.svelte.ts
  src/domains/branch-management/core/composables/use-prune-orphaned-search-keys.svelte.ts
  src/domains/repository-management/core/composables/__tests__/repository.test.ts
  src/domains/repository-management/core/composables/repository.svelte.ts
  src/lib/bindings.ts
  src/routes/repos/[id]/__tests__/full-integration.spec.ts
  src/store/global-store.svelte.ts
  src/ui/core/__tests__/footer.test.ts
  src/ui/core/footer.svelte
  svelte.config.js
  tsconfig.json
Due: eslint, prettier, typecheck, test, tauri-tests

docs(code-design-guide): clarify server-state placement and generated bundles
  docs/code-design-guide.md
  src/infrastructure/bindings.ts
  src/lib/bindings.ts
Due: eslint, prettier, typecheck, test

refactor: move shared Repository type from $services/common to $types
  src/domains/branch-management/components/__tests__/branch-selection.test.ts
  src/domains/branch-management/components/branch-selection.svelte
  src/domains/branch-management/components/search-input.svelte
  src/domains/branch-management/core/composables/__tests__/use-branch-selection.test.ts
  src/domains/branch-management/core/composables/use-branch-selection.svelte.ts
  src/domains/branch-management/utils/build-repository-data.ts
  src/domains/repository-management/components/__tests__/remove-repository-modal.test.ts
  src/domains/repository-management/core/composables/__tests__/repository.test.ts
  src/domains/repository-management/core/composables/repository.svelte.ts
  src/services/common.ts
  src/types/repository.ts
  src/utils/test-utils.ts
  svelte.config.js
  tsconfig.json
Due: eslint, prettier, typecheck, test

refactor(backend): tighten module visibility to pub(crate)
  src-tauri/src/db/mod.rs
  src-tauri/src/domains/branch_management/mod.rs
  src-tauri/src/domains/path_operations/mod.rs
  src-tauri/src/domains/repository_management/mod.rs
  src-tauri/src/lib.rs
  src-tauri/src/shared/mod.rs
Due: tauri-tests

chore(backend): remove dead code surfaced by tighter visibility
  src-tauri/src/db/error.rs
  src-tauri/src/db/operations.rs
  src-tauri/src/domains/path_operations/mod.rs
  src-tauri/src/domains/path_operations/types.rs
  src-tauri/src/domains/repository_management/mod.rs
  src-tauri/src/domains/repository_management/types.rs
  src-tauri/src/shared/utils/mod.rs
Due: tauri-tests

refactor(backend): move services/ into core/{application,models}/
  src-tauri/src/domains/branch_management/commands/actions.rs
  src-tauri/src/domains/branch_management/commands/delete.rs
  src-tauri/src/domains/branch_management/commands/locked.rs
  src-tauri/src/domains/branch_management/commands/selected.rs
  src-tauri/src/domains/branch_management/core/application/deletion.rs
  src-tauri/src/domains/branch_management/core/application/locked_branches.rs
  src-tauri/src/domains/branch_management/core/application/mod.rs
  src-tauri/src/domains/branch_management/core/application/restoration.rs
  src-tauri/src/domains/branch_management/core/application/selected_branches.rs
  src-tauri/src/domains/branch_management/core/application/switching.rs
  src-tauri/src/domains/branch_management/core/application/sync.rs
  src-tauri/src/domains/branch_management/core/mod.rs
  src-tauri/src/domains/branch_management/core/models/deletion.rs
  src-tauri/src/domains/branch_management/core/models/mod.rs
  src-tauri/src/domains/branch_management/events.rs
  src-tauri/src/domains/branch_management/git/branch.rs
  src-tauri/src/domains/branch_management/mod.rs
  src-tauri/src/domains/path_operations/commands.rs
  src-tauri/src/domains/path_operations/core/application/get_root_path.rs
  src-tauri/src/domains/path_operations/core/application/mod.rs
  src-tauri/src/domains/path_operations/core/mod.rs
  src-tauri/src/domains/path_operations/core/models/mod.rs
  src-tauri/src/domains/path_operations/core/models/root_path_response.rs
  src-tauri/src/domains/path_operations/mod.rs
  src-tauri/src/domains/repository_management/commands/create.rs
  src-tauri/src/domains/repository_management/commands/read.rs
  src-tauri/src/domains/repository_management/core/application/discovery.rs
  src-tauri/src/domains/repository_management/core/application/mod.rs
  src-tauri/src/domains/repository_management/core/application/state_hash.rs
  src-tauri/src/domains/repository_management/core/application/validation.rs
  src-tauri/src/domains/repository_management/core/mod.rs
  src-tauri/src/domains/repository_management/core/models/git_dir_response.rs
  src-tauri/src/domains/repository_management/core/models/mod.rs
  src-tauri/src/domains/repository_management/mod.rs
Due: tauri-tests

feat(backend): add BranchName, CommitSha, RepositoryPath value objects
  src-tauri/src/domains/branch_management/core/models/branch_name.rs
  src-tauri/src/domains/branch_management/core/models/commit_sha.rs
  src-tauri/src/domains/branch_management/core/models/mod.rs
  src-tauri/src/domains/repository_management/core/models/mod.rs
  src-tauri/src/domains/repository_management/core/models/repository_path.rs
Due: tauri-tests

test: pin FE/BE Value Object parity with contract fixtures
  src-tauri/src/domains/branch_management/core/models/branch_name.rs
  src-tauri/src/domains/branch_management/core/models/commit_sha.rs
  src-tauri/src/domains/repository_management/core/models/repository_path.rs
  src/core/__tests__/commit-sha.contract.test.ts
  src/core/__tests__/repository-path.contract.test.ts
  src/domains/branch-management/core/models/__tests__/branch-name.contract.test.ts
  src/infrastructure/bindings.ts
  svelte.config.js
  tests/contracts/branch-name.cases.json
  tests/contracts/commit-sha.cases.json
  tests/contracts/repository-path.cases.json
  tsconfig.json
Due: eslint, prettier, typecheck, test, tauri-tests

fix(pindoba): align with latest alpha packages
  panda.config.ts
  pnpm-lock.yaml
  src/domains/repository-navigation/components/repository-list.svelte
  vite.config.js
Due: eslint, prettier, typecheck, test

chore: run tests headless by default
  package.json
Due: prettier

feat(sidebar): add collapsible rail and redesign navigation header
  src/domains/repository-navigation/components/app-header.svelte
  src/domains/repository-navigation/components/repository-list.svelte
  src/domains/repository-navigation/views/__tests__/menu-view.test.ts
  src/domains/repository-navigation/views/menu-view.svelte
  src/routes/repos/+layout.svelte
Due: eslint, prettier, typecheck, test

refactor(repository-navigation): rename components and move query to infrastructure
  src/domains/repository-navigation/README.md
  src/domains/repository-navigation/components/__tests__/repository-nav-list.test.ts
  src/domains/repository-navigation/components/repository-nav-list.svelte
  src/domains/repository-navigation/components/sidebar-brand.svelte
  src/domains/repository-navigation/infrastructure/queries/create-get-repository-list-query.ts
  src/domains/repository-navigation/views/__tests__/sidebar-view.test.ts
  src/domains/repository-navigation/views/sidebar-view.svelte
  src/routes/repos/+layout.svelte
  src/routes/repos/[id]/__tests__/fixtures/repository-page-fixture.svelte
  src/routes/repos/__tests__/layout.spec.ts
Due: eslint, prettier, typecheck, test

style(repository-management): use stamp icons and ghost md buttons in options menu
  src/domains/repository-management/components/remove-repository-modal.svelte
  src/domains/repository-management/components/update-repository-button.svelte
Due: eslint, prettier, typecheck, test

refactor(repository-management): rename components and rewrite README
  src/domains/repository-management/README.md
  src/domains/repository-management/components/__tests__/add-repository-button.test.ts
  src/domains/repository-management/components/__tests__/repository-header.test.ts
  src/domains/repository-management/components/__tests__/update-repository-button.test.ts
  src/domains/repository-management/components/add-repository-button.svelte
  src/domains/repository-management/components/repository-header.svelte
  src/domains/repository-management/views/repository-view.svelte
  src/routes/get-started/+page.svelte
  src/routes/repos/+layout.svelte
  src/routes/repos/[id]/restore/__tests__/page.test.ts
  tests/integration/repository-addition-flow.spec.ts
Due: eslint, prettier, typecheck, test

test: pre-bundle tauri deps to stop vitest browser reload flake
  vite.config.js
Due: eslint, prettier, test

refactor(branch-management): rename components, move layout, drop dead code
  src/domains/branch-management/README.md
  src/domains/branch-management/components/__tests__/bulk-actions-toolbar.test.ts
  src/domains/branch-management/components/branch-list-empty-state.svelte
  src/domains/branch-management/components/branch-search.svelte
  src/domains/branch-management/components/bulk-actions-toolbar.svelte
  src/domains/branch-management/core/composables/create-check-commit-reachable-query.ts
  src/domains/branch-management/core/composables/create-clear-locked-branches-mutation.ts
  src/domains/branch-management/core/composables/create-list-branches-query.ts
  src/domains/branch-management/core/models/branch-constants.ts
  src/domains/branch-management/core/models/branch-name.ts
  src/domains/branch-management/layouts/branches-layout.svelte
  src/domains/branch-management/views/active-branches-view.svelte
  src/domains/branch-management/views/deleted-branches-view.svelte
Due: eslint, prettier, typecheck, test

refactor(card): build branch and commit cards on pindoba Card
  package.json
  src/domains/branch-management/core/models/__tests__/commit.test.ts
  src/domains/branch-management/core/models/commit.ts
  src/ui/core/__tests__/commit-card.test.ts
  src/ui/core/branch-card.svelte
  src/ui/core/commit-card.svelte
  tsconfig.json
Due: eslint, prettier, typecheck, test

refactor(button): wrap icon-button icons in stamp
  src/domains/branch-management/components/branch-list.svelte
  src/domains/branch-management/components/branch-search.svelte
  src/domains/branch-management/components/delete-branch-modal.svelte
  src/domains/branch-management/components/lock-branch-toggle.svelte
  src/domains/branch-management/components/restore-deleted-branch-modal.svelte
  src/domains/repository-management/components/__tests__/add-repository-button.test.ts
  src/domains/repository-management/components/add-repository-button.svelte
  src/domains/repository-management/components/back-button.svelte
  src/domains/repository-management/components/repository-header.svelte
  src/ui/core/footer.svelte
  src/ui/core/icon-button.svelte
Due: eslint, prettier, typecheck, test

ci(backend): enforce domain boundaries with a cross-domain import check
  .github/workflows/rust-check.yml
  lefthook.yml
  src-tauri/scripts/check-domain-boundaries.sh
  src-tauri/scripts/domain-boundaries-baseline.txt
Due: prettier

docs(adr): record backend domain-boundary decisions
  docs/adr/002-backend-domain-boundaries.md
Due: prettier

refactor(backend): decouple application layer from Tauri
  src-tauri/src/domains/branch_management/commands/locked.rs
  src-tauri/src/domains/branch_management/commands/selected.rs
  src-tauri/src/domains/branch_management/core/application/locked_branches.rs
  src-tauri/src/domains/branch_management/core/application/selected_branches.rs
  src-tauri/src/domains/branch_management/core/application/sync.rs
  src-tauri/src/domains/repository_management/commands/create.rs
  src-tauri/src/domains/repository_management/commands/read.rs
  src-tauri/src/domains/repository_management/core/application/discovery.rs
  src-tauri/src/shared/infrastructure/db/mod.rs
Due: tauri-tests

refactor(repository-management): inject cross-domain deps via ports
  src-tauri/scripts/domain-boundaries-baseline.txt
  src-tauri/src/composition.rs
  src-tauri/src/domains/repository_management/commands/create.rs
  src-tauri/src/domains/repository_management/commands/read.rs
  src-tauri/src/domains/repository_management/core/application/discovery.rs
  src-tauri/src/domains/repository_management/core/mod.rs
  src-tauri/src/domains/repository_management/core/ports.rs
  src-tauri/src/main.rs
Due: tauri-tests

docs(adr): record Tauri decoupling and cross-domain port injection
  docs/adr/002-backend-domain-boundaries.md
Due: prettier

refactor(backend): move DB queries into owning domains
  src-tauri/src/domains/branch_management/commands/actions.rs
  src-tauri/src/domains/branch_management/commands/delete.rs
  src-tauri/src/domains/branch_management/commands/queries.rs
  src-tauri/src/domains/branch_management/core/application/locked_branches.rs
  src-tauri/src/domains/branch_management/core/application/selected_branches.rs
  src-tauri/src/domains/branch_management/core/application/sync.rs
  src-tauri/src/domains/branch_management/infrastructure/mod.rs
  src-tauri/src/domains/branch_management/infrastructure/repositories.rs
  src-tauri/src/domains/repository_management/commands/create.rs
  src-tauri/src/domains/repository_management/commands/delete.rs
  src-tauri/src/domains/repository_management/commands/read.rs
  src-tauri/src/domains/repository_management/core/application/discovery.rs
  src-tauri/src/domains/repository_management/infrastructure/mod.rs
  src-tauri/src/domains/repository_management/infrastructure/repositories.rs
  src-tauri/src/shared/infrastructure/db/mod.rs
Due: tauri-tests

ci(backend): enforce domain boundaries in strict mode
  .github/workflows/rust-check.yml
  docs/adr/002-backend-domain-boundaries.md
  lefthook.yml
  src-tauri/scripts/domain-boundaries-baseline.txt
Due: prettier

docs(adr): keep commands/ over ipc/ as an accepted deviation
  docs/adr/002-backend-domain-boundaries.md
Due: prettier

docs(adr): tidy stale debt notes after boundary cleanup
  docs/adr/002-backend-domain-boundaries.md
Due: prettier

refactor(db): squash migrations into a single baseline schema
  docs/adr/002-backend-domain-boundaries.md
  src-tauri/migrations/2025-10-02-041331-0000_create_repositories/down.sql
  src-tauri/migrations/2025-10-02-041331-0000_create_repositories/up.sql
  src-tauri/migrations/2025-10-02-041331_create_initial_schema/down.sql
  src-tauri/migrations/2025-10-02-041331_create_initial_schema/up.sql
  src-tauri/migrations/2025-10-02-041405-0000_create_branches/down.sql
  src-tauri/migrations/2025-10-02-041405-0000_create_branches/up.sql
  src-tauri/migrations/2025-10-02-041405-0001_create_settings/down.sql
  src-tauri/migrations/2025-10-02-041405-0001_create_settings/up.sql
  src-tauri/migrations/2025-10-02-041405-0002_create_notifications/down.sql
  src-tauri/migrations/2025-10-02-041405-0002_create_notifications/up.sql
  src-tauri/migrations/2025-10-13-162221-0000_add_last_sync_hash_to_repositories/down.sql
  src-tauri/migrations/2025-10-13-162221-0000_add_last_sync_hash_to_repositories/up.sql
  src-tauri/migrations/2025-10-13-164441-0000_replace_last_sync_hash_with_timestamp/down.sql
  src-tauri/migrations/2025-10-13-164441-0000_replace_last_sync_hash_with_timestamp/up.sql
  src-tauri/migrations/2025-10-13-173254-0000_add_branch_context_to_selected_branches/down.sql
  src-tauri/migrations/2025-10-13-173254-0000_add_branch_context_to_selected_branches/up.sql
  src-tauri/migrations/2025-10-14-010804-0000_consolidate_selection_and_locking/down.sql
  src-tauri/migrations/2025-10-14-010804-0000_consolidate_selection_and_locking/up.sql
  src-tauri/migrations/2026-05-04-064402-0000_add_last_synced_at_to_repositories/down.sql
  src-tauri/migrations/2026-05-04-064402-0000_add_last_synced_at_to_repositories/up.sql
  src-tauri/src/domains/repository_management/commands/create.rs
  src-tauri/src/domains/repository_management/core/application/discovery.rs
  src-tauri/src/shared/infrastructure/db/models.rs
  src-tauri/src/shared/infrastructure/db/schema.rs
  src/infrastructure/bindings.ts
Due: eslint, prettier, typecheck, test, tauri-tests

refactor(branch-management): adopt BranchError at git call sites (step-4)
  src-tauri/src/domains/branch_management/error.rs
  src-tauri/src/domains/branch_management/infrastructure/git/branch.rs
Due: tauri-tests

refactor(repository-management): adopt RepositoryError for domain errors (step-4)
  src-tauri/src/domains/repository_management/commands/create.rs
  src-tauri/src/domains/repository_management/core/application/discovery.rs
  src-tauri/src/domains/repository_management/error.rs
  src-tauri/src/domains/repository_management/infrastructure/state_hash.rs
Due: tauri-tests

docs(adr): record step-4 domain-error adoption as complete
  docs/adr/002-backend-domain-boundaries.md
Due: prettier
